<app-page-header title="Project Overview" title1="Projects" activeTitle="Project Overview" ></app-page-header>
<!-- Start::row-1 -->
   <!-- Start::row-1 -->
   <div class="row">
    <div class="col-xxl-8">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Project Details
                </div> 
                <div>
                    <a routerLink="/apps/projects/create-project" class="btn btn-sm btn-primary btn-wave m-1"><i class="ri-add-line align-middle me-1 fw-medium"></i>Create Project</a>
                    <a href="javascript:void(0);" class="btn btn-sm btn-primary1 btn-wave"><i class="ri-share-line align-middle fw-medium me-1"></i>Share</a>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center mb-4 gap-2 flex-wrap">
                    <span class="avatar avatar-lg me-1 bg-primary-gradient"><i class="ri-stack-line fs-24 lh-1"></i></span>
                    <div>
                        <h6 class="fw-medium mb-2 task-title">
                             Customer Feedback Dashboard Development
                        </h6>
                        <span class="badge bg-success-transparent"> In progress</span>
                        <span class="text-muted fs-12"><i class="ri-circle-fill text-success mx-2 fs-9"></i>Last Updated 1 Day Ago</span>
                    </div>
                    <div class="ms-auto align-self-start">
                        <spk-dropdowns [Customclass]="'dropdown'" 
                        [class]="'btn btn-sm btn-wave btn-primary-light waves-effect waves-light no-caret'"  [Icon]="true" [IconClass]="'fe fe-more-vertical'"
                        [Menuclass]="'dropdown-menu  dropdown-menu-end'">
                        <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="ri-eye-line align-middle me-1 d-inline-block"></i>View</a></li>
                                <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="ri-edit-line align-middle me-1 d-inline-block"></i>Edit</a></li>
                                <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="ri-delete-bin-line me-1 align-middle d-inline-block"></i>Delete</a></li>
                    </spk-dropdowns>
                    </div>
                </div>
                <div class="fs-15 fw-medium mb-2">Project Description :</div>
                <p class="text-muted mb-4">The Customer Feedback Dashboard Development project aims to create a comprehensive dashboard that aggregates and visualizes customer feedback data. This will enable our team to gain actionable insights and improve customer satisfaction.</p>
                <div class="d-flex gap-5 mb-4 flex-wrap">
                    <div class="d-flex align-items-center gap-2 me-3">
                        <span class="avatar avatar-md avatar-rounded me-1 bg-primary1-transparent"><i class="ri-calendar-event-line fs-18 lh-1 align-middle"></i></span>
                        <div>
                            <div class="fw-medium mb-0 task-title">
                                Start Date
                            </div>
                            <span class="fs-12 text-muted">28 August, 2024</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-2 me-3">
                        <span class="avatar avatar-md avatar-rounded me-1 bg-primary2-transparent"><i class="ri-time-line fs-18 lh-1 align-middle"></i></span>
                        <div>
                            <div class="fw-medium mb-0 task-title">
                                End Date
                            </div>
                            <span class="fs-12 text-muted">30 Oct, 2024</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <span class="avatar avatar-md p-1 avatar-rounded me-1 bg-primary-transparent"><img src="./assets/images/faces/11.jpg" alt=""></span>
                        <div>
                            <span class="d-block fs-14 fw-medium">Amith Catzem</span>
                            <span class="fs-12 text-muted">Project Manager</span>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="fs-15 fw-medium mb-2">Key tasks :</div>
                            <ul class="task-details-key-tasks mb-0">
                                <li>Design and implement a user-friendly dashboard interface.</li>
                                <li>Integrate data sources and APIs to fetch customer feedback data.</li>
                                <li>Develop interactive data visualizations for easy interpretation.</li>
                                <li>Implement filters and sorting functionalities for data analysis.</li>
                                <li>Create user authentication and access control features.</li>
                                <li>Perform usability testing and iterate based on feedback.</li>
                            </ul>
                        </div>
                        <div class="col-xl-6">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <div class="fs-15 fw-medium">Sub Tasks :</div>
                                <a href="javascript:void(0);" class="btn btn-primary-light btn-wave btn-sm waves-effect waves-light">See More</a>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center">
                                        <div class="me-2"><i class="ri-link fs-15 text-secondary lh-1 p-1 bg-secondary-transparent rounded-circle"></i></div>
                                        <div class="fw-medium">Research latest web development trends.</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center">
                                        <div class="me-2"><i class="ri-link fs-15 text-secondary lh-1 p-1 bg-secondary-transparent rounded-circle"></i></div>
                                        <div class="fw-medium">Create technical specifications document.</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center">
                                        <div class="me-2"><i class="ri-link fs-15 text-secondary lh-1 p-1 bg-secondary-transparent rounded-circle"></i></div>
                                        <div class="fw-medium">Optimize website for mobile responsiveness.</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="fs-15 fw-medium mb-2">Skills :</div>
                <div class="d-flex gap-2 flex-wrap">
                    <span class="badge bg-light text-default border">UI/UX Design</span>
                    <span class="badge bg-light text-default border">Data Integration</span>
                    <span class="badge bg-light text-default border">Data Visualization</span>
                    <span class="badge bg-light text-default border">Front-End Development</span>
                    <span class="badge bg-light text-default border">Authentication Systems</span>
                    <span class="badge bg-light text-default border">Usability Testing</span>
                    <span class="badge bg-light text-default border">Agile Methodology</span>
                    <span class="badge bg-light text-default border">API Development</span>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex align-items-center justify-content-between gap-2 flex-wrap">
                    <div class="d-flex gap-3 align-items-center">
                        <span class="fs-12">Assigned To :</span>
                        <div class="avatar-list-stacked">
                            <span class="avatar avatar-sm avatar-rounded" data-bs-toggle="tooltip" tooltipClass="tooltip-primary" ngbTooltip="John">
                                <img src="./assets/images/faces/2.jpg" alt="img">
                            </span>
                            <span class="avatar avatar-sm avatar-rounded" data-bs-toggle="tooltip" tooltipClass="tooltip-primary" ngbTooltip="Emily">
                                <img src="./assets/images/faces/8.jpg" alt="img">
                            </span>
                            <span class="avatar avatar-sm avatar-rounded" data-bs-toggle="tooltip" tooltipClass="tooltip-primary" ngbTooltip="Liam">
                                <img src="./assets/images/faces/5.jpg" alt="img">
                            </span>
                            <span class="avatar avatar-sm avatar-rounded" data-bs-toggle="tooltip" tooltipClass="tooltip-primary" ngbTooltip="Sophia">
                                <img src="./assets/images/faces/10.jpg" alt="img">
                            </span>
                            <span class="avatar avatar-sm avatar-rounded" data-bs-toggle="tooltip" tooltipClass="tooltip-primary" ngbTooltip="Charlotte">
                                <img src="./assets/images/faces/15.jpg" alt="img">
                            </span>
                        </div>
                    </div>
                    <div class="d-flex gap-3 align-items-center">
                        <span class="fs-12">Status:</span>
                        <span class="d-block"><span class="badge bg-info">On going</span></span>
                    </div>
                    <div class="d-flex gap-3 align-items-center">
                        <span class="fs-12">Priority:</span>
                        <span class="d-block fs-14 fw-medium"><span class="badge bg-primary3">Medium</span></span>
                    </div>
                </div>
            </div>                            
        </div>  
        <div class="card custom-card overflow-hidden">
            <div class="card-header justify-content-between">
                <div class="card-title">To Do Tasks</div>
                <div class="btn btn-sm btn-primary-light btn-wave"><i class="ri-add-line align-middle me-1 fw-medium"></i>Add Task</div>
            </div>
            <div class="card-body p-0 position-relative" id="todo-content">
               
                <div>
                    <div class="table-responsive">
                        <app-spk-reusable-tables  [columns]="projectColumn"  tableClass="  text-nowrap"
                        [showCheckbox]="true"  checkboxClass="" cdkDropList (cdkDropListDropped)="drop($event)">
                        @for(project of projects;track $index){

                            <tr class="todo-box" cdkDrag>
                                <td class="task-checkbox"><input class="form-check-input" type="checkbox" value="" aria-label="..." [(ngModel)]="project.checked"></td>
                                <td>
                                    <button class="btn btn-icon btn-sm btn-wave btn-light todo-handle">: :</button>
                                </td>
                                <td>
                                    <span class="fw-medium">{{project.task}}</span>
                                </td>
                                <td>
                                    <span class="fw-medium text-{{project.bg}}"><i class="ri-circle-line fw-semibold fs-7 me-2 lh-1 align-middle"></i>{{project.status}}</span>
                                </td>
                                <td>
                                    {{project.date}}
                                </td>
                                <td class="text-end">
                                    <div class="d-flex gap-2">
                                        <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-info-light btn-wave waves-effect waves-light">
                                            <i class="ri-edit-line"></i>
                                        </a>
                                        <a href="javascript:void(0);" (click)="remove(project.date)" class="btn btn-icon btn-sm btn-danger-light btn-wave waves-effect waves-light">
                                            <i class="ri-delete-bin-line"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                        </app-spk-reusable-tables>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-4">
        <div class="card custom-card justify-content-between">
            <div class="card-header">
                <div class="card-title">Project Discussions</div>
            </div>
            <div class="card-body">
                <ul class="list-unstyled profile-timeline">
                    <li>
                        <div>
                            <span class="avatar avatar-sm shadow-sm bg-primary avatar-rounded profile-timeline-avatar">
                                A
                            </span>
                            <div class="mb-2 d-flex align-items-start gap-2">
                                <div>
                                    <span class="fw-medium">Project Kick-off Meeting</span>
                                </div>
                                <span class="ms-auto bg-light text-muted badge">15,Jun 2024 - 06:20</span>
                            </div>
                            <p class="text-muted mb-0">
                                Discuss project scope, objectives, and timelines.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="avatar avatar-sm shadow-sm bg-primary2 avatar-rounded profile-timeline-avatar">
                                B
                            </span>
                            <div class="mb-2 d-flex align-items-start gap-2">
                                <div>
                                    <span class="fw-medium">Project Details Page Planning</span>
                                </div>
                                <span class="ms-auto bg-light text-muted badge">20, Jun 2024 - 09:00</span>
                            </div>
                            <p class="text-muted mb-0">
                                Define feature requirements and layout for the project details page.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="avatar avatar-sm shadow-sm avatar-rounded profile-timeline-avatar">
                                <img src="./assets/images/faces/12.jpg" alt="">
                            </span>
                            <div class="text-muted mb-2 d-flex align-items-start gap-2 flex-wrap flex-xxl-nowrap">
                                <div>
                                    <span class="text-default"><b>Brenda Adams</b> shared a document with <b>you</b></span>.
                                </div>
                                <span class="ms-auto bg-light text-muted badge">18,Jun 2024 - 09:15</span>
                            </div>
                            <p class="profile-activity-media mb-0">
                                <a href="javascript:void(0);">
                                    <img src="./assets/images/media/file-manager/3.png" alt="">
                                </a>  
                                <span class="fs-11 text-muted">728.62KB</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="avatar avatar-sm shadow-sm bg-primary3 avatar-rounded profile-timeline-avatar">
                                J
                            </span>
                            <div class="text-muted mb-2 d-flex align-items-start gap-2 flex-wrap ">
                                <div>
                                    <span class="text-default"><b>You</b> 
                                    shared a post with 4 people <b>John,Emma,Liam,Sophie</b></span>.
                                </div>
                                <span class="ms-auto bg-light text-muted badge">30,Jun 2024 - 13:20</span>
                            </div>
                            <p class="profile-activity-media mb-2">
                                <a href="javascript:void(0);">
                                    <img src="./assets/images/media/media-21.jpg" alt="">
                                </a>   
                            </p>
                            <div>
                                <div class="avatar-list-stacked">
                                    <span class="avatar avatar-xs avatar-rounded">
                                        <img src="./assets/images/faces/3.jpg" alt="img">
                                    </span>
                                    <span class="avatar avatar-xs avatar-rounded">
                                        <img src="./assets/images/faces/9.jpg" alt="img">
                                    </span>
                                    <span class="avatar avatar-xs avatar-rounded">
                                        <img src="./assets/images/faces/6.jpg" alt="img">
                                    </span>
                                    <span class="avatar avatar-xs avatar-rounded">
                                        <img src="./assets/images/faces/14.jpg" alt="img">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="avatar avatar-sm shadow-sm avatar-rounded profile-timeline-avatar">
                                <img src="./assets/images/faces/7.jpg" alt="">
                            </span>
                            <div class="mb-2">
                                <span class="fw-medium">Security and Compliance Audit</span>
                            </div>
                            <p class="text-muted mb-0 fs-12">
                                Ensure the system adheres to security and regulatory requirements.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="avatar avatar-sm shadow-sm avatar-rounded profile-timeline-avatar">
                                <img src="./assets/images/media/media-45.jpg" alt="">
                            </span>
                            <div class="mb-1 d-flex align-items-start gap-2 flex-wrap flex-xxl-nowrap">
                                <div>
                                    <b>Lucas</b> Commented on Project <a class="text-secondary" href="javascript:void(0);"><u>#System Integration</u></a>.
                                </div>
                                <span class="ms-auto bg-light text-muted badge">25,Jun 2024 - 10:52</span>
                            </div>
                            <p class="text-muted">Integration progress looks good, keep it up! 👍</p>
                            <p class="profile-activity-media mb-0">
                                <a href="javascript:void(0);">
                                    <img src="./assets/images/media/media-28.jpg" alt="">
                                </a>    
                                <a href="javascript:void(0);">
                                    <img src="./assets/images/media/media-30.jpg" alt="">
                                </a>    
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <div class="d-sm-flex align-items-center lh-1">
                    <div class="me-sm-2 mb-2 mb-sm-0 p-1 rounded-circle bg-primary-transparent d-inline-block">
                        <img src="./assets/images/faces/5.jpg" alt="" class="avatar avatar-sm avatar-rounded">
                    </div>
                    <div class="flex-fill">
                        <div class="input-group flex-nowrap">
                            <input type="text" class="form-control w-sm-50 border shadow-none" placeholder="Share your thoughts" aria-label="Recipient's username with two button addons">
                            <button class="btn btn-primary-light btn-wave waves-effect waves-light" type="button"><i class="bi bi-emoji-smile"></i></button>
                            <button class="btn btn-primary-light btn-wave waves-effect waves-light" type="button"><i class="bi bi-paperclip"></i></button>
                            <button class="btn btn-primary-light btn-wave waves-effect waves-light" type="button"><i class="bi bi-camera"></i></button>
                            <button class="btn btn-primary btn-wave waves-effect waves-light text-nowrap" type="button">Post</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card overflow-hidden">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Project Documents
                </div>
                <spk-dropdowns [Customclass]="'dropdown'" [title]="'View All'" [class]="'btn btn-light btn-full btn-sm no-caret '"  [Icon]="true" [IconClass]="'ti ti-chevron-down ms-1'"
                [Menuclass]="'dropdown-menu'"  >
                <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Download</a></li>
                <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Import</a></li>
                <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Export</a></li>
            </spk-dropdowns>
            </div>
            <div class="card-body p-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="d-flex align-items-center flex-wrap gap-2">
                            <span class="avatar avatar-md avatar-rounded p-2 bg-light lh-1">
                                <img src="./assets/images/media/file-manager/1.png" alt="">
                            </span>
                            <div class="flex-fill">
                                <a href="javascript:void(0);"><span class="d-block fw-medium">Project Proposal.pdf</span></a>
                                <span class="d-block text-muted fs-12 fw-normal">1.2MB</span>
                            </div>
                            <div class="btn-list">
                                <button class="btn btn-sm btn-icon btn-info-light btn-wave"><i class="ri-edit-line"></i></button>
                                <button class="btn btn-sm btn-icon btn-danger-light btn-wave"><i class="ri-delete-bin-line"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex align-items-center flex-wrap gap-2">
                            <span class="avatar avatar-rounded bg-light lh-1">
                                <img src="./assets/images/media/file-manager/3.png" alt="">
                            </span>
                            <div class="flex-fill">
                                <a href="javascript:void(0);"><span class="d-block fw-medium">Contracts.docx</span></a>
                                <span class="d-block text-muted fs-12 fw-normal">1.5MB</span>
                            </div>
                            <div class="btn-list">
                                <button class="btn btn-sm btn-icon btn-info-light btn-wave"><i class="ri-edit-line"></i></button>
                                <button class="btn btn-sm btn-icon btn-danger-light btn-wave"><i class="ri-delete-bin-line"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex align-items-center flex-wrap gap-2">
                            <span class="avatar avatar-md avatar-rounded p-2 bg-light lh-1">
                                <img src="./assets/images/media/file-manager/1.png" alt="">
                            </span>
                            <div class="flex-fill">
                                <a href="javascript:void(0);"><span class="d-block fw-medium">Meeting Notes.txt</span></a>
                                <span class="d-block text-muted fs-12 fw-normal">256KB</span>
                            </div>
                            <div class="btn-list">
                                <button class="btn btn-sm btn-icon btn-info-light btn-wave"><i class="ri-edit-line"></i></button>
                                <button class="btn btn-sm btn-icon btn-danger-light btn-wave"><i class="ri-delete-bin-line"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex align-items-center flex-wrap gap-2">
                            <span class="avatar avatar-rounded bg-light lh-1">
                                <img src="./assets/images/media/file-manager/3.png" alt="">
                            </span>
                            <div class="flex-fill">
                                <a href="javascript:void(0);"><span class="d-block fw-medium">User Manual.pdf</span></a>
                                <span class="d-block text-muted fs-12 fw-normal">1.8MB</span>
                            </div>
                            <div class="btn-list">
                                <button class="btn btn-sm btn-icon btn-info-light btn-wave"><i class="ri-edit-line"></i></button>
                                <button class="btn btn-sm btn-icon btn-danger-light btn-wave"><i class="ri-delete-bin-line"></i></button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->
<!--End::row-1 -->
