<app-page-header title="Deals" title1="CRM" activeTitle="Deals" ></app-page-header>
  <!-- Start::row-1 -->
  <div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-body">
                <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between">
                    <div class="d-flex align-items-center">
                        <span class="fw-medium fs-16 me-2">Deals</span><span class="badge bg-primary align-middle">26</span>
                    </div>
                    <div class="d-flex flex-wrap gap-2">
                        <a class="btn btn-primary btn-sm" data-bs-toggle="modal" (click)="open(content)" data-bs-target="#create-contact"><i class="ri-add-line me-1 fw-medium align-middle"></i>New Deal</a>
                        <button class="btn btn-success-light btn-sm">Export As CSV</button>
                        <spk-dropdowns [Customclass]="'dropdown'" 
                        [class]="'btn btn-light btn-sm btn-wave waves-effect waves-light no-caret'" [title]="'Sort By'" [Icon]="true"
                        [IconClass]="'ri-arrow-down-s-line align-middle ms-1 d-inline-block'" [Menuclass]="'dropdown-menu  dropdown-menu-end'">
                        <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Newest</a></li>
                        <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Date Added</a></li>
                        <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">A - Z</a></li>
                    </spk-dropdowns>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->

<!-- Start::row-2 -->
<div class="row">
    @for(data of leadCards;track $index){
        <div class="col-xxl-2 col-md-4">
        <app-spk-leads-reusable-card
      [title]="data.title"
      [count]="data.count"
      [iconClass]="data.iconClass"
      [borderColor]="data.borderClass"
      [badgeColor]="data.badgeClass">
    </app-spk-leads-reusable-card>
    </div>
    }

</div>
<!-- End::row-2 -->

<!-- Start::row-3 -->
<div class="row">
    <div class="col-xxl-2" id="leads-discovered"    [sortablejs]="normalList1"
    [sortablejsOptions]="normalOptions">
    @for(data of leads;track $index){
        <app-spk-deals-reusable-card [avatarUrl]="data.imageUrl"[name]="data.name"[timestamp]="data.date" [companyName]="data.company"[amount]="data.amount" [amountType]="'Amount'" [additionalCompanyName]="data.company1"> </app-spk-deals-reusable-card>
    }
    </div>
    <div class="col-xxl-2" id="leads-qualified"  [sortablejs]="normalList2"
    [sortablejsOptions]="normalOptions1">
    @for(data of qualifiedLeads;track $index){
        <app-spk-deals-reusable-card 
        [avatarUrl]="data.imageUrl"
        [name]="data.name"
        [timestamp]="data.date"
        [companyName]="data.company"
        [amount]="data.amount"
        [amountType]="data.amountType"
        [additionalCompanyName]="data.company1">
    </app-spk-deals-reusable-card>
    }
    
    </div>
    <div class="col-xxl-2" id="contact-initiated" [sortablejs]="normalList3"
    [sortablejsOptions]="normalOptions2">
    @for(data of contacts;track $index){
        <app-spk-deals-reusable-card 
        [avatarUrl]="data.imageUrl"
        [name]="data.name"
        [timestamp]="data.date"
        [companyName]="data.company"
        [amount]="data.amount"
        [amountType]="'amount'"
        [additionalCompanyName]="data.dealName">
    </app-spk-deals-reusable-card>
    }
    </div>
    <div class="col-xxl-2" id="needs-identified" [sortablejs]="normalList4"
    [sortablejsOptions]="normalOptions3">  
    @for(data of needs;track $index){
        <app-spk-deals-reusable-card 
        [avatarUrl]="data.imageUrl"
        [name]="data.name"
        [timestamp]="data.date"
        [companyName]="data.company"
        [amount]="data.amount"
        [amountType]="data.amountType"
        [additionalCompanyName]="data.dealName">
    </app-spk-deals-reusable-card>
    }                      
      
    </div>
    <div class="col-xxl-2" id="negotiation" [sortablejs]="normalList5"
    [sortablejsOptions]="normalOptions4">
    @for(data of negotiation;track $index){
        <app-spk-deals-reusable-card 
        [avatarUrl]="data.imageUrl"
        [name]="data.name"
        [timestamp]="data.date"
        [companyName]="data.company"
        [amount]="data.amount"
        [amountType]="data.amountType"
        [additionalCompanyName]="data.dealName">
    </app-spk-deals-reusable-card>
    }      
      
    </div>
    <div class="col-xxl-2" id="deal-finalized"[sortablejs]="normalList6"
    [sortablejsOptions]="normalOptions5">
    @for(data of finalized;track $index){
        <app-spk-deals-reusable-card 
        [avatarUrl]="data.imageUrl"
        [name]="data.name"
        [timestamp]="data.date"
        [companyName]="data.company"
        [amount]="data.amount"
        [amountType]="data.amountType"
        [additionalCompanyName]="data.dealName">
    </app-spk-deals-reusable-card>
    }      
     
    </div>
</div>
<!-- End::row-3 -->
<!-- Start:: New Deal -->

        <ng-template #content let-c="close" let-d="dismiss">      
            <div class="modal-header">
                <h6 class="modal-title">New Deal</h6>
                <button type="button" class="btn-close" (click)="d('Cross click')" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body px-4">
                <div class="row gy-3">
                    <div class="col-xl-12">
                        <div class="mb-0 text-center">
                            <span class="avatar avatar-xxl avatar-rounded">
                                <img [src]="url1 ? url1 :'./assets/images/faces/9.jpg'" alt="" id="profile-img">
                                <span class="badge rounded-pill bg-primary avatar-badge">
                                    <input type="file" name="photo" class="position-absolute w-100 h-100 op-0" id="profile-change"  (change)="handleFileInput($event)" >
                                    <i class="fe fe-camera"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <label for="deal-name" class="form-label">Contact Name</label>
                        <input type="text" class="form-control" id="deal-name" placeholder="Contact Name">
                    </div>
                    <div class="col-xl-6">
                        <label for="deal-lead-score" class="form-label">Deal Value</label>
                        <input type="number" class="form-control" id="deal-lead-score" placeholder="Deal Value">
                    </div>
                    <div class="col-xl-12">
                        <label for="company-name" class="form-label">Company Name</label>
                        <input type="text" class="form-control" id="company-name" placeholder="Company Name">
                    </div>
                    <div class="col-xl-12">
                        <label class="form-label">Last Contacted</label>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                <app-spk-flatpickr [placeholder]="'Choose date and time'" class="form-control"
                                [mode]="'single'" [altInput]="false" [convertModelValue]="true" [enableTime]="true"
                                [dateFormat]="'Y-m-d H:i'"></app-spk-flatpickr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light"
                    data-bs-dismiss="modal"  (click)="c('Cancel click')">Cancel</button>
                <button type="button" class="btn btn-primary">Create Deal</button>
            </div>
    </ng-template>
<!-- End:: New Deal -->