<div class="row">
    <div class="col-xl-12">
        <app-showcode-card [title]="' Crear Rol'" [prism]="prismCode.validationTS1">


            <form class="row g-3">
                
                <div class="col-md-4">
                    <label for="validationDefault01" class="form-label">Nombre de rol</label>
                    <input type="text" class="form-control" id="validationDefault01"
                        required formControlName="name" >
                </div>
                <div class="col-md-8">
                    <label for="validationDefault02" class="form-label">Descripción</label>
                    <input type="text" class="form-control" id="validationDefault02"
                         required placeholder="Detalle del rol" formControlName="name3">
                </div>
                <br><br><br><br><br>

                <div class="row">
                    <label for="validationDefault01" class="form-label">Marque las opciones a las que el rol tendra acceso: </label>
                </div>

                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Proveedores
                        </label>
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Consultas de clientes
                        </label>
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Consultas de pólizas
                        </label>
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Reportes
                        </label>
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Ventas
                        </label>
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Usuarios
                        </label>
                    </div>

                </div>
                <br><br>
                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Usuarios
                        </label>
                    </div>

                </div>  <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Usuarios
                        </label>
                    </div>

                </div>  <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Usuarios
                        </label>
                    </div>

                </div>  <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Usuarios
                        </label>
                    </div>

                </div>  <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Usuarios
                        </label>
                    </div>

                </div>  <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Usuarios
                        </label>
                    </div>

                </div>
                <br><br>
                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Usuarios
                        </label>
                    </div>

                </div>  <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Usuarios
                        </label>
                    </div>

                </div>  <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Usuarios
                        </label>
                    </div>

                </div>  <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Usuarios
                        </label>
                    </div>

                </div>  <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Usuarios
                        </label>
                    </div>

                </div>  <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Usuarios
                        </label>
                    </div>

                </div>
                <br>

               
                
                <div class="col-12">
                    <div class="">
                        <a class="btn btn-primary btn-wave" href="/apps/gestion/roles">Enviar</a>
                    </div>
                </div>
            </form>
            </app-showcode-card>
    
    </div>
</div>