     <div class="card custom-card landing-card">
        <div class="card-body text-center">
            <div class="mb-4">
                <div class="p-2 border d-inline-block border-{{bgColor}} border-opacity-10 bg-{{bgColor}}-transparent rounded-pill" >
                    <span class="avatar avatar-lg avatar-rounded bg-{{bgColor}} svg-white" [innerHTML]="svg">
                       
                    </span>
                </div>
            </div>
            <h6 class="fw-semibold">{{ title }}</h6>
            <p class="text-muted mb-0">{{ description }}</p>
        </div>
    </div>
