<div class="card custom-card">
  <div class="m-3 bg-light rounded-1 border">
    <div class="card-body pb-4 mb-2">
      <div class="d-flex align-items-center w-100 justify-content-between gap-1">
        <div>
          <p class="mb-1 text-muted fw-medium">{{ title }}</p>
          <h4 class="mb-0 fw-medium">{{ value }}</h4>
        </div>
        <div class="ms-auto text-end">
          <span
            [ngClass]="badgeClass"
            class="badge rounded-pill align-items-center fs-11"
          >
            <i [ngClass]="iconClass" class="fs-11"></i> {{ percentage }}%
          </span>
          <div class="text-muted fs-12 mt-1">{{ subtitle }}</div>
        </div>
      </div>
    </div>
    <div id="{{ chartId }}">
      <app-apex-chart [chartOptions]="chartOptions"></app-apex-chart>
    </div>
  </div>
</div>
