<app-page-header title="To Do List" title1="Pages" activeTitle="To Do List"></app-page-header>

                    <!-- Start::row-1 -->
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="card custom-card">
                                <div class="card-header gap-3 align-items-center pb-3 border-bottom border-block-end-dashed">
                                    <span class="avatar avatar-md bg-primary avatar-rounded"><i class="ri-file-list-3-line fs-16"></i></span>
                                    <div class="card-title">
                                        To Do List
                                        <span class="text-muted d-block fs-12"> Create new list</span>
                                    </div>
                                    <button class="btn btn-sm btn-primary1-light ms-auto rounded-pill">
                                        <i class="ri-add-line me-1"></i>Add New List
                                    </button>
                                </div>
                                <div class="card-body p-0">
                                    <div class="p-3 task-navigation border-bottom border-block-end-dashed">
                                        <ul class="list-unstyled task-main-nav mb-0">
                                            <li class="px-0 pt-0">
                                                <span class="fs-11 text-muted op-7 fw-medium">General</span>
                                            </li>
                                            <li class="active">
                                                <a href="javascript:void(0);">
                                                    <div class="d-flex align-items-center">
                                                        <span class="me-2 lh-1">
                                                            <i class="ri-checkbox-multiple-line align-middle fs-14"></i>
                                                        </span>
                                                        <span class="flex-fill text-nowrap">
                                                            All Tasks
                                                        </span>
                                                        <span class="badge bg-info-transparent rounded-pill">167</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="d-flex align-items-center">
                                                        <span class="me-2 lh-1">
                                                            <i class="ri-checkbox-circle-line align-middle fs-14 text-primary"></i>
                                                        </span>
                                                        <span class="flex-fill text-nowrap">
                                                            Completed
                                                        </span>
                                                        <span class="badge bg-primary1-transparent rounded-pill">12</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="d-flex align-items-center">
                                                        <span class="me-2 lh-1">
                                                            <i class="ri-calendar-line align-middle fs-14 text-primary"></i>
                                                        </span>
                                                        <span class="flex-fill text-nowrap">
                                                            Today
                                                        </span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="d-flex align-items-center">
                                                        <span class="me-2 lh-1">
                                                            <i class="ri-star-line text-primary align-middle fs-14"></i>
                                                        </span>
                                                        <span class="flex-fill text-nowrap">
                                                            Starred
                                                        </span>
                                                        <span class="badge bg-primary3-transparent rounded-pill">04</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="d-flex align-items-center">
                                                        <span class="me-2 lh-1">
                                                            <i class="ri-user-line text-primary align-middle fs-14"></i>
                                                        </span>
                                                        <span class="flex-fill text-nowrap">
                                                            Personal
                                                        </span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="d-flex align-items-center">
                                                        <span class="me-2 lh-1">
                                                            <i class="ri-briefcase-line text-primary align-middle fs-14"></i>
                                                        </span>
                                                        <span class="flex-fill text-nowrap">
                                                            Work
                                                        </span>
                                                        <span class="badge bg-primary1-transparent rounded-pill">03</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="d-flex align-items-center">
                                                        <span class="me-2 lh-1">
                                                            <i class="ri-delete-bin-5-line text-primary align-middle fs-14"></i>
                                                        </span>
                                                        <span class="flex-fill text-nowrap">
                                                            Trash
                                                        </span>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="list-unstyled task-main-nav mb-0">
                                            <li class="px-0 pt-2 d-flex justify-content-between gap-2 align-items-center">
                                                <span class="fs-11 text-muted op-7 fw-medium">Work Space</span>
                                            </li>
                                            <li>
                                                <div class="d-flex align-items-center flex-wrap gap-2">
                                                    <div><input class="form-check-input" type="checkbox" value="" aria-label="..."></div>
                                                    <div>
                                                        <a href="javascript:void(0);">
                                                            <span class="fw-medium"> Project testing ...</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex align-items-center flex-wrap gap-2">
                                                    <div><input class="form-check-input" type="checkbox" value="" aria-label="..."></div>
                                                    <div>
                                                        <a href="javascript:void(0);">
                                                            <span class="fw-medium">Bug Fixes and Issue Tracking..</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex align-items-center flex-wrap gap-2">
                                                    <div><input class="form-check-input" type="checkbox" value="" aria-label="..."></div>
                                                    <div>
                                                        <a href="javascript:void(0);">
                                                            <span class="fw-medium">New Feature Development...</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex align-items-center flex-wrap gap-2">
                                                    <div><input class="form-check-input" type="checkbox" value="" aria-label="..."></div>
                                                    <div>
                                                        <a href="javascript:void(0);">
                                                            <span class="fw-medium">Admin Template review...</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between m-3 p-3 bg-primary-transparent rounded border overflow-hidden todo-list-card">
                                        <div>
                                            <div class="fs-15 fw-medium">Today Completed</div>
                                            <div class="mb-4 fs-15 fw-medium">Tasks</div>
                                            <h4 class="mb-0">3/28 Tasks</h4>
                                        </div>
                                        <div class="">
                                            <img src="./assets/images/media/media-66.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9">
                           <div class="card custom-card">
                                <div class="card-header justify-content-between pb-3 border-bottom border-block-end-dashed">
                                    <div class="flex-grow-1"> 
                                        <input class="form-control w-100" type="text" placeholder="Search Here" aria-label=".form-control-sm example"> 
                                    </div> 
                                    <div class="d-flex flex-wrap gap-2"> 
                                        <spk-dropdowns [Customclass]="'dropdown'" [title]="'Sort By'" [class]="'btn  btn-light no-caret'" [Icon]="true" [IconClass]="'ri-arrow-down-s-line align-middle ms-1 d-inline-block'" 
                                        [Menuclass]="'dropdown-menu'"  >
                                        <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">New</a></li>
                                        <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Popular</a></li>
                                        <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Relevant</a></li>
                                    </spk-dropdowns>
                                    </div>
                                    <button class="btn btn-sm btn-primary ms-auto" (click)="open(content)" data-bs-toggle="modal" data-bs-target="#addtask">
                                        <i class="ri-add-circle-line"></i> Add New Task
                                    </button>
                                </div>
                                <div class="card-body p-0 position-relative" id="todo-content">
                                    <div>
                                        <div class="table-responsive" cdkDropList (cdkDropListDropped)="drop($event)" >
                                            <app-spk-reusable-tables (toggleSelectAll)="handleToggleSelectAll($event)" [columns]="todolistColumn" tableClass=" text-nowrap"
                                            [showCheckbox]="true" >
                                            @for(task of tasks;track $index){

                                                <tr class="todo-box" cdkDrag>
                                                    <td class="task-checkbox"><input class="form-check-input" type="checkbox" value="" aria-label="..." [checked]="allTasksChecked" [(ngModel)]="task.checked"></td>
                                                    <td>
                                                        <button class="btn btn-icon btn-sm btn-wave btn-light todo-handle">: :</button>
                                                    </td>
                                                    <td>
                                                        <span class="fw-medium">{{task.title}}</span>
                                                    </td>
                                                    <td>
                                                        <span class="fw-medium text-{{task.bg}}"><i class="ri-circle-line fw-semibold fs-7 me-2 lh-1 align-middle"></i>{{task.status}}</span>
                                                    </td>
                                                    <td>
                                                        {{task.date}}
                                                    </td>
                                                    <td>
                                                        <span class="badge bg-{{task.bg1}}-transparent">{{task.priority}}</span>
                                                    </td>
                                                    <td class="text-center d-flex gap-2 flex-wrap align-items-center fw-medium">
                                                        <span class="avatar avatar-sm avatar-rounded">
                                                            <img [src]="task.src" alt="">
                                                        </span>
                                                        {{task.name}}
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="progress progress-animate progress-xs w-100" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100">
                                                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{task.bg2}}" [ngStyle]="{ width: task.percent + '%' }"></div>
                                                            </div>
                                                            <div class="ms-2">{{task.progress}}</div>
                                                        </div>
                                                    </td>
                                                    <td class="text-end">
                                                        <div class="d-flex gap-2">
                                                            <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-info-light btn-wave waves-effect waves-light">
                                                                <i class="ri-edit-line"></i>
                                                            </a>
                                                            <a href="javascript:void(0);" (click)="click(task.date)" class="todo-btn btn btn-icon btn-sm btn-danger-light btn-wave waves-effect waves-light">
                                                                <i class="ri-delete-bin-line"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            } 
                                            </app-spk-reusable-tables>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer border-top-0"> 
                                    <div class="d-flex align-items-center justify-content-between flex-wrap gap-2"> 
                                        <div> Showing 10 Entries <i class="bi bi-arrow-right ms-2 fw-semibold"></i> </div>
                                        <div> 
                                            <nav aria-label="Page navigation" class="pagination-style-4"> 
                                                <ul class="pagination mb-0"> 
                                                    <li class="page-item disabled"> <a class="page-link" href="javascript:void(0);"> Prev </a> </li>
                                                    <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li> 
                                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li> 
                                                    <li class="page-item"> <a class="page-link text-primary" href="javascript:void(0);"> next </a> </li> 
                                                </ul> 
                                            </nav> 
                                        </div> 
                                    </div> 
                                </div>
                           </div>
                        </div>
                    </div>
                    <!--End::row-1 -->
                    <ng-template #content let-offcanvas>
                        <div class="modal-header">
                            <h6 class="modal-title" id="mail-ComposeLabel">Create Task</h6>
                            <button type="button" (click)="offcanvas.close('cross click')" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row gy-2">
                                <div class="col-xl-12">
                                    <label for="task-name" class="form-label">Task Name</label>
                                    <input type="text" class="form-control" id="task-name" placeholder="Task Name">
                                </div>
                                <div class="col-xl-12">
                                    <label class="form-label">Assigned To</label>
                                    <app-spk-ng-select 
                                    [options]="tags"
                                    [id]="'choices-multiple-remove-button'"
                                    [selectClass]="''"
                                    [multiple]="true"
                                    [defaultValue]="selectedChoices"
                                    [clearable]="true"
                                    [searchable]="true"
                                    [hideSelected]="true"
                                    [additionalProperties]="{}">
                                    </app-spk-ng-select>
                                   
                                </div>
                                <div class="col-xl-6">
                                    <label class="form-label">Assigned Date</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                            <app-spk-flatpickr placeholder="Choose Date" class="form-control"
                                            [mode]="'single'" [altInput]="false" [convertModelValue]="true" [enableTime]="false"
                                            [dateFormat]="'Y-m-d'"></app-spk-flatpickr>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <label class="form-label">Target Date</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                            <app-spk-flatpickr placeholder="Choose Date" class="form-control"
                        [mode]="'single'" [altInput]="false" [convertModelValue]="true" [enableTime]="false"
                        [dateFormat]="'Y-m-d'"></app-spk-flatpickr>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <label class="form-label">Status</label>
                                    <app-spk-ng-select 
                                    [options]="Status"
                                    [id]="'choices-single-default'"
                                    [selectClass]="''"
                                    [clearable]="true"
                                    [searchable]="true"
                                    [hideSelected]="true"
                                    [placeholder]="'Select'"
                                    [additionalProperties]="{}">
                                    </app-spk-ng-select>
                               
                                </div>
                                <div class="col-xl-6">
                                    <label class="form-label">Priority</label>
                                    <app-spk-ng-select 
                                    [options]="Priority"
                                    [id]="'choices-single-default'"
                                    [selectClass]="''"
                                    [clearable]="true"
                                    [searchable]="true"
                                    [hideSelected]="true"
                                    [placeholder]="'Select'"
                                    [additionalProperties]="{}">
                                    </app-spk-ng-select>
                                 
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" (click)="offcanvas.close('cross click')" class="btn m-0 me-2 btn-light"
                                data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn m-0 btn-primary">Create</button>
                        </div>
                    </ng-template>