<div class="row authentication coming-soon justify-content-center g-0 my-auto">
    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-6 col-sm-7 col-11 my-auto">
        <div class="authentication-cover rounded-3 overflow-hidden card custom-card border my-3">
            <div class="aunthentication-cover-content text-center">
                <div class="row justify-content-center align-items-center mx-0 g-0">
                    <div class="col-xxl-11 col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12">
                        <div>
                            <div class="mb-4"> <a routerLink="/dashboards/sales">
                                    <img src="./assets/images/brand-logos/toggle-logo.png" alt=""
                                        class="authentication-brand"> </a>
                            </div>
                            <h4 class="mb-2">Under Maintenance</h4>
                            <p class="mb-5 text-muted">Excuse our digital dust - we're sprucing up our site to bring you
                                an even better browsing adventure soon!</p>
                            <div class="input-group mb-5">
                                <input type="email" class="form-control form-control-lg bg-light"
                                    placeholder="info@gmail.com" aria-label="info@gmail.com"
                                    aria-describedby="button-addon2">
                                <button class="btn btn-primary btn-lg" type="button"
                                    id="button-addon2">Subscribe</button>
                            </div>
                            <div class="d-flex gap-3 flex-wrap mt-4 mb-0 gy-xxl-0 gy-3 justify-content-center"
                                id="timer">
                                <div>
                                    <div class="">
                                        <p class="mb-1 fw-medium">DAYS</p>
                                        <h4
                                            class="mb-0 avatar d-block bg-primary-transparent avatar-rounded shadow-sm avatar-xl mt-2 backdrop-blur">
                                            {{days}}</h4>
                                    </div>
                                </div>
                                <div>
                                    <div class="">
                                        <p class="mb-1 fw-medium">HOURS</p>
                                        <h4
                                            class="avatar d-block bg-primary1-transparent avatar-rounded shadow-sm avatar-xl mb-0 mt-2 backdrop-blur">
                                            {{hours}}</h4>
                                    </div>
                                </div>
                                <div>
                                    <div class="">
                                        <p class="mb-1 fw-medium">MINUTES</p>
                                        <h4
                                            class="mb-0 avatar d-block bg-primary2-transparent avatar-rounded shadow-sm avatar-xl mt-2 backdrop-blur">
                                            {{mins}}</h4>
                                    </div>
                                </div>
                                <div>
                                    <div class="">
                                        <p class="mb-1 fw-medium">SECONDS</p>
                                        <h4
                                            class="mb-0 avatar d-block bg-primary3-transparent avatar-rounded shadow-sm avatar-xl mt-2 backdrop-blur">
                                            {{secs}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>