@use "../variables";
/* Start:: widgets */
.widget-card {
    position: relative;
    background-image: url(../images/media/media-25.jpg);
    z-index: 1;
    padding-block-start: 3.735rem;
    padding-block-end: 3.735rem;
    &:before {
        content: "";
        inset-block-start: 0;
        inset-inline-start: 0;
        position: absolute;
        background-color: variables.$primary-08;
        width: 100%;
        height: 100%;   
        color: variables.$white;
        z-index: -1;
    }
}

.widget-card2 {
    position: relative;
    background-image: url(../images/media/media-35.jpg);
    z-index: 1;
    padding-block-start: 3.735rem;
    padding-block-end: 3.735rem;
    &:before {
        content: "";
        inset-block-start: 0;
        inset-inline-start: 0;
        position: absolute;
        background-color: rgba(var(--primary-tint1-rgb), 0.8);
        width: 100%;
        height: 100%;   
        color: variables.$white;
        z-index: -1;
    }
}

.visit-gender.male:before {
    background-color: variables.$primary;
}

.visit-gender.female:before {
    background-color: variables.$secondary;
}

.visit-gender {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 12px;
        height: 6px;
        border-radius: 0.1rem;
        inset-block-start: 7px;
        inset-inline-start: -30px;
    }
}

#chart-10,
#chart-11,
#chart-12,
#chart-13 {
    position: absolute;
    inset-block-start: -0.5rem;
    inset-inline-end: 1rem;
}

.widgets-task-list {
    list-style: none;
    position: relative;
    margin-block-end: 0;

    li {
        margin-block-end: 22px;
        position: relative;
        &:last-child {
            margin-block-end: 0;
        }
        &:before {
            content: "";
            position: absolute;
            width: 9px;
            height:9px;
            background-color: variables.$custom-white;
            inset-inline-start: -27px;
            inset-block-start: 7px;
            border-radius: 50%;
        }
        &:nth-child(1):before {
            border: 2px solid variables.$primary;
            box-shadow: 0 0 4px 2px variables.$primary-05;
        }
        &:nth-child(2):before {
            border: 2px solid variables.$primary-1;
            box-shadow: 0 0 4px 2px rgba(var(--primary-tint1-rgb), 0.5);
        }
        &:nth-child(3):before {
            border: 2px solid variables.$primary-2;
            box-shadow: 0 0 4px 2px rgba(var(--primary-tint2-rgb), 0.5);
        }
        &:nth-child(4):before {
            border: 2px solid variables.$primary-3;
            box-shadow: 0 0 4px 2px rgba(var(--primary-tint3-rgb), 0.5);
        }
        &:nth-child(5):before {
            border: 2px solid variables.$secondary;
            box-shadow: 0 0 4px 2px rgba(var(--secondary-rgb), 0.5);
        }
        &:nth-child(6):before {
            border: 2px solid variables.$success;
            box-shadow: 0 0 4px 2px rgba(var(--success-rgb), 0.5);
        }
        &:nth-child(7):before {
            border: 2px solid variables.$orange;
            box-shadow: 0 0 4px 2px rgba(var(--orange-rgb), 0.5);
        }
        &:nth-child(8):before {
            border: 2px solid variables.$info;
            box-shadow: 0 0 4px 2px rgba(var(--info-rgb), 0.5);
        }
        &:nth-child(9):before {
            border: 2px solid variables.$warning;
            box-shadow: 0 0 4px 2px rgba(var(--warning-rgb), 0.5);
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: 4px;
        bottom: 0;
        height: 90%;
        inset-inline-start: 9px;
        border-inline-start: 1px dashed var(--default-border);
    }
}
#activecustomers {
    .apexcharts-text.apexcharts-datalabel-label {
        fill: variables.$text-muted;
    }
}
.widget-circle-chart {
    height: 218px;
}
/* End:: widgets */