<app-page-header title="Jobs" title1="Dashboards" activeTitle="Jobs" ></app-page-header>

  <!-- Start::row-1 -->
    <div class="row row-cols row-cols-xl-5">
        
        @for(card of cardData;track $index){
        <div class="col-xxl col-xl-6">
                      <app-spk-reusable-card [card]="card"
                      ></app-spk-reusable-card>                  
                    </div>
        }

  </div>
  <!--End::row-1 -->

  <!-- Start::row-2 -->
  <div class="row">
      <div class="col-xxl-6">
          <div class="card custom-card">
              <div class="card-header justify-content-between">
                  <div class="card-title">Job Statistics</div>
                  <div class="d-flex gap-2">
                      <div class="btn btn-sm btn-outline-light">Today</div>
                      <div class="btn btn-sm btn-outline-light">Weakly</div>
                      <div class="btn btn-sm btn-light">Yearly</div>
                  </div>
              </div>
              <div class="card-body">
                  <div id="jobs-statistics">
                    <app-apex-chart [chartOptions]="chartOptions"></app-apex-chart>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xxl-3">
          <div class="mb-4 d-flex align-items-center justify-content-between">
              <h6 class="mb-0">Need To Hire:</h6>
              <div>
                  <button type="button" class="btn btn-sm btn-primary-light ">View All</button>
              </div>
          </div>
          <div class="card custom-card">
              <div class="card-body">
                  <ul class="mb-0 list-unstyled">
                      <li class="mb-4">
                          <div class="d-flex align-items-center">
                              <a aria-label="anchor" href="javascript:void(0);" class="me-2">
                                  <span class="avatar avatar-lg bg-primary-transparent text-primary">UD</span>
                              </a>
                              <div class="flex-fill text-truncate">
                                  <a href="javascript:void(0);" class="fw-medium fs-14 w-75 text-truncate d-block"> UI/UX Designers</a>
                                  <p class="text-muted mb-0 fs-12 w-75 text-truncate">Status: <span class="text-success">75% completed</span></p>
                              </div>
                              <div class=" text-end ms-auto">
                                  <div class="text-muted op-7 fs-12">Candidates</div>
                                  <div class="fw-medium">03</div>
                              </div>
                          </div>
                      </li>
                      <li class="mb-4">
                          <div class="d-flex align-items-center">
                              <a aria-label="anchor" href="javascript:void(0);" class="me-2">
                                  <span class="avatar avatar-lg bg-primary1-transparent text-primary1">SD</span>
                              </a>
                              <div class="flex-fill text-truncate">
                                  <a href="javascript:void(0);" class="fw-medium fs-14 w-75 text-truncate d-block"> Senior Developer</a>
                                  <p class="text-muted mb-0 fs-12 w-75 text-truncate">Status: <span class="text-danger">15% completed</span></p>
                              </div>
                              <div class=" text-end ms-auto">
                                  <div class="text-muted op-7 fs-12">Candidates</div>
                                  <div class="fw-medium">12</div>
                              </div>
                          </div>
                      </li>
                      <li class="mb-4">
                          <div class="d-flex align-items-center">
                              <a aria-label="anchor" href="javascript:void(0);" class="me-2">
                                  <span class="avatar avatar-lg bg-primary2-transparent text-primary2">MM</span>
                              </a>
                              <div class="flex-fill text-truncate">
                                  <a href="javascript:void(0);" class="fw-medium fs-14 w-75 text-truncate d-block"> Marketing Manager</a>
                                  <p class="text-muted mb-0 fs-12 w-75 text-truncate">Status: <span class="text-warning">pending</span></p>
                              </div>
                              <div class=" text-end ms-auto">
                                  <div class="text-muted op-7 fs-12">Candidates</div>
                                  <div class="fw-medium">08</div>
                              </div>
                          </div>
                      </li>
                      <li class="mb-4">
                          <div class="d-flex align-items-center">
                              <a aria-label="anchor" href="javascript:void(0);" class="me-2">
                                  <span class="avatar avatar-lg bg-primary3-transparent text-primary3">CW</span>
                              </a>
                              <div class="flex-fill text-truncate">
                                  <a href="javascript:void(0);" class="fw-medium fs-14 w-75 text-truncate d-block"> Content Writers</a>
                                  <p class="text-muted mb-0 fs-12 w-75 text-truncate">Status: <span class="text-success">55% completed</span></p>
                              </div>
                              <div class=" text-end ms-auto">
                                  <div class="text-muted op-7 fs-12">Candidates</div>
                                  <div class="fw-medium">01</div>
                              </div>
                          </div>
                      </li>
                      <li class="mb-1">
                          <div class="d-flex align-items-center">
                              <a aria-label="anchor" href="javascript:void(0);" class="me-2">
                                  <span class="avatar avatar-lg bg-warning-transparent text-warning">RD</span>
                              </a>
                              <div class="flex-fill text-truncate">
                                  <a href="javascript:void(0);" class="fw-medium fs-14 w-75 text-truncate d-block"> React Developer</a>
                                  <p class="text-muted mb-0 fs-12 w-75 text-truncate">Status: <span class="text-danger">15% completed</span></p>
                              </div>
                              <div class="text-end ms-auto">
                                  <div class="text-muted op-7 fs-12">Candidates</div>
                                  <div class="fw-medium">03</div>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-xxl-3">
          <div class="card custom-card">
              <div class="card-header">
                  <div class="card-title w-95 text-truncate">
                      Candidates By Gender
                  </div>
              </div>
              <div class="card-body m-3 pb-4 px-0 bg-light">
                  <div id="job-acceptance">
                    <app-apex-chart [chartOptions]="chartOptions1"></app-apex-chart>

                  </div>
              </div>
              <div class="card-footer">
                  <div class="row gy-4">
                      <div class="col-xl-12">
                          <div class="d-flex align-items-end gap-3 flex-wrap justify-content-between">
                              <div>
                                  <h5 class="mb-0">15,754</h5>
                                  <span class="text-muted fs-12 op-8">Male Candidates</span>
                              </div>
                              <div class="text-muted fs-13">
                                  <span class="text-success"><i class="ri-arrow-up-s-fill"></i>1.6%<i class="ri-bar-chart-fill ms-2 text-muted"></i></span>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-12">
                          <div class="d-flex align-items-end gap-3 flex-wrap justify-content-between">
                              <div>
                                  <h5 class="mb-0">4,872</h5>
                                  <span class="text-muted fs-12 op-8">Female Candidates</span>
                              </div>
                              <div class="text-muted fs-13">
                                  <span class="text-danger"><i class="ri-arrow-down-s-fill"></i>1.3%<i class="ri-bar-chart-fill ms-2 text-muted"></i></span>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-12">
                          <div class="d-flex align-items-end gap-3 flex-wrap justify-content-between">
                              <div>
                                  <h5 class="mb-0">2.5k</h5>
                                  <span class="text-muted fs-11 op-7">Total Candidates</span>
                              </div>
                              <div class="text-muted fs-13">
                                  <span class="text-success"><i class="ri-arrow-up-s-fill"></i>0.6%<i class="ri-bar-chart-fill ms-2 text-muted"></i></span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End::row-2 -->

  <!-- Start::row-3 -->
  <div class="row">
      <div class="col-xxl-3 col-md-12">
          <div class="card custom-card">
              <div class="card-header justify-content-between">
                  <div class="card-title">
                      New Applicants
                  </div>
                  <spk-dropdowns [Customclass]="'dropdown'" [class]="'btn btn-outline-light border btn-full btn-sm no-caret '" [title]="'View All'"  [Icon]="true" [IconClass]="'ti ti-chevron-down ms-1'"
                  [Menuclass]="'dropdown-menu'"  >
                  <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Download</a></li>
                  <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Import</a></li>
                  <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Export</a></li>
              </spk-dropdowns>
              </div>
              <div class="card-body">
                  <ul class="mb-0 list-unstyled">
                      <li class="mb-4">
                          <div class="d-flex align-items-center">
                              <a aria-label="anchor" href="javascript:void(0);" class="me-2">
                                  <span class="avatar avatar-md bg-primary-transparent text-primary">
                                      <img src="./assets/images/faces/1.jpg" alt="">
                                  </span>
                              </a>
                              <div class="flex-grow-1">
                                  <a href="javascript:void(0);" class="fs-13 fw-medium"> Mona Cruzis</a>
                                  <p class="text-muted mb-0 fw-normal fs-12"><span class="fw-medium">React Developer</span></p>
                              </div>
                              <div class="btn-list">
                                  <a href="javascript:void(0)" data-bs-toggle="tooltip" placement="top" ngbTooltip="Call" class="btn btn-icon btn-sm rounded-pill btn-info-light"><i class="ti ti-phone align-middle"></i></a>
                                  <a href="javascript:void(0)" data-bs-toggle="tooltip" placement="top" ngbTooltip="Mail" class="btn btn-icon btn-sm rounded-pill btn-primary1-light"><i class="ti ti-at align-middle"></i></a>
                              </div>
                          </div>
                      </li>
                      <li class="mb-4">
                          <div class="d-flex align-items-center">
                              <a aria-label="anchor" href="javascript:void(0);" class="me-2">
                                  <span class="avatar avatar-md bg-primary-transparent text-primary">
                                      <img src="./assets/images/faces/11.jpg" alt="">
                                  </span>
                              </a>
                              <div class="flex-grow-1">
                                  <a href="javascript:void(0);" class="fs-13 fw-medium"> Soyab Khan</a>
                                  <p class="text-muted mb-0 fw-normal fs-12"><span class="fw-medium">Java Developer</span></p>
                              </div>
                              <div class="btn-list">
                                  <a href="javascript:void(0)" data-bs-toggle="tooltip" placement="top" ngbTooltip="Call" class="btn btn-icon btn-sm rounded-pill btn-info-light"><i class="ti ti-phone align-middle"></i></a>
                                  <a href="javascript:void(0)" data-bs-toggle="tooltip" placement="top" ngbTooltip="Mail" class="btn btn-icon btn-sm rounded-pill btn-primary1-light"><i class="ti ti-at align-middle"></i></a>
                              </div>
                          </div>
                      </li>
                      <li class="mb-4">
                          <div class="d-flex align-items-center">
                              <a aria-label="anchor" href="javascript:void(0);" class="me-2">
                                  <span class="avatar avatar-md bg-primary2 text-fixed-white">
                                      KM
                                  </span>
                              </a>
                              <div class="flex-grow-1">
                                  <a href="javascript:void(0);" class="fs-13 fw-medium"> Katherine Myn </a>
                                  <p class="text-muted mb-0 fw-normal fs-12"><span class="fw-medium">UI Developer</span></p>
                              </div>
                              <div class="btn-list">
                                  <a href="javascript:void(0)" data-bs-toggle="tooltip" placement="top" ngbTooltip="Call" class="btn btn-icon btn-sm rounded-pill btn-info-light"><i class="ti ti-phone align-middle"></i></a>
                                  <a href="javascript:void(0)" data-bs-toggle="tooltip" placement="top" ngbTooltip="Mail" class="btn btn-icon btn-sm rounded-pill btn-primary1-light"><i class="ti ti-at align-middle"></i></a>
                              </div>
                          </div>
                      </li>
                      <li class="mb-4">
                          <div class="d-flex align-items-center">
                              <a aria-label="anchor" href="javascript:void(0);" class="me-2">
                                  <span class="avatar avatar-md bg-primary-transparent text-primary">
                                      <img src="./assets/images/faces/13.jpg" alt="">
                                  </span>
                              </a>
                              <div class="flex-grow-1">
                                  <a href="javascript:void(0);" class="fs-13 fw-medium"> James Roy</a>
                                  <p class="text-muted mb-0 fw-normal fs-12"><span class="fw-medium">React Developer</span></p>
                              </div>
                              <div class="btn-list">
                                  <a href="javascript:void(0)" data-bs-toggle="tooltip" placement="top" ngbTooltip="Call" class="btn btn-icon btn-sm rounded-pill btn-info-light"><i class="ti ti-phone align-middle"></i></a>
                                  <a href="javascript:void(0)" data-bs-toggle="tooltip" placement="top" ngbTooltip="Mail" class="btn btn-icon btn-sm rounded-pill btn-primary1-light"><i class="ti ti-at align-middle"></i></a>
                              </div>
                          </div>
                      </li>
                      <li class="mb-4">
                          <div class="d-flex align-items-center">
                              <a aria-label="anchor" href="javascript:void(0);" class="me-2">
                                  <span class="avatar avatar-md bg-primary-transparent text-primary">
                                      <img src="./assets/images/faces/5.jpg" alt="">
                                  </span>
                              </a>
                              <div class="flex-grow-1">
                                  <a href="javascript:void(0);" class="fs-13 fw-medium"> Cayathe Dore </a>
                                  <p class="text-muted mb-0 fw-normal fs-12"><span class="fw-medium">Vue.js Developer</span></p>
                              </div>
                              <div class="btn-list">
                                  <a href="javascript:void(0)" data-bs-toggle="tooltip" placement="top" ngbTooltip="Call" class="btn btn-icon btn-sm rounded-pill btn-info-light"><i class="ti ti-phone align-middle"></i></a>
                                  <a href="javascript:void(0)" data-bs-toggle="tooltip" placement="top" ngbTooltip="Mail" class="btn btn-icon btn-sm rounded-pill btn-primary1-light"><i class="ti ti-at align-middle"></i></a>
                              </div>
                          </div>
                      </li>
                      <li class="mb-1">
                          <div class="d-flex align-items-center">
                              <a aria-label="anchor" href="javascript:void(0);" class="me-2">
                                  <span class="avatar avatar-md bg-primary3 text-fixed-white">
                                      SP
                                  </span>
                              </a>
                              <div class="flex-grow-1">
                                  <a href="javascript:void(0);" class="fs-13 fw-medium"> Surjith Pandey</a>
                                  <p class="text-muted mb-0 fw-normal fs-12"><span class="fw-medium">UX Developer</span></p>
                              </div>
                              <div class="btn-list">
                                  <a href="javascript:void(0)" data-bs-toggle="tooltip" placement="top" ngbTooltip="Call" class="btn btn-icon btn-sm rounded-pill btn-info-light"><i class="ti ti-phone align-middle"></i></a>
                                  <a href="javascript:void(0)" data-bs-toggle="tooltip" placement="top" ngbTooltip="Mail" class="btn btn-icon btn-sm rounded-pill btn-primary1-light"><i class="ti ti-at align-middle"></i></a>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-xxl-6 col-md-12">
          <div class="mb-3 d-flex align-items-center justify-content-between">
              <h6 class="mb-0">Recent Jobs:</h6>
              <div>
                  <button type="button" class="btn btn-sm btn-primary-light ">View All</button>
              </div>
          </div>
          <div class="card custom-card overflow-hidden">
              <div class="card-body p-0">
                  <div class="table-responsive">
                    <app-spk-reusable-tables [columns]="jobColumns" tableClass="text-nowrap recent-job"  [showCheckbox]="false">
                        @for(job of jobs;track $index){

                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="me-3">
                                            <span class="avatar avatar-sm bg-{{job.bg}}-transparent">
                                                <i class="ri-{{job.icon}}  fs-20"></i>
                                            </span>
                                        </div>
                                        <div>
                                            <p class="mb-0 fw-medium">{{job.title}}</p>
                                            <p class=" mb-0 text-muted fs-11">posted: {{job.posted}} ago</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="mb-0">{{job.applicants}} Applicants</p>
                                </td>
                                <td>
                                    <p class="mb-0 fw-medium">{{job.date}}</p>
                                </td>
                                <td>
                                    <p class="mb-0 fs-12 text-muted"><i class="ri-map-pin-fill text-xs me-1"></i>{{job.location}}</p>
                                </td>
                                <td>
                                    <div class="btn-list">
                                        <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-primary-light"><i class="ti ti-edit"></i></a>
                                        <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-primary1-light" (click)="remove(job.date)"><i class="ti ti-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                        </app-spk-reusable-tables>
                    
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xxl-3 col-md-12">
          <div class="card custom-card">
              <div class="card-header justify-content-between">
                  <div class="card-title">
                      Activity Feed
                  </div>
                  <spk-dropdowns [Customclass]="'dropdown'" [class]="'btn btn-outline-light border btn-full btn-sm no-caret '" [title]="'View All'"  [Icon]="true" [IconClass]="'ti ti-chevron-down ms-1'"
                  [Menuclass]="'dropdown-menu'"  >
                  <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Download</a></li>
                  <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Import</a></li>
                  <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Export</a></li>
              </spk-dropdowns>
              </div>
              <div class="card-body p-0">
                  <ul class="list-group list-group-flush list-unstyled">
                      <li class="list-group-item border-bottom-0 d-flex gap-2 align-items-start pb-2">
                          <div class="avatar avatar-sm bg-primary-transparent flex-shrink-0 avatar-rounded border border-primary border-opacity-10">
                              <i class="ri-user-fill"></i>
                          </div>
                          <div class="text-truncate">
                              <span class="fw-medium">New Job Posted</span>
                              <p class="text-muted mb-0 fs-12 w-80 text-truncate">Frontend Developer</p>
                          </div>
                          <span class="text-muted ms-auto fs-12 flex-shrink-0">2 mins ago</span>
                      </li>
                      <li class="list-group-item border-bottom-0 d-flex gap-2 align-items-start pb-2">
                          <div class="avatar avatar-sm bg-primary1-transparent flex-shrink-0 avatar-rounded border border-primary1 border-opacity-10">
                              <i class="ri-file-list-3-fill"></i>
                          </div>
                          <div class="text-truncate">
                              <span class="fw-medium">New Application</span>
                              <p class="text-muted mb-0 fs-12 w-80 text-truncate"><a href="javascript:void(0);" class="fw-medium text-primary">John Doe</a> applied for Frontend Developer position</p>
                          </div>
                          <span class="text-muted ms-auto fs-12 flex-shrink-0">5 mins ago</span>
                      </li>
                      <li class="list-group-item border-bottom-0 d-flex gap-2 align-items-start pb-2">
                          <div class="avatar avatar-sm bg-primary2-transparent flex-shrink-0 avatar-rounded border border-primary2 border-opacity-10">
                              <i class="ri-user-fill"></i>
                          </div>
                          <div class="text-truncate">
                              <span class="fw-medium">New Job Posted</span>
                              <p class="text-muted mb-0 fs-12 w-80 text-truncate"><span class="fw-medium text-primary1">#245</span> Backend Developer </p>
                          </div>
                          <span class="text-muted ms-auto fs-12 flex-shrink-0">10 mins ago</span>
                      </li>
                      <li class="list-group-item border-bottom-0 d-flex gap-2 align-items-start pb-2">
                          <div class="avatar avatar-sm bg-primary3-transparent flex-shrink-0 avatar-rounded border border-primary3 border-opacity-10">
                              <i class="ri-user-fill"></i>
                          </div>
                          <div class="text-truncate">
                              <span class="fw-medium">New Job Posted</span>
                              <p class="text-muted mb-0 fs-12 w-80 text-truncate">Backend Developer</p>
                          </div>
                          <span class="text-muted ms-auto fs-12 flex-shrink-0">10 mins ago</span>
                      </li>
                      <li class="list-group-item border-bottom-0 d-flex gap-2 align-items-start pb-2">
                          <div class="avatar avatar-sm bg-secondary-transparent flex-shrink-0 avatar-rounded border border-secondary border-opacity-10">
                              <i class="ri-calendar-check-fill"></i>
                          </div>
                          <div class="text-truncate">
                              <span class="fw-medium">Updated Interview Dates</span>
                              <p class="text-muted mb-0 fs-12 w-80 text-truncate">Updated new interview scheduled and added in the <a href="javascript:void(0);" class="fw-medium text-primary2 text-decoration-underline">notification list</a></p>
                          </div>
                          <span class="text-muted ms-auto fs-12 flex-shrink-0">15 mins ago</span>
                      </li>
                      <li class="list-group-item border-bottom-0 d-flex gap-2 align-items-start pb-2">
                          <div class="avatar avatar-sm bg-danger-transparent flex-shrink-0 avatar-rounded border border-danger border-opacity-10">
                              <i class="ri-calendar-check-fill"></i>
                          </div>
                          <div class="text-truncate">
                              <span class="fw-medium">Rescheduled Interview Dates</span>
                              <p class="text-muted mb-0 fs-12 w-80 text-truncate">Rescheduled interview dates <a href="javascript:void(0);" class="fw-medium text-primary2 text-decoration-underline">notification list</a></p>
                          </div>
                          <span class="text-muted ms-auto fs-12 flex-shrink-0">15 mins ago</span>
                      </li>
                      <li class="list-group-item border-bottom-0 d-flex gap-2 align-items-start mb-2">
                          <div class="avatar avatar-sm bg-warning-transparent flex-shrink-0 avatar-rounded border border-warning border-opacity-25">
                              <i class="ri-time-fill"></i>
                          </div>
                          <div class="text-truncate">
                              <span class="fw-medium">Closed Job Post</span>
                              <p class="text-muted mb-0 fs-12 w-80 text-truncate">closed React Job ID: <span class="fw-medium text-primary">#454</span></p>
                          </div>
                          <span class="text-muted ms-auto fs-12 flex-shrink-0">15 mins ago</span>
                      </li>
                  </ul>
                  
              </div>
          </div>
      </div>
  </div>
  <!-- End::row-3 -->

  <!-- Start::row-4 -->
  <div class="row">
      <div class="col-xl-12">
          <div class="card custom-card">
              <div class="card-header justify-content-between">
                  <div class="card-title">
                      Recent Applicants
                  </div>
                  <div class="d-flex">
                      <div class="me-3">
                          <input class="form-control form-control-sm" type="text" placeholder="Search Here" aria-label=".form-control-sm example">
                      </div>
                      <spk-dropdowns [Customclass]="'dropdown'" [title]="'Sort By'" [class]="'btn btn-primary btn-sm no-caret'" [Icon]="true" [IconClass]="'ri-arrow-down-s-line align-middle ms-1 d-inline-block'" 
                      [Menuclass]="'dropdown-menu'"  >
                      <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">New</a></li>
                      <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Popular</a></li>
                      <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Relevant</a></li>
                  </spk-dropdowns>
                  </div>
              </div>
              <div class="card-body">
                  <div class="table-responsive">
                    <app-spk-reusable-tables [columns]="applicationColumns" tableClass="text-nowrap table-hover border table-bordered"  [showCheckbox]="false">
                        @for(application of applications;track $index){
                            <tr>
                                <th scope="row">{{application.id}}</th>
                                <td>
                                    <div class="d-flex align-items-center fw-medium">
                                        <span class="avatar avatar-sm me-2 avatar-rounded">
                                            <img [src]="application.src"  alt="img">
                                        </span>{{application.name}}
                                    </div>
                                </td>
                                <td>{{application.category}}</td>
                                <td><span class="text-{{application.bg1}}">{{application.role}}</span></td>
                                <td>{{application.mail}}</td>
                                <td>
                                    <div class="d-inline-flex align-items-center">
                                        <i class="ri-map-pin-line text-muted"></i>
                                        <span class="ms-1">{{application.location}}</span>
                                    </div>
                                </td>
                                <td>{{application.date}}</td>
                                <td><span class="badge bg-{{application.bg}}-transparent">{{application.type}}</span></td>
                                <td>
                                    <div class="hstack gap-2 fs-15">
                                        <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-success-light"><i class="ri-download-2-line"></i></a>
                                        <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-primary-light"><i class="ri-edit-line"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                        </app-spk-reusable-tables>
                  
                  </div>
              </div>
              <div class="card-footer">
                  <div class="d-flex align-items-center">
                      <div>
                          Showing 6 Entries <i class="bi bi-arrow-right ms-2 fw-medium"></i>
                      </div>
                      <div class="ms-auto">
                          <nav aria-label="Page navigation" class="pagination-style-4">
                              <ul class="pagination mb-0">
                                  <li class="page-item disabled">
                                      <a class="page-link" href="javascript:void(0);">
                                          Prev
                                      </a>
                                  </li>
                                  <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                                  <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                  <li class="page-item">
                                      <a class="page-link text-primary" href="javascript:void(0);">
                                          next
                                      </a>
                                  </li>
                              </ul>
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End::row-4 -->