<div class="container-lg">
    <div class="row justify-content-center align-items-center authentication two-step-verification authentication-basic h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
            <div class="card custom-card my-4">
                <div class="card-body p-5">
                    <div class="mb-3 d-flex justify-content-center">
                        <a routerLink="/dashboards/sales">
                            <img src="./assets/images/brand-logos/desktop-logo.png" alt="logo" class="desktop-logo">
                            <img src="./assets/images/brand-logos/desktop-white.png" alt="logo" class="desktop-white">
                        </a>
                    </div>
                    <p class="h5 mb-2 text-center">Verification Code</p>
                    <p class="mb-4 text-muted op-7 fw-normal text-center fs-12">Enter the 4 digit code sent to the moble number ******850.</p>
                    <div class="row gy-3">
                        <div class="col-xl-12 mb-2">
                            <div class="row gx-3">
                                <div class="col-3">
                                    <input #oneInput type="text" class="form-control text-center" id="one" maxlength="1" required (keyup)="onDigitInput($event, twoInput)">
                                </div>
                                <div class="col-3">
                                    <input #twoInput type="text" class="form-control text-center" id="two" maxlength="1" (keyup)="onDigitInput($event, threeInput)">
                                </div>
                                <div class="col-3">
                                    <input  #threeInput type="text" class="form-control text-center" id="three" maxlength="1" (keyup)="onDigitInput($event, fourInput)">
                                </div>
                                <div class="col-3">
                                    <input #fourInput type="text" class="form-control text-center" id="four" maxlength="1">
                                </div>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label fs-14" for="defaultCheck1">
                                    Didn't recieve a code ?<a routerLink="/pages/email/mailapp" class="text-primary ms-2 d-inline-block">Resend</a>
                                </label>
                            </div>
                        </div>
                        <div class="col-xl-12 d-grid mt-2">
                            <a routerLink="/dashboards/sales" class="btn btn-primary">Verify</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
