<div class="card custom-card social-cards {{socialmedia.socialicon}}">
    <div class="card-body flex-fill">
            <div class="d-flex {{socialmedia.customClass}} flex-wrap gap-2 align-items-center justify-content-between">
                <div>
                    <p class="flex-fill fs-15 fw-medium mb-1 text-{{socialmedia.bg}}">{{socialmedia.title}}</p>
                    <p class="mb-2 fs-24 fw-medium">{{socialmedia.value}}</p>
                    <div class="flex-between">
                        <span class="text-muted fs-12">{{socialmedia.graph}} </span>
                        <span class="text-{{socialmedia.color}} d-inline-block"><i class="{{socialmedia.percentageIcon}}"></i>{{socialmedia.percentage}}</span>
                    </div>
                </div>
                <div class="align-self-center ms-auto">
                    <span class="{{socialmedia.bg}}"><i class="ri-{{socialmedia.socialmedia}}-line fs-25 lh-1"></i></span>
                </div>
            </div>
            </div>
            </div>
       
