<app-page-header title="Ratings" title1="Advanced Ui" activeTitle="Ratings" ></app-page-header>
<!-- Start::row-1 -->
<div class="row">
  <div class="col-xxl-6 col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Basic Rater</div>
      </div>
      <div class="card-body text-center">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <h6 class="fs-14 fw-medium">
            Show Some <span class="text-danger">&#10084;</span> with rating
          </h6>
          <div id="rater-basic">
            <app-bar-rating [maxStars]="5" ></app-bar-rating>
          
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-6 col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">5 star rater with steps</div>
      </div>
      <div class="card-body text-center">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <h6 class="fs-14 fw-medium">Dont forget to rate the product</h6>
          <div id="rater-steps">
            <app-bar-rating [maxStars]="5" ></app-bar-rating>
        
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-6 col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Custom messages</div>
      </div>
      <div class="card-body text-center">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <h6 class="fs-14 fw-medium">Your rating is much appreciated👏</h6>
          <div id="custom-messages">
            <app-bar-rating [maxStars]="10">
            <div class="form-text small">
              @if(ctrl.valid){
                  <div  class="text-success">Thanks!</div>
              }
              @else{
                  <div  class="text-danger">Please rate us</div>
              }
            </div>
          </app-bar-rating>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-6 col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">
          5 Star rater with custom isBusyText and simulated backend
        </div>
      </div>
      <div class="card-body text-center">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <h6 class="fs-14 fw-medium">Thanks for rating</h6>
          <div id="stars-busytext">
            <app-bar-rating
            [maxStars]="5"
          ></app-bar-rating>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-6 col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">On hover event</div>
      </div>
      <div class="card-body text-center">
        <div class="">
          <h6 class="fs-14 fw-medium">Please give your valuable rating</h6>
          <div
            class="d-flex flex-wrap align-items-center justify-content-center"
          >
            <div id="stars-hover">
              <app-bar-rating
              [maxStars]="5" 
            ></app-bar-rating>
          
            </div>
            <span class="live-rating badge bg-success-transparent ms-3">
              Hovered: <b>{{ hovered }}</b></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-6 col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Clear/reset rater</div>
      </div>
      <div class="card-body text-center">
        <div class="">
          <p class="fs-14 mb-0 fw-medium">
            Thank You so much for your support :
          </p>
          <div
            class="d-flex flex-wrap align-items-center justify-content-center"
          >
            <div id="rater-reset">
              <app-bar-rating
              [maxStars]="5"
              [control]="ctrl1"
            ></app-bar-rating>
          
             
            </div>
            <button
              class="btn btn-icon btn-sm btn-danger-light ms-3"
              (click)="ctrl1.setValue(null)"
              id="rater-reset-button"
              data-bs-toggle="tooltip"
              placement="top"
              ngbTooltip="Reset"
            >
              <i class="ri-restart-line"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-12 col-xl-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Unlimited number of stars readOnly</div>
      </div>
      <div class="card-body text-center">
        <div class="d-flex flex-wrap align-items-center justify-content-center">
          <h6 class="fs-14 fw-medium">Thanks for rating</h6>
          <div id="stars-unlimited">
            <app-bar-rating [maxStars]="5"  [readonly]="readonly"></app-bar-rating>
            <button
              class="btn btn-sm btn-outline-{{
                readonly ? 'danger' : 'success'
              }}"
              (click)="readonly = !readonly"
            >
              {{ readonly ? "readonly" : "editable" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End::row-1 -->
