<div class="card custom-card overflow-hidden">
    <div class="card-body bg-primary m-3 rounded-3">
        <div class="d-flex text-fixed-white gap-3 align-items-center flex-wrap">
            <div class="avatar avatar-rounded avatar-lg bg-white-transparent svg-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256">
                    <path d="M224,200h-8V40a8,8,0,0,0-8-8H152a8,8,0,0,0-8,8V80H96a8,8,0,0,0-8,8v40H48a8,8,0,0,0-8,8v64H32a8,8,0,0,0,0,16H224a8,8,0,0,0,0-16ZM160,48h40V200H160ZM104,96h40V200H104ZM56,144H88v56H56Z"></path>
                </svg>
            </div>
            <div>
                <p class="fs-15 mb-0 op-8">{{ budgetTitle }}</p>
                <p class="fs-18 fw-semibold mb-0">{{ budgetAmount }}</p>
            </div>
            <div class="text-fixed-white fs-13 align-self-end ms-auto">
                <span class="op-7">Increased By </span>
                <span class=" badge align-self-end bg-success text-fixed-white fs-10">
                    <i class="ri-arrow-right-up-line fs-11"></i>{{ increasePercentage }}
                </span>
            </div>
        </div>
    </div>
    <div class="card-body p-0">
        <ul class="list-group list-group-flush">
            @for(item of incomeItems;track $index){

                <li  class="list-group-item p-3 {{item.liClass}}">
                    <div class="d-flex align-items-start gap-3">
                        <div>
                            <span class="avatar avatar-rounded" class="{{item.iconBgClass}}">
                                <i class="{{item.iconClass}}"></i>
                            </span>
                        </div>
                        <div class="flex-fill">
                            <span class="mb-0 fw-medium d-block">{{ item.title }}</span>
                            <span class="text-muted fs-12">{{ item.subtitle }}</span>
                        </div>
                        <div class="text-end">
                            <span class="{{item.valueClass}}" class="fs-medium fs-5">{{ item.value }}</span>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
