<app-page-header title="Heatmap Charts" title1="Apex Charts" activeTitle="Heatmap Charts" ></app-page-header>

<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Basic Heatmap Chart</div>
            </div>
            <div class="card-body">
                <div id="heatmap-basic">
                    <app-apex-chart  [chartOptions]="chartOptions"></app-apex-chart>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Multi Series Heatmap Chart</div>
            </div>
            <div class="card-body">
                <div id="heatmap-multiseries">
                    <app-apex-chart  [chartOptions]="chartOptions1"></app-apex-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Color Range Heatmap Chart</div>
            </div>
            <div class="card-body">
                <div id="heatmap-colorrange">
                    <app-apex-chart  [chartOptions]="chartOptions2"></app-apex-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Heatmap Range Without Shades</div>
            </div>
            <div class="card-body">
                <div id="heatmap-range">
                    <app-apex-chart  [chartOptions]="chartOptions3"></app-apex-chart>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->