<app-page-header title="Profile Settings" title1="Pages" activeTitle="Profile Settings"></app-page-header>
 
     <!-- Start::row-1 -->
     <div class="row gap-3 justify-content-center">
        <div class="col-xl-9">
            <div class="card custom-card custom-tabs">
                <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-tabs tab-style-8 scaleX rounded m-3 profile-settings-tab gap-2" id="myTab4" role="tablist">
                    <li [ngbNavItem]="1" class="nav-item me-1" role="presentation">
                        <button ngbNavLink class="nav-link  px-4 bg-primary-transparent" id="account" data-bs-toggle="tab" data-bs-target="#account-pane" type="button" role="tab" aria-controls="account-pane" aria-selected="true">Account</button>
                    <ng-template ngbNavContent>
                        <div class="tab-pane show active overflow-hidden p-0 border-0" id="account-pane" role="tabpanel" aria-labelledby="account" tabindex="0">
                            <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap gap-1">
                                <div class="fw-semibold d-block fs-15">Account Settings :</div>
                                <div class="btn btn-primary btn-sm"><i class="ri-loop-left-line lh-1 me-2"></i>Restore Changes</div>
                            </div>
                            <div class="row gy-3">
                                <div class="col-xl-12">
                                    <div class="d-flex align-items-start flex-wrap gap-3">
                                        <div>
                                            <span class="avatar avatar-xxl">
                                                <img src="./assets/images/faces/9.jpg" alt="">
                                            </span>
                                        </div>
                                        <div>
                                            <span class="fw-medium d-block mb-2">Profile Picture</span>
                                            <div class="btn-list mb-1">
                                                <button class="btn btn-sm btn-primary btn-wave"><i class="ri-upload-2-line me-1"></i>Change Image</button>
                                                <button class="btn btn-sm btn-primary1-light btn-wave"><i class="ri-delete-bin-line me-1"></i>Remove</button>
                                            </div>
                                            <span class="d-block fs-12 text-muted">Use JPEG, PNG, or GIF. Best size: 200x200 pixels. Keep it under 5MB</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <label for="profile-user-name" class="form-label">User Name :</label>
                                    <input type="text" class="form-control" id="profile-user-name" value="" placeholder="Enter Name">
                                </div>
                                <div class="col-xl-6">
                                    <label for="profile-email" class="form-label">Email :</label>
                                    <input type="email" class="form-control" id="profile-email" value="" placeholder="Enter Email">
                                </div>
                                <div class="col-xl-6">
                                    <label for="profile-designation" class="form-label">Designation :</label>
                                    <input type="text" class="form-control" id="profile-designation" value="" placeholder="Enter Designation">
                                </div>
                                <div class="col-xl-6">
                                    <label for="profile-language" class="form-label">Language :</label>
                                    <app-spk-ng-select 
                                    [options]="Language"
                                    [id]="'profile-language'"
                                    [selectClass]="''"
                                    [clearable]="true"
                                    [searchable]="true"
                                    [hideSelected]="true"
                                    [placeholder]="'Us English'"
                                    [additionalProperties]="{}">
                                    </app-spk-ng-select>
                                  
                                </div>
                                <div class="col-xl-6">
                                    <label for="profile-phn-no" class="form-label">Phone No :</label>
                                    <input type="text" class="form-control" id="profile-phn-no" value="" placeholder="Enter Number">
                                </div>
                                <div class="col-xl-6">
                                    <label for="website" class="form-label">Website :</label>
                                    <input type="text" class="form-control bg-light" id="website" placeholder="https://" value="https://www.website.com">
                                </div>
                                <div class="col-xl-12">
                                    <label for="profile-address" class="form-label">Address :</label>
                                    <textarea class="form-control" id="profile-address" rows="3" placeholder="Address"></textarea>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    </li>
                    <li [ngbNavItem]="2" class="nav-item me-1" role="presentation">
                        <button ngbNavLink class="nav-link  px-4 bg-primary-transparent" id="notification-tab" data-bs-toggle="tab" data-bs-target="#notification-tab-pane" type="button" role="tab" aria-controls="notification-tab-pane" aria-selected="false">Notification</button>
                        <ng-template ngbNavContent>
                            <div class="tab-pane overflow-hidden p-0 border-0" id="notification-tab-pane" role="tabpanel" aria-labelledby="notification-tab" tabindex="0">
                                <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap gap-1">
                                    <div class="fw-semibold d-block fs-15">Notifications Settings:</div>
                                    <div class="btn btn-primary btn-sm"><i class="ri-loop-left-line lh-1 me-2"></i>Restore Changes</div>
                                </div>
                                <div class="row gx-5 gy-3">
                                    <div class="col-xl-12">
                                        <p class="fs-14 mb-1 fw-medium">Configure Notifications</p>
                                        <p class="fs-12 mb-0 text-muted">Users can tailor their experience to receive alerts for the types of events that matter to them.</p>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="d-flex align-items-top justify-content-between mt-3">
                                            <div class="mail-notification-settings">
                                                <p class="fs-14 mb-1 fw-medium">Push Notifications</p>
                                                <p class="fs-12 mb-0 text-muted">Alerts sent to the user's mobile device or desktop.</p>
                                            </div>
                                            <div class="toggle on toggle-success mb-0 float-sm-end" id="push-notifications" [ngClass]="{'off': isToggled1, 'on': !isToggled1}"
                                            (click)="toggle1()">
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-top justify-content-between mt-3">
                                            <div class="mail-notification-settings">
                                                <p class="fs-14 mb-1 fw-medium">Email Notifications</p>
                                                <p class="fs-12 mb-0 text-muted">Messages sent to the user's email address.</p>
                                            </div>
                                            <div class="toggle toggle-success mb-0 float-sm-end" id="email-notifications" [ngClass]="{'off': isToggled2, 'on': !isToggled2}"
                                            (click)="toggle2()">
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-top justify-content-between mt-3">
                                            <div class="mail-notification-settings">
                                                <p class="fs-14 mb-1 fw-medium">In-App Notifications</p>
                                                <p class="fs-12 mb-0 text-muted">Alerts that appear within the application interface.</p>
                                            </div>
                                            <div class="toggle toggle-success mb-0 float-sm-end" id="in-app-notifications" [ngClass]="{'off': isToggled3, 'on': !isToggled3}"
                                            (click)="toggle3()">
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-top justify-content-between mt-3">
                                            <div class="mail-notification-settings">
                                                <p class="fs-14 mb-1 fw-medium">SMS Notifications</p>
                                                <p class="fs-12 mb-0 text-muted">Text messages sent to the user's mobile phone.</p>
                                            </div>
                                            <div class="toggle toggle-success on mb-0 float-sm-end" id="sms-notifications" [ngClass]="{'off': isToggled4, 'on': !isToggled4}"
                                            (click)="toggle4()">
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="3" class="nav-item" role="presentation">
                        <button ngbNavLink class="nav-link  px-4 bg-primary-transparent" id="security-tab" data-bs-toggle="tab" data-bs-target="#security-tab-pane" type="button" role="tab" aria-controls="security-tab-pane" aria-selected="false" tabindex="-1">Security</button>
                        <ng-template ngbNavContent>
                            <div class="tab-pane overflow-hidden p-0 border-0" id="security-tab-pane" role="tabpanel" aria-labelledby="security-tab" tabindex="0">
                                <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap gap-1">
                                    <div class="fw-semibold d-block fs-15">Security Settings :</div>
                                    <div class="btn btn-primary btn-sm"><i class="ri-loop-left-line lh-1 me-2"></i>Restore Changes</div>
                                </div>
                                <div class="d-sm-flex d-block align-items-top justify-content-between">
                                    <div class="w-50">
                                        <p class="fs-14 mb-1 fw-medium">Verification</p>
                                        <p class="fs-12 mb-0 text-muted">Control how your profile information is verified for security purposes.</p>
                                    </div>
                                    <div class="d-flex gap-4">
                                        <div class="form-check ">
                                            <input class="form-check-input" type="checkbox" value="" id="email-notifications01" checked="">
                                            <label class="form-check-label" for="email-notifications01">
                                                Email
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="sms-notifications01">
                                            <label class="form-check-label" for="sms-notifications01">
                                                SMS
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="phone-notifications">
                                            <label class="form-check-label" for="phone-notifications">
                                                Phone
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-sm-flex d-block align-items-top justify-content-between mt-3">
                                    <div class="w-50">
                                        <p class="fs-14 mb-1 fw-medium">Login Verification</p>
                                        <p class="fs-12 mb-0 text-muted">This helps protect accounts from unauthorized access, even if a password is compromised.</p>
                                    </div>
                                    <a href="javascript:void(0);" class="link-primary text-decoration-underline">Set Up Verification</a>
                                </div>
                                <div class="d-sm-flex d-block align-items-top justify-content-between mt-3">
                                    <div class="w-50">
                                        <p class="fs-14 mb-1 fw-medium">Password Verification</p>
                                        <p class="fs-12 mb-0 text-muted">This additional step helps ensure that the person attempting to modify account details is the legitimate account owner.</p>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="personal-details">
                                        <label class="form-check-label" for="personal-details">
                                            Require Personal Details
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                </ul>
                <div class="p-3 border-bottom border-top border-block-end-dashed tab-content" [ngbNavOutlet]="nav">
                   
                 
                 
                </div>
                <div class="card-footer border-top-0">
                    <div class="btn-list float-end">
                        <button class="btn btn-primary2 btn-wave">Deactivate Account</button>
                        <button class="btn btn-primary btn-wave">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End::row-1 -->