<app-page-header title="Products-List" title1="Ecommerce" activeTitle="Products-List" ></app-page-header>
<!-- Start::row-1 -->
<div class="row">   
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Products List
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <app-spk-reusable-tables  tableClass=" text-nowrap table-bordered"  (toggleSelectAll)="handleToggleSelectAll($event)" [showCheckbox]="true" [columns]="productlistColumns"> 
                        @for (list of lists; track list) {

                            <tr class="product-list">
                                <td class="product-checkbox"><input class="form-check-input" type="checkbox" [(ngModel)]="list.checked" 
                                    [checked]="allTasksChecked" 
                                    (change)="toggleRowChecked(list)"  id="product1" value="" aria-label="..."></td>
                                <td>
                                    <div class="d-flex">
                                        <span class="avatar avatar-md avatar-square bg-light"><img [src]="list.img"  class="w-100 h-100" alt="..."></span>
                                        <div class="ms-2">
                                            <p class="fw-semibold mb-0 d-flex align-items-center"><a href="javascript:void(0);">{{list.product}} </a></p>
                                            <p class="fs-12 text-muted mb-0">{{list.type}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span>{{list.category}}</span>
                                </td>
                                <td>{{list.price}}</td>
                                <td>{{list.stock}}</td>
                                <td><span class="badge bg-{{list.bg}}-transparent">{{list.status}}</span></td>
                                <td>
                                    <div class="d-flex align-items-center fw-semibold">
                                        <span class="avatar avatar-sm p-1 bg-light me-2 avatar-rounded">
                                            <img [src]="list.src" alt="">
                                        </span>
                                        <a href="javascript:void(0);">{{list.seller}}</a>
                                    </div>
                                </td>
                                <td>{{list.date}}</td>
                                <td>
                                    <div class="hstack gap-2 fs-15">
                                        <a routerLink="/apps/ecommerce/editproducts" class="btn btn-icon btn-sm btn-primary-light"><i class="ri-edit-line"></i></a>
                                        <a href="javascript:void(0);" (click)="Remove(list.id)" class="btn btn-icon btn-sm btn-danger-light product-btn"><i class="ri-delete-bin-line"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                        </app-spk-reusable-tables>
                </div>
            </div>
                <div class="card-footer">
                    <div class="d-flex align-items-center flex-wrap overflow-auto">
                        <div class="mb-2 mb-sm-0">
                            Showing <b>1</b> to <b>5</b> of <b>10</b> entries <i class="bi bi-arrow-right ms-2 fw-semibold"></i>
                        </div>
                        <div class="ms-auto">
                            <ul class="pagination mb-0 overflow-auto">
                                <li class="page-item disabled">
                                    <a class="page-link">Previous</a>
                                </li>
                                <li class="page-item active" aria-current="page"><a class="page-link" href="javascript:void(0)">1</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
</div>
<!--End::row-1 -->