<app-page-header title="Blog Create" title1="Blog" activeTitle="Blog Create" ></app-page-header>

  <!-- Start::row-1 -->
  <div class="row">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">New Blog</div>
            </div>
            <div class="card-body">
                <div class="row gy-3">
                    <div class="col-xl-12">
                        <label for="blog-title" class="form-label">Blog Title</label>
                        <input type="text" class="form-control" id="blog-title" placeholder="Blog Title">
                    </div>
                    <div class="col-xl-6">
                        <label for="blog-category" class="form-label">Blog Category</label>
                        <app-spk-ng-select 
                        [options]="BlogCategory"
                        [id]="'blog-category'"
                        [selectClass]="''"
                        [clearable]="true"
                        [searchable]="true"
                        [hideSelected]="true"
                        [placeholder]="'Select Category'"
                        [additionalProperties]="{}">
                        </app-spk-ng-select>
                      
                    </div>
                    <div class="col-xl-6">
                        <label for="blog-author-email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="blog-author-email" placeholder="Enter Email">
                    </div>
                    <div class="col-xl-6">
                        <label for="blog-author" class="form-label">Blog Author</label>
                        <input type="text" class="form-control" id="blog-author" placeholder="Enter Name">
                    </div>
                    <div class="col-xl-6">
                        <label for="publish-time" class="form-label">Publish Time</label>
                        <app-spk-flatpickr placeholder="Choose  Time" class="form-control" [noCalendar]="true"
                        [mode]="'single'" [altInput]="false" [convertModelValue]="true" [enableTime]="true"
                        [dateFormat]="'H:i'"></app-spk-flatpickr>
                    </div>
                    <div class="col-xl-12">
                        <label for="blog-tags" class="form-label">Blog Tags</label>
                        <app-spk-ng-select 
                        [options]="Publish"
                        [id]="'blog-tags'"
                        [selectClass]="''"
                        [defaultValue]="selectedTags"
                        [multiple]="true"
                        [clearable]="true"
                        [searchable]="true"
                        [hideSelected]="true"
                        [additionalProperties]="{}">
                        </app-spk-ng-select>
                       
                    </div>
                    <div class="col-xl-6">
                        <label for="publish-date" class="form-label">Publish Date</label>
                        <app-spk-flatpickr placeholder="Choose Date" class="form-control"
                        [mode]="'single'" [altInput]="false" [convertModelValue]="true" [enableTime]="false"
                        [dateFormat]="'Y-m-d'"></app-spk-flatpickr>
                    </div>
                    <div class="col-xl-6">
                        <label for="product-status-add" class="form-label">Published Status</label>
                        <select class="form-control" data-trigger name="product-status-add" id="product-status-add">
                            <option value="">Select</option>
                            <option value="Published">Published</option>
                            <option value="Scheduled">Hold</option>
                        </select>
                    </div>
                    <div class="col-xl-12 blog-images-container">
                        <label for="blog-author-email" class="form-label">Blog Images</label>
                        <file-pond #myPond [options]="pondOptions" class="blog-images" multiple name="filepond" idata-allow-reorder="true" data-max-file-size="3MB" data-max-files="6"  [files]="pondFiles"
                        (oninit)="pondHandleInit()" (onaddfile)="pondHandleAddFile($event)"
                        (onactivatefile)="pondHandleActivateFile($event)">
                    </file-pond>
                    </div>
                    <div class="col-xl-12">
                        <label class="form-label">Blog Content</label>
                        <div id="blog-content">
                            <form [formGroup]="form">
                                    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                                    </ngx-editor-menu>
                                    <ngx-editor [editor]="editor">
                                    </ngx-editor>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <label class="form-label">Blog Type</label>
                        <div class="d-flex align-items-center">
                            <div class="form-check me-3">
                                <input class="form-check-input" type="radio" name="blog-type" id="blog-free1" checked>
                                <label class="form-check-label" for="blog-free1">
                                    Free
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="blog-type" id="blog-paid1">
                                <label class="form-check-label" for="blog-paid1">
                                    Paid
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-list text-end">
                    <button type="button" class="btn btn-primary1">Save As Draft</button>
                    <button type="button" class="btn btn-primary me-0">Post Blog</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->