     <!-- Page Header -->
     <div class="d-flex align-items-center justify-content-between page-header-breadcrumb flex-wrap gap-2">
        <div>
            <nav>
                <ol class="breadcrumb mb-1">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">{{title1}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                </ol>
            </nav>
            <h1 class="page-title fw-medium fs-18 mb-0">{{title}}</h1>
        </div>
        <div class="btn-list">
          
        </div>
    </div>
    <!-- Page Header Close -->

