<app-page-header title="Css Grid" title1="Utilities" activeTitle="Css Grid" ></app-page-header>

 <!-- Start:: row-1 -->
  <div class="row">
    <div class="col-xxl-6">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Auto columns
                        </div>
                    </div>
                    <div class="card-body bd-example-cssgrid">
                        <p>When there are no classes on the grid items (the immediate children of a
                            <span class="text-danger">.grid</span>),
                            each grid item will automatically be sized to one column.
                        </p>
                        <div class="grid mb-3 text-center grid-autocol-responsive">
                            <div class="g-col-6">.g-col-6</div>
                            <div class="g-col-6">.g-col-6</div>

                            <div class="g-col-6">.g-col-6</div>
                            <div class="g-col-6">.g-col-6</div>
                        </div>
                        <p>This behavior can be mixed with grid column classes.</p>
                        <div class="grid text-center grid-col-mixed-responsive">
                            <div class="g-col-6">.g-col-6</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Columns and gaps
                        </div>
                    </div>
                    <div class="card-body bd-example-cssgrid text-center">
                        <div class="grid mb-3" style="--bs-columns: 4; --bs-gap: 5rem;">
                            <div class="g-col-2">.g-col-2</div>
                            <div class="g-col-2">.g-col-2</div>
                        </div>
                        <div class="grid" style="--bs-columns: 10; --bs-gap: 1rem;">
                            <div class="g-col-6">.g-col-6</div>
                            <div class="g-col-4">.g-col-4</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            starts
                        </div>
                    </div>
                    <div class="card-body bd-example-cssgrid text-center">
                        <div class="grid">
                            <div class="g-col-3 g-start-2">.g-col-3 .g-start-2</div>
                            <div class="g-col-4 g-start-6">.g-col-4 .g-start-6</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Responsive
                        </div>
                    </div>
                    <div class="card-body bd-example-cssgrid text-center">
                        <div class="grid mb-3 grid-autocol-responsive">
                            <div class="g-col-md-4">.g-col-md-4</div>
                            <div class="g-col-md-4">.g-col-md-4</div>
                            <div class="g-col-md-4">.g-col-md-4</div>
                        </div>
                        <p>Compare that to this two column layout at all viewports.</p>
                        <div class="grid grid-autocol-responsive">
                            <div class="g-col-6">.g-col-6</div>
                            <div class="g-col-6">.g-col-6</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Gaps
                        </div>
                    </div>
                    <div class="card-body bd-example-cssgrid text-center">
                        <P>Change the vertical gaps only by modifying the <span
                                class="text-danger">row-gap</span>. Note that we use gap on
                            <span class="text-danger">.grid</span>s, but row-gap and <Span
                                class="text-danger">column-gap</Span>can be modified as needed.
                        </P>
                        <div class="grid mb-3 grid-autocol-responsive" style="row-gap: 0;">
                            <div class="g-col-6">.g-col-6</div>
                            <div class="g-col-6">.g-col-6</div>

                            <div class="g-col-6">.g-col-6</div>
                            <div class="g-col-6">.g-col-6</div>
                        </div>
                        <p>Because of that, you can have different vertical and horizontal gaps, which
                            can
                            take a single value (all sides) or a pair of values (vertical and
                            horizontal).
                            This can be applied with an inline style for <span
                                class="text-danger">gap</span>, or with our <span
                                class="text-danger">--bs-gap</span> CSS
                            variable.</p>
                        <div class="grid grid-autocol-responsive" style="--bs-gap: .25rem 1rem;">
                            <div class="g-col-6">.g-col-6</div>
                            <div class="g-col-6">.g-col-6</div>

                            <div class="g-col-6">.g-col-6</div>
                            <div class="g-col-6">.g-col-6</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-6">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            No grid classes
                        </div>
                    </div>
                    <div class="card-body bd-example-cssgrid text-center">
                        <div class="grid" style="--bs-columns: 3;">
                            <div>Auto-column</div>
                            <div>Auto-column</div>
                            <div>Auto-column</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Three columns
                        </div>
                    </div>
                    <div class="card-body bd-example-cssgrid text-center">
                        <div class="grid grid-autocol-responsive">
                            <div class="g-col-4">.g-col-4</div>
                            <div class="g-col-4">.g-col-4</div>
                            <div class="g-col-4">.g-col-4</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Nesting
                        </div>
                    </div>
                    <div class="card-body bd-example-cssgrid text-center nesting-grid-reponsive">
                        <div class="grid" style="--bs-columns: 3;">
                            <div>
                                First auto-column
                                <div class="grid">
                                    <div>Auto-column</div>
                                    <div>Auto-column</div>
                                </div>
                            </div>
                            <div>
                                Second auto-column
                                <div class="grid" style="--bs-columns: 12;">
                                    <div class="g-col-6">6 of 12</div>
                                    <div class="g-col-4">4 of 12</div>
                                    <div class="g-col-2">2 of 12</div>
                                </div>
                            </div>
                            <div>Third auto-column</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Customizing
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <app-spk-reusable-tables  [columns]="cssColumn" tableClass=""
                            [showCheckbox]="false" >
                            @for(variable of variables;track $index){

                                <tr>
                                    <td><code>{{ variable.variable }}</code></td>
                                    <td><code>{{ variable.fallbackValue }}</code></td>
                                    <td>{{ variable.description }}</td>
                                  </tr>
                            }
                            </app-spk-reusable-tables>
                         
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Wrapping
                        </div>
                    </div>
                    <div class="card-body bd-example-cssgrid text-center">
                        <div class="grid grid-autocol-responsive">
                            <div class="g-col-6">.g-col-6</div>
                            <div class="g-col-6">.g-col-6</div>

                            <div class="g-col-6">.g-col-6</div>
                            <div class="g-col-6">.g-col-6</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Adding rows
                        </div>
                    </div>
                    <div class="card-body bd-example-cssgrid text-center">
                        <div class="grid" style="--bs-rows: 3; --bs-columns: 3;">
                            <div>Auto-column</div>
                            <div class="g-start-2" style="grid-row: 2">Auto-column</div>
                            <div class="g-start-3" style="grid-row: 3">Auto-column</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-1 -->