
    <!-- Start Switcher -->
    <ng-template #content let-offcanvas>
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title" id="offcanvasRightLabel">Switcher</h5>
                <button type="button" (click)="offcanvas.dismiss('Cross click')" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body switcher-canvas" id="switcher-canvas">
                <div class="">
                    <p class="switcher-style-head">Theme Color Mode:</p>
                    <div class="row switcher-style gx-0">
                        <div class="col-4">
                            <div class="form-check switch-select">
                                <label class="form-check-label" for="switcher-light-theme">
                                    Light
                                </label>
                                <input (click)="themeChange('light', 'light')"  class="form-check-input" type="radio" name="theme-style" id="switcher-light-theme"
                                    checked>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-check switch-select">
                                <label class="form-check-label" for="switcher-dark-theme">
                                    Dark
                                </label>
                                <input (click)="themeChange('dark', 'dark')" class="form-check-input" type="radio" name="theme-style" id="switcher-dark-theme"
                                [checked]="localdata['xintradarktheme'] == 'dark'">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <p class="switcher-style-head">Directions:</p>
                    <div class="row switcher-style gx-0">
                        <div class="col-4">
                            <div class="form-check switch-select">
                                <label class="form-check-label" for="switcher-ltr">
                                    LTR
                                </label>
                                <input class="form-check-input" (click)="DirectionsChange('ltr')" type="radio" name="direction" id="switcher-ltr" checked>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-check switch-select">
                                <label class="form-check-label" for="switcher-rtl">
                                    RTL
                                </label>
                                <input class="form-check-input" (click)="DirectionsChange('rtl')" type="radio" name="direction" id="switcher-rtl" [checked]="localdata['dir'] == 'rtl'">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="theme-colors">
                    <p class="switcher-style-head">Theme Primary:</p>
                    <div class="d-flex align-items-center switcher-style">
                        <div class="form-check switch-select me-3">
                            <input class="form-check-input color-input color-primary-1" (click)="primary('118, 71, 229')"  [checked]="localdata['xintra-primary-mode'] == '118, 71, 229'"  type="radio" name="theme-primary"
                                id="switcher-primary">
                        </div>
                        <div class="form-check switch-select me-3">
                            <input class="form-check-input color-input color-primary-2" (click)="primary('63, 75, 236')"  [checked]="localdata['xintra-primary-mode'] == '63, 75, 236'" type="radio" name="theme-primary"
                                id="switcher-primary1">
                        </div>
                        <div class="form-check switch-select me-3">
                            <input class="form-check-input color-input color-primary-3" (click)="primary('55, 125, 206')"  [checked]="localdata['xintra-primary-mode'] == '55, 125, 206'" type="radio" name="theme-primary"
                                id="switcher-primary2">
                        </div>
                        <div class="form-check switch-select me-3">
                            <input class="form-check-input color-input color-primary-4" (click)="primary('1, 159, 162')"  [checked]="localdata['xintra-primary-mode'] == '1, 159, 162'" type="radio" name="theme-primary"
                                id="switcher-primary3">
                        </div>
                        <div class="form-check switch-select me-3">
                            <input class="form-check-input color-input color-primary-5" (click)="primary('139, 149, 4')"  [checked]="localdata['xintra-primary-mode'] == '139, 149, 4'" type="radio" name="theme-primary"
                                id="switcher-primary4">
                        </div>
                        <div class="form-check switch-select me-3 ps-0 mt-1 color-primary-light">
                            <div class="theme-container-primary"></div>
                            <div class="pickr-container-primary">
                                <div class="pickr">
                                    <button
                                      type="button"
                                      class="pcr-button"
                                      role="button"
                                      aria-label="toggle color picker dialog"
                                      id="lightPrimaryColorID"
                                      style="--pcr-color: rgba(132, 90, 223, 1)"
                                      [style.background]="color1"
                                      [cpAlphaChannel]="'disabled'"
                                      [cpOutputFormat]="'hex'"
                                      [(colorPicker)]="color1"
                                      (cpSliderDragEnd)="dynamicLightPrimary($event)"
                                    ></button>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="switcher-style-head">reset:</p>
                    <div class="text-center">
                        <button id="reset-all" (click)="reset()" class="btn btn-danger mt-3">Reset</button>
                    </div>
                </div>
            </div>
    </ng-template>
    <!-- End Switcher -->

    <div class="landing-page-wrapper">

        <!-- app-header -->
        <header class="app-header">

            <!-- Start::main-header-container -->
            <div class="main-header-container container-fluid">

                <!-- Start::header-content-left -->
                <div class="header-content-left">

                    <!-- Start::header-element -->
                    <div class="header-element">
                        <div class="horizontal-logo">
                            <a routerLink="/dashboards/sales" class="header-logo">
                                <img src="./assets/images/brand-logos/toggle-logo.png" alt="logo" class="toggle-logo">
                                <img src="./assets/images/brand-logos/toggle-dark.png" alt="logo" class="toggle-dark">
                            </a>
                        </div>
                    </div>
                    <!-- End::header-element -->

                    <!-- Start::header-element -->
                    <div class="header-element">
                        <!-- Start::header-link -->
                        <a href="javascript:void(0);"  (click)="toggleSidebar()"  class="sidemenu-toggle header-link" data-bs-toggle="sidebar">
                            <span class="open-toggle">
                                <i class="ri-menu-3-line fs-20"></i>
                            </span>
                        </a>
                        <!-- End::header-link -->
                    </div>
                    <!-- End::header-element -->

                </div>
                <!-- End::header-content-left -->

                <!-- Start::header-content-right -->
                <div class="header-content-right">

                    <!-- Start::header-element -->
                    <div class="header-element align-items-center">
                        <!-- Start::header-link|switcher-icon -->
                        <div class="btn-list d-lg-none d-flex">
                            <a routerLink="/authentication/sign-up/basic" class="btn btn-wave btn-primary1">
                                Sign Up
                            </a>
                            <button (click)="openSwitcher(content)" class="btn btn-wave btn-icon btn-primary switcher-icon d-flex align-items-center justify-content-center" data-bs-toggle="offcanvas"
                                data-bs-target="#switcher-canvas">
                                <i class="ri-settings-3-line"></i>
                            </button>
                        </div>
                        <!-- End::header-link|switcher-icon -->
                    </div>
                    <!-- End::header-element -->

                </div>
                <!-- End::header-content-right -->

            </div>
            <!-- End::main-header-container -->

        </header>
        <!-- /app-header -->

     <!-- Start::app-sidebar -->
     <aside [ngClass]="{ 'data-toggled': isDataToggled }" class="app-sidebar sticky" id="sidebar"
     [ngClass]="{ 'sticky-pin': scrolled }" style="margin-bottom: -64px">
     <div class="container-xl">
         <!-- Start::main-sidebar -->
         <div class="main-sidebar">

             <!-- Start::nav -->
             <nav class="main-menu-container nav nav-pills sub-open">
                 <div class="landing-logo-container">
                     <div class="horizontal-logo">
                         <a routerLink="/dashboards/sales" class="header-logo">
                             <img src="./assets/images/brand-logos/desktop-logo.png" alt="logo"
                                 class="desktop-logo">
                             <img src="./assets/images/brand-logos/desktop-white.png" alt="logo"
                                 class="desktop-white">
                         </a>
                     </div>
                 </div>
                 <div class="slide-left" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
                         width="24" height="24" viewBox="0 0 24 24">
                         <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
                     </svg></div>
                 <ul class="main-menu">
                     <!-- Start::slide -->
                     <li class="slide">
                         <a class="side-menu__item" value="home" (click)="scroll(home)">
                             <span class="side-menu__label">Home</span>
                         </a>
                     </li>
                     <!-- End::slide -->
                     <!-- Start::slide -->
                     <li class="slide">
                         <a class="side-menu__item" value="about" (click)="scroll(about)">
                             <span class="side-menu__label">About</span>
                         </a>
                     </li>
                     <!-- End::slide -->
                     <!-- Start::slide -->
                     <li class="slide has-sub" [ngClass]="expande ? 'open' : ''">
                         <a href="javascript:void(0);" class="side-menu__item"  [class.active]="expande" [class.active]="isActive" 
                             (click)="toggleExpand()">
                             <span class="side-menu__label me-2">More</span>
                             <i class="fe fe-chevron-right side-menu__angle op-8"></i>
                         </a>
                         <ul class="slide-menu child1" [class.active]="expande" 
                             [ngStyle]="{ display: expande ? 'block' : 'none' }">
                             <li class="slide">
                                 <a (click)="scroll(services)" value="services" class="side-menu__item">Services</a>
                             </li>
                             <li class="slide">
                                 <a (click)="scroll(expectations)" value="expectations"
                                     class="side-menu__item">Expectations</a>
                             </li>
                             <li class="slide">
                                 <a (click)="scroll(features)" value="features" class="side-menu__item">Features</a>
                             </li>
                          
                             <li class="slide has-sub" [class.open]="expande1">
                                 <a href="javascript:void(0);" class="side-menu__item" (click)="expande1 = !expande1"
                                     [class.open]="expande1">Level-2
                                     <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                 <ul class="slide-menu child2" [class.active]="expande1"
                                     [ngStyle]="{ 'display': expande1 ? 'block' : 'none' }">
                                     <li class="slide">
                                         <a href="javascript:void(0);" class="side-menu__item">Level-2-1</a>
                                     </li>
                                     <li class="slide has-sub" (click)="expande2 = !expande2"
                                         [class.open]="expande2">
                                         <a href="javascript:void(0);" class="side-menu__item">Level-2-2
                                             <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                         <ul class="slide-menu child3" [class.active]="expande2"
                                             [ngStyle]="{ 'display': expande2 ? 'block' : 'none' }">
                                             <li class="slide">
                                                 <a href="javascript:void(0);"
                                                     class="side-menu__item">Level-2-2-1</a>
                                             </li>
                                             <li class="slide has-sub">
                                                 <a href="javascript:void(0);"
                                                     class="side-menu__item">Level-2-2-2</a>
                                             </li>
                                         </ul>
                                     </li>
                                 </ul>
                             </li>
                         </ul>
                     </li>
                     <!-- End::slide -->
                   
                     <!-- Start::slide -->
                     <li class="slide">
                         <a (click)="scroll(team)" value="team" class="side-menu__item">
                             <span class="side-menu__label">Team</span>
                         </a>
                     </li>
                     <!-- End::slide -->
                       <!-- Start::slide -->
                       <li class="slide">
                        <a (click)="scroll(pricing)" value="pricing" class="side-menu__item">
                            <span class="side-menu__label">Pricing</span>
                        </a>
                    </li>
                    <!-- End::slide -->
                     <!-- Start::slide -->
                     <li class="slide">
                         <a (click)="scroll(faqs)" value="faqs" class="side-menu__item">
                             <span class="side-menu__label">FAQ's</span>
                         </a>
                     </li>
                     <!-- End::slide -->
                     <!-- Start::slide -->
                     <li class="slide">
                         <a (click)="scroll(testimonials)" value="testimonials" class="side-menu__item">
                             <span class="side-menu__label">Testimonials</span>
                         </a>
                     </li>
                     <!-- End::slide -->
                     <!-- Start::slide -->
                     <li class="slide">
                         <a (click)="scroll(contact)" value="contact" class="side-menu__item">
                             <span class="side-menu__label">Contact Us</span>
                         </a>
                     </li>
                     <!-- End::slide -->

                 </ul>
                 <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
                         width="24" height="24" viewBox="0 0 24 24">
                         <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
                     </svg></div>
                 <div class="d-lg-flex d-none">
                     <div class="btn-list d-lg-flex d-none mt-0">
                         <a routerLink="/authentication/sign-up/basic" class="btn btn-wave btn-primary1">
                             Sign Up
                         </a>
                         <button (click)="openSwitcher(content)"
                             class="btn btn-wave btn-icon btn-primary switcher-icon d-flex align-items-center justify-content-center" data-bs-toggle="offcanvas"
                             data-bs-target="#switcher-canvas">
                             <i class="ri-settings-3-line"></i>
                         </button>
                     </div>
                 </div>
             </nav>
             <!-- End::nav -->

         </div>
         <!-- End::main-sidebar -->
     </div>
 </aside>
 <!-- End::app-sidebar -->

        <!-- Start::app-content -->
        <div (click)="bodyclick()"  class="main-content landing-main px-0">

            <!-- Start:: Section-1 -->
            <div class="landing-banner" id="home" #home>
                <section class="section">
                    <div class="container main-banner-container pb-lg-0">
                        <div class="row pt-3">
                            <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-8">
                                <div class="pt-lg-5 pb-4">
                                    <div class="mb-3">
                                        <h6 class="fw-medium text-fixed-white op-9">Optimized and Accessible</h6>
                                    </div>
                                    <p class="landing-banner-heading mb-3 text-fixed-white">Refined Design, Elevated User Experience: 
                                        Explore <span class="fw-semibold text-warning">Xintra</span> Template.</p>
                                    <div class="fs-16 mb-5 text-fixed-white op-7">An intuitive admin template designed for efficiency, featuring a clean and modern interface that simplifies management tasks and enhances productivity.
                                    </div>
                                    <a routerLink="/dashboards/sales" class="m-1 btn btn-lg bg-white-transparent">
                                        View Demos
                                        <i class="ri-eye-line ms-2 align-middle"></i>
                                    </a>
                                    <a routerLink="/dashboards/sales"
                                        class="m-1 btn btn-lg btn-primary1 btn-wave waves-effect waves-light">
                                        Discover More
                                        <i class="ri-arrow-right-line ms-2 align-middle"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-4 my-auto">
                                <div class="text-end landing-main-image landing-heading-img">
                                    <img src="./assets/images/media/landing/1.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- End:: Section-1 -->

            <!-- Start:: Section-2 -->
            <section class="section" id="about" #about>
                <div class="container position-relative">
                    <div class="text-center">
                        <p class="fs-12 fw-medium text-success mb-1"><span class="landing-section-heading text-primary">GLANCE</span>
                        </p>
                        <h4 class="fw-semibold mb-1 mt-3">Why you choose us ?</h4>
                        <div class="row justify-content-center">
                            <div class="col-xl-7">
                                <p class="text-muted fs-14 mb-5 fw-normal">Our mission is to support you in achieving
                                    your goals.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @for(data of glancecards;track $index){
                            <div class="col-xl-4">
                            <app-spk-landing-glance-card
                            [title]="data.title"
                            [description]="data.description"
                            [svg]="sanitizeIcon(data.svg)"
                            buttonText="Read More"
                            [bgColorClass]="data.bgColorClass"
                            [borderColorClass]="data.borderColorClass">
                          </app-spk-landing-glance-card>
                        </div>
                        }
                    </div>
                </div>
            </section>
            <!-- End:: Section-2 -->

            <!-- Start:: Section-3 -->
            <section class="section section-bg" id="expectations" #expectations >
                <div class="container">
                    <div class="row gx-5 mx-0">
                        <div class="col-xl-5">
                            <div class="home-proving-image">
                                <img src="./assets/images/media/landing/2.png" alt="" class="img-fluid] about-image d-none d-xl-block">
                            </div>
                            <div class="proving-pattern-1"></div>
                        </div>
                        <div class="col-xl-7 my-auto">
                            <div class="heading-section text-start mb-4">
                                <p class="fs-12 fw-medium text-start text-success mb-1"><span
                                        class="landing-section-heading text-primary">ABOUT US</span>
                                </p>
                                <h4 class="mt-3 fw-semibold mb-2">Our Commitment!</h4>
                                <div class="heading-description fs-14">Welcome to Xintra,  our commitment is more than a statement; it's the cornerstone of everything we do.We are dedicated to design, ensuring that every interaction, project, and outcome reflects.</div>
                            </div>
                            <div class="row gy-3 mb-0">
                                <div class="col-xl-12">
                                    <div class="d-flex align-items-top">
                                        <div class="me-2 home-prove-svg">
                                            <i
                                                class="ri-focus-2-fill align-middle text-primary d-inline-block"></i>
                                        </div>
                                        <div>
                                            <span class="fs-14">
                                                <strong>Years of Experience and Reputation:</strong> We bring 4+ years of experience, backed by a solid reputation for excellence.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="d-flex align-items-top">
                                        <div class="me-2 home-prove-svg">
                                            <i
                                                class="ri-focus-2-fill align-middle text-primary1 d-inline-block"></i>
                                        </div>
                                        <div>
                                            <span class="fs-14">
                                                <strong>Professional Team:</strong> Our team consists of experienced and professional individuals dedicated to delivering top-notch service.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="d-flex align-items-top">
                                        <div class="me-2 home-prove-svg">
                                            <i
                                                class="ri-focus-2-fill align-middle text-primary2 d-inline-block"></i>
                                        </div>
                                        <div>
                                            <span class="fs-14">
                                                <strong>Client-Centric Approach:</strong> We understand that every client is unique, so we tailor our services to meet your specific needs and preferences.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="d-flex align-items-top">
                                        <div class="me-2 home-prove-svg">
                                            <i
                                                class="ri-focus-2-fill align-middle text-primary3 d-inline-block"></i>
                                        </div>
                                        <div>
                                            <span class="fs-14">
                                                <strong>24/7 Support:</strong> We provide round-the-clock support, 365 days a year, ensuring that assistance is always available when you need it most.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- End:: Section-3 -->

            <!-- Start:: Section-4 -->
            <section class="section" id="services" #services>
                <div class="container">
                    <div class="text-center">
                        <p class="fs-12 fw-medium text-success mb-1"><span
                                class="landing-section-heading text-primary">SERVICES</span>
                        </p>
                        <h4 class="fw-semibold mt-3 mb-2">What You Get</h4>
                        <div class="row justify-content-center">
                            <div class="col-xl-7">
                                <p class="text-muted fs-14 mb-5 fw-normal">Nemo enim ipsam voluptatem quia voluptas sit
                                    aspernatur</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @for(data of servicecards;track $index){
                            <div class="col-xl-3">
                                <app-spk-landing-services-card
                                [bgColor]="data.bgColor"
                                [title]="data.title"
                                [svg]="sanitizeIcon(data.svg)"
                                [description]="data.description"
                            ></app-spk-landing-services-card>
                            </div>
                            }
                      
                    </div>
                </div>
            </section>
            <!-- End:: Section-4 -->

            <!-- Start:: Section-5 -->
            <section class="section landing-Features" id="features" #features>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8">
                            <div class="heading-section text-center mb-0">
                                <p class="fs-12 fw-medium text-success mb-1"><span
                                        class="landing-section-heading landing-section-heading-dark text-fixed-white">FEATURES</span>
                                </p>
                                <h4 class="text-fixed-white text-center mt-3 fw-medium">Our Features</h4>
                                <div class="fs-14 text-fixed-white text-center op-8 mb-4">Ullamco ea commodo.Sed ut
                                    perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    laudantium, totam rem aperiam.perspiciatis unde omnis.</div>
                            </div>
                        </div>
                        <div class="col-xl-10 my-auto">
                            <div
                                class="d-flex align-items-center justify-content-center trusted-companies sub-card-companies flex-wrap mb-3 mb-xl-0 gap-4">
                                <div class="trust-img"><img src="./assets/images/media/landing/web/1.png" alt="img"
                                        class="border-0 shadow-sm"></div>
                                <div class="trust-img"><img src="./assets/images/media/landing/web/2.png" alt="img"
                                        class="border-0 shadow-sm"></div>
                                <div class="trust-img"><img src="./assets/images/media/landing/web/4.png" alt="img"
                                        class="border-0 shadow-sm"></div>
                                <div class="trust-img"><img src="./assets/images/media/landing/web/5.png" alt="img"
                                        class="border-0 shadow-sm"></div>
                                <div class="trust-img"><img src="./assets/images/media/landing/web/6.png" alt="img"
                                        class="border-0 shadow-sm"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End:: Section-5 -->

            <!-- Start:: Section-6 -->
            <section class="section" id="team" #team>
                <div class="container">
                    <div class="text-center">
                        <p class="fs-12 fw-medium text-success mb-1"><span
                                class="landing-section-heading text-primary">OUR TEAM</span>
                        </p>
                        <h4 class="fw-semibold mt-3 mb-2">The people who make our organization Successful</h4>
                        <div class="row justify-content-center">
                            <div class="col-xl-7">
                                <p class="text-muted fs-14 mb-5 fw-normal">Our team is made up of real people who are
                                    passionate about what they do.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @for(member of teamMembers;track $index){
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                                <app-spk-landing-team-card
                                [name]="member.name"
                                [role]="member.role"
                                [teamClass]="member.teamClass"
                                [class1]="member.class1"
                                [description]="member.description"
                                [image]="member.image"
                                [backgroundColor]="member.backgroundColor"
                                [badgeColor]="member.badgeColor">
                              </app-spk-landing-team-card>
                              </div>
                            }
                    </div>
                </div>
            </section>
            <!-- End:: Section-6 -->

            <!-- Start:: Section-7 -->
            <section class="section section-bg" id="pricing" #pricing>
                <div class="container">
                    <div class="text-center">
                        <p class="fs-12 fw-medium text-success mb-1"><span
                                class="landing-section-heading text-primary">PRICING</span>
                        </p>
                        <h4 class="fw-semibold mt-3 mb-2">Plans that flex with your needs.</h4>
                        <div class="row justify-content-center">
                            <div class="col-xl-7">
                                <p class="text-muted fs-14 mb-5 fw-normal">Stay agile with plans that seamlessly adjust to your changing requirements, ensuring you always have the flexibility you need.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12" id="convertable-pricing">
                            <div class="d-flex justify-content-center mb-4">
                                <div class="switcher-box">
                                    <span class="pricing-time-span">Monthly</span>
                                    <div class="switcher-pricing text-center">
                                      <input type="checkbox" class="pricing-toggle" [(ngModel)]="isYearly" (change)="onToggle()">
                                    </div>
                                    <span class="pricing-time-span">Annually <span class="badge bg-primary2">20% off</span></span>
                                </div>
                            </div>
                            <div class="tab-content show" id="monthly1"  [ngClass]="{'show': !isYearly}">
                                <div class="row d-flex align-items-center justify-content-center mb-5">
                                    @for(pricing of pricings;track $index){

                                        <div class="col-lg-8 col-xl-4 col-xxl-4 col-md-8 col-sm-12">
                                            <app-spk-pricing-reusable-card
                                            [title]="pricing.title"
                                            [mainClass]="pricing.mainClass"
                                            [arrowClass]="pricing.arrowClass"
                                            [buttonClass]="pricing.buttonClass"
                                            [borderClass]="pricing.borderClass" 
                                            [bodyClass]="pricing.bodyClass"
                                            [priceClass]="pricing.priceClass"
                                            [footerClass]="pricing.footerClass"
                                            [price]="pricing.price"
                                            [pricingPlan]="pricing.pricingPlan"
                                            [description]="pricing.description"
                                            [features]="pricing.features"
                                            [textColor]="pricing.textColor"
                                            [isPopular]="pricing.popular">
                                        </app-spk-pricing-reusable-card>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="tab-content" id="yearly1"  [ngClass]="{'show': isYearly}">
                                <div class="row d-flex align-items-center justify-content-center mb-5">
                                    @for(pricing of yearlyPricings;track $index){

                                        <div class="col-lg-8 col-xl-4 col-xxl-4 col-md-8 col-sm-12">
                                            <app-spk-pricing-reusable-card
                                            [title]="pricing.title"
                                            [mainClass]="pricing.mainClass"
                                            [arrowClass]="pricing.arrowClass"
                                            [buttonClass]="pricing.buttonClass"
                                            [borderClass]="pricing.borderClass"
                                            [bodyClass]="pricing.bodyClass"
                                            [priceClass]="pricing.priceClass"
                                            [pricingPlan]="pricing.pricingPlan"
                                            [footerClass]="pricing.footerClass"
                                            [price]="pricing.price"
                                            [description]="pricing.description"
                                            [features]="pricing.features"
                                            [textColor]="pricing.textColor"
                                            [isPopular]="pricing.popular">
                                        </app-spk-pricing-reusable-card>
                                        </div>
                                    }
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End:: Section-7 -->

            <!-- Start:: Section-8 -->
            <section class="section" id="faqs" #faqs>
                <div class="container text-center">
                    <p class="fs-12 fw-medium text-success mb-1"><span
                            class="landing-section-heading text-primary">F.A.Q 's</span>
                    </p>
                    <h4 class="fw-semibold mt-3 mb-2">Frequently asked questions ?</h4>
                    <div class="row justify-content-center">
                        <div class="col-xl-7">
                            <p class="text-muted fs-14 mb-5 fw-normal">We have shared some of the most frequently asked
                                questions to help you out.</p>
                        </div>
                    </div>
                    <div class="row text-start">
                        <div class="col-xl-12">
                            <div class="row gy-2">
                                <div class="col-xl-6">
                                 <app-ngb-accordion [accordionId]="'accordionExample'" [accodionClass]="'accordion accordion-customicon1 accordion-primary accordions-items-seperate'" [closeOthers]="true" [accordionItems]="basicAccordions"></app-ngb-accordion>
                                </div>
                                <div class="col-xl-6">
                                 <app-ngb-accordion [accordionId]="'accordionExample'" [accodionClass]="'accordion accordion-customicon1 accordion-primary accordions-items-seperate'" [closeOthers]="true" [accordionItems]="basicAccordions1"></app-ngb-accordion>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End:: Section-8 -->

            <!-- Start:: Section-9 -->
            <section class="section landing-Features py-4" id="testimonials"  #testimonials>
                <div class="container reviews-container">
                    <div class="row justify-content-center pb-3">
                        <div class="col-xl-10">
                            <div class="text-center mb-0 mt-4 heading-section">
                                <p class="fs-12 fw-medium text-success mb-1"><span
                                    class="landing-section-heading landing-section-heading-dark text-fixed-white">TESTIMONALS</span>
                               </p>
                                <h4 class="mt-3 text-fixed-white mb-1">Discover What People Are Saying About Us</h4>
                                <div class="fs-14 text-fixed-white mb-4 op-8"> Customer reviews, social media and testimonials to discover how is our products or services.</div>
                            </div>
                        </div>
                        <div class="col-xl-10"> <div class="swiper pagination-dynamic testimonialSwiperService">
                            <div class="swiper-wrapper">
                                <swiper-container 
                                #swiperContainer
                                class="swiper mySwiper" 
                                space-between="10"
                                slides-per-view="2"
                                slides-per-group="1"
                                pagination="true"
                                pagination-clickable="true"
                                autoplay-delay="2000"  autoplay-disable-on-interaction="false"
                              >
                          @for(slide of slidesStore;track $index){
                              <swiper-slide >
                                <div class="card custom-card overflow-hidden">
                                    <div class="card-body">
                                        <div class="">
                                            <span class=""><sup><i class="bi bi-quote fs-1 me-1 text-fixed-white"></i></sup> Customer service at this company is
                                                outstanding. They were quick to respond to my inquiry and
                                                resolved my issue within hours. -- 
                                                <a href="javascript:void(0);" class="fw-semibold fs-11 text-fixed-white" data-bs-toggle="tooltip" tooltipClass="tooltip-dark" placement="left" ngbTooltip="customer service at this company is outstanding. They were quick to respond to my inquiry and resolved my issue within hours.">Read
                                                    More
                                                </a>
                                            </span>
                                        </div>
                                        <div class="d-flex align-items-center text-end  justify-content-end">
                                            <div class="text-warning d-block me-1 fs-10">
                                                <i class="ri-star-fill m-1"></i>
                                                <i class="ri-star-fill m-1"></i>
                                                <i class="ri-star-fill m-1"></i>
                                                <i class="ri-star-fill m-1"></i>
                                                <i class="ri-star-half-line m-1"></i>
                                            </div>
                                            <span>4.3</span>
                                        </div>
                                    </div>
                                    <div class="p-3 bg-white-transparent">
                                        <div class="d-flex align-items-center">
                                            <span class="avatar rounded-circle me-2">
                                                <img [src]="slide.img" alt="" class="img-fluid rounded-circle border border-primary1 shadow-sm border-2">
                                            </span>
                                            <div>
                                                <p class="mb-0 fw-semibold text-fixed-white">{{slide.name}}</p>
                                                <p class="mb-0 fs-11 fw-normal op-8 text-fixed-white">{{slide.mail}}</p>
                                            </div>
                                            <div class="ms-auto fs-12 fw-semibold op-8 text-end">
                                                <div class="btn btn-sm btn-icon rounded-circle btn-white me-1 "><i class="ri-twitter-x-line"></i></div>
                                                <div class="btn btn-sm btn-icon rounded-circle btn-primary1 "><i class="ri-share-line"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </swiper-slide>
                          }
                                    </swiper-container>
                         
                            </div>
                            <div
                                class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
                            </div>
                        </div>
                             
                        </div>
                    </div>
                </div>
            </section>
            <!-- End:: Section-9 -->

            <!-- Start:: Section-10 -->
            <section class="section" id="contact" #contact>
                <div class="container text-center">
                    <p class="fs-12 fw-medium text-success mb-1"><span
                            class="landing-section-heading text-primary">CONTACT US</span>
                    </p>
                    <h4 class="fw-semibold mt-3 mb-2">Need Help? Find Your Answers Here!</h4>
                    <div class="row justify-content-center">
                        <div class="col-xl-9">
                            <p class="text-muted fs-14 mb-5 fw-normal"> Explore Our Comprehensive Support Resources! Get answers to your queries and find solutions.</p>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="card custom-card contactus-form contactus-form-left overflow-hidden">
                            <div class="card-body text-start px-xl-5 px-4 py-5">
                                <div class="row pt-0">
                                    <div class="col-xxl-4 col-xl-6 col-lg-12 col-md-12 col-sm-12">
                                            <div class="mb-3">
                                                <i class="ri-map-pin-fill me-2 text-primary"></i> D.No: 1352/A-12, Street, Hyderabad.
                                            </div>
                                            <div class="mb-3">
                                                <i class="ri-phone-fill text-primary"></i> +122 1234 32422
                                            </div>
                                            <div class="mb-4">
                                                <i class="ri-mail-fill text-primary"></i> carolinahanna424&#64;example.com
                                            </div><iframe allowfullscreen height="190" width="100%" src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d30444.274596168965!2d78.54114692513858!3d17.48198883339408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d17.4886524!2d78.5495041!4m5!1s0x3bcb9c7ec139a15d%3A0x326d1c90786b2ab6!2sspruko%20technologies!3m2!1d17.474805099999998!2d78.570258!5e0!3m2!1sen!2sin!4v1670225507254!5m2!1sen!2sin" style="border:0;"></iframe>
                                        </div>
                                    <div class="col-xxl-8 col-xl-6 col-lg-12 col-md-12 col-sm-12">
                                        <div class="row gy-3 text-start">
                                            <div class="col-xl-12">
                                                <label class="form-label" for="contact-address-firstname">First Name :</label> <input class="form-control bg-light" id="contact-address-firstname" placeholder="Enter Name" type="text">
                                            </div>
                                            <div class="col-xl-12">
                                                <label class="form-label" for="contact-address-email">Email Id :</label> <input class="form-control bg-light" id="contact-address-email" placeholder="Enter Email Id" type="email">
                                            </div>
                                            <div class="col-xl-12">
                                                <label class="form-label" for="contact-mail-message">Message :</label> 
                                                <textarea class="form-control bg-light" id="contact-mail-message" rows="2"></textarea>
                                            </div>
                                        </div>
                                        <div class=" mt-4">
                                            <button class="btn btn-primary btn-wave btn-w-lg waves-effect waves-light">Send Message</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End:: Section-10 -->

            <!-- Start:: Section-11 -->
            <section class="section landing-footer text-fixed-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-12 mb-md-0 mb-3">
                            <div class="px-4">
                                <p class="fw-medium mb-3"><a routerLink="/dashboards/sales"><img
                                            src="./assets/images/brand-logos/desktop-dark.png" alt="" class="landing-footer-logo"></a></p>
                                <p class="mb-2 op-6 fw-normal">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit et magnam,
                                    fuga est mollitia eius, quo illum illo inventore optio aut quas omnis rem. Dolores
                                    accusantium aspernatur minus ea incidunt.
                                </p>
                                <p class="mb-0 op-6 fw-normal">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                    Autem ea esse ad</p>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-12">
                            <div class="px-4">
                                <h6 class="fw-medium mb-3 text-fixed-white">PAGES</h6>
                                <ul class="list-unstyled op-6 fw-normal landing-footer-list">
                                    <li>
                                        <a href="javascript:void(0);" class="text-fixed-white">Email</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="text-fixed-white">Profile</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="text-fixed-white">Timeline</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="text-fixed-white">Projects</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="text-fixed-white">Contacts</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="text-fixed-white">Portfolio</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-12">
                            <div class="px-4">
                                <h6 class="fw-medium text-fixed-white">INFO</h6>
                                <ul class="list-unstyled op-6 fw-normal landing-footer-list">
                                    <li>
                                        <a href="javascript:void(0);" class="text-fixed-white">Our Team</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="text-fixed-white">Contact US</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="text-fixed-white">About</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="text-fixed-white">Services</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="text-fixed-white">Blog</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="text-fixed-white">Terms & Conditions</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="px-4">
                                <h6 class="fw-medium text-fixed-white">CONTACT</h6>
                                <ul class="list-unstyled fw-normal landing-footer-list">
                                    <li>
                                        <a href="javascript:void(0);" class="text-fixed-white op-6"><i
                                                class="ri-home-4-line me-1 align-middle"></i> New York, NY 10012, US</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="text-fixed-white op-6"><i
                                                class="ri-mail-line me-1 align-middle"></i> info&#64;gmail.com</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="text-fixed-white op-6"><i
                                                class="ri-phone-line me-1 align-middle"></i> +(555)-1920 1831</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="text-fixed-white op-6"><i
                                                class="ri-printer-line me-1 align-middle"></i> +(123) 1293 123</a>
                                    </li>
                                    <li class="mt-3">
                                        <p class="mb-2 fw-medium op-8">FOLLOW US ON :</p>
                                        <div class="mb-0">
                                            <div class="btn-list">
                                                <button
                                                    class="btn btn-sm btn-icon btn-primary-light btn-wave waves-effect waves-light">
                                                    <i class="ri-facebook-line fw-bold"></i>
                                                </button>
                                                <button
                                                    class="btn btn-sm btn-icon btn-primary1-light btn-wave waves-effect waves-light">
                                                    <i class="ri-twitter-x-line fw-bold"></i>
                                                </button>
                                                <button
                                                    class="btn btn-sm btn-icon btn-primary2-light btn-wave waves-effect waves-light">
                                                    <i class="ri-instagram-line fw-bold"></i>
                                                </button>
                                                <button
                                                    class="btn btn-sm btn-icon btn-primary3-light btn-wave waves-effect waves-light">
                                                    <i class="ri-github-line fw-bold"></i>
                                                </button>
                                                <button
                                                    class="btn btn-sm btn-icon btn-info-light btn-wave waves-effect waves-light">
                                                    <i class="ri-youtube-line fw-bold"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End:: Section-11 -->

            <div class="text-center landing-main-footer py-3">
                <span class="text-muted fs-15"> Copyright © 2025 <span id="year"></span> <a href="javascript:void(0);"
                        class="text-primary fw-medium"><u>RebbitGroup</u></a>.
                     <span class="bi bi-heart-fill text-danger"></span> by <a href="javascript:void(0);"
                        class="text-primary fw-medium"><u>
                            </u>
                    </a> 
                  
                </span>
            </div>

        </div>
        <!-- End::app-content -->

    </div>

    <div class="scrollToTop"  (click)="taptotop()" [ngStyle]="{ display: show ? 'flex' : 'none' }">
        <span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
    </div>