<app-page-header title="Order Details" title1="Ecommerce" activeTitle="Order Details" ></app-page-header>
  <!-- Start::row-1 -->
  <div class="row">
    <div class="col-xl-8">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="card-title">
                            Order No - <span class="text-primary">#SPK-7832</span>
                        </div>
                        <div>
                            <span class="badge bg-primary-transparent">
                                Estimated delivery : 30,Nov 2023
                            </span>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive overflow-scroll">
                            <app-spk-reusable-tables  [columns]="orderColumn" tableClass=" text-nowrap"
                            [showCheckbox]="false"> 
                            @for (OrderDetail of OrderDetails; track OrderDetail) {
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="me-3">
                                                <span class="avatar avatar-xl bg-primary-transparent">
                                                    <img [src]="OrderDetail.img"  alt="">
                                                </span>
                                            </div>
                                            <div>
                                                <div class="mb-1 fs-14 fw-medium">
                                                    <a href="javascript:void(0);">{{OrderDetail.name}}</a>
                                                </div>
                                                <div class="mb-1">
                                                    <span class="me-1 d-inline-block">Size:</span><span class="text-muted">{{OrderDetail.Size}}</span>
                                                </div>
                                                <div class="mb-1">
                                                    <span class="me-1 d-inline-block">Color:</span><span class="text-muted">{{OrderDetail.Color}}</span>
                                                    <span class="badge bg-{{OrderDetail.bg}} ms-3">{{OrderDetail.status}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td><a href="javascript:void(0);" class="text-primary">{{OrderDetail.Id}}</a></td>
                                    <td>
                                        <span class="fs-15 fw-semibold">${{OrderDetail.Price}}</span>
                                    </td>
                                    <td>{{OrderDetail.Quantity}}</td>
                                    <td>${{ OrderDetail.Price*OrderDetail.Quantity}}</td>
                                </tr>
                            }
                            </app-spk-reusable-tables>
                       
                        </div>
                    </div>
                    <div class="card-footer border-top-0 d-flex align-items-center justify-content-between gap-2">
                            <button class="btn btn-primary-light btn-wave" onclick="javascript:window.print();"><i class="ri-printer-line me-1 align-middle d-inline-block"></i>Print</button>
                            <button class="btn btn-primary btn-wave"><i class="ri-share-forward-line me-1 align-middle d-inline-block"></i>Share Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Order tracking
                </div>
                <div>
                    ID : <a href="javascript:void(0);" class="text-primary fw-semibold">#245879</a>
                </div>
            </div>
            <div class="card-body">
                <div class="custom-form-group mb-3">
                    <input type="text" class="form-control form-control-md" placeholder="Enter your order ID" aria-label="Order ID">
                    <button class="btn btn-primary btn-sm border-0 custom-form-btn" type="button">Track Order</button>
                </div>
                <p class="mb-4">
                    <span class="fw-medium me-2 fs-14">Status :</span>
                    <span class="bg-success-transparent fs-11 badge">Shipping</span>
                </p>
                <div class="order-track mt-1">
                    <div ngbAccordion class="accordion" id="basicAccordion">
                        <div ngbAccordionItem  [collapsed]="false" class="accordion-item border-0 bg-transparent mb-3">
                            <div ngbAccordionHeader class="accordion-header" id="headingOne">
                                <button ngbAccordionButton class="px-0 py-0 d-block" href="javascript:void(0)" role="button" data-bs-toggle="collapse" data-bs-target="#basicOne" aria-expanded="true" aria-controls="basicOne">
                                    <div class="d-flex mb-0 lh-1">
                                        <div class="me-2">
                                            <span class="avatar avatar-sm avatar-rounded track-order-icon backdrop-blur border border-primary border-opacity-10 bg-primary-transparent">
                                                <img src="./assets/images/ecommerce/png/18.png" alt="">
                                            </span>
                                        </div>
                                        <div class="flex-fill d-flex align-items-center justify-content-between">
                                            <p class="fw-medium mb-0 fs-14">Order Placed</p>
                                            <span class=" text-secondary">May 15</span>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div ngbAccordionCollapse id="basicOne" class="accordion-collapse collapse show border-top-0" aria-labelledby="headingOne" data-bs-parent="#basicAccordion">
                                <div ngbAccordionBody class="accordion-body pt-0 ps-5 mb-0 pb-0">
                                    <ng-template>
                                    <div class="">
                                        <p class="mb-0">Order successfully placed by <a href="javascript:void(0);" class="font-weight-semibold text-primary">Austin Ninus</a></p>
                                    </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordion class="accordion" id="basicAccordion1">
                        <div ngbAccordionItem [collapsed]="false" class="accordion-item border-0 bg-transparent mb-3">
                            <div ngbAccordionHeader class="accordion-header" id="headingTwo">
                                <button ngbAccordionButton class="px-0 py-0 d-block" href="javascript:void(0)" role="button" data-bs-toggle="collapse" data-bs-target="#basicTwo" aria-expanded="true" aria-controls="basicTwo">
                                    <div class="d-flex mb-0 lh-1">
                                        <div class="me-2">
                                            <span class="avatar avatar-sm avatar-rounded track-order-icon backdrop-blur border border-primary1 border-opacity-10 bg-primary1-transparent">
                                                    <img src="./assets/images/ecommerce/png/8.png" alt="">
                                            </span>
                                        </div>
                                        <div class="flex-fill d-flex align-items-center justify-content-between">
                                            <p class="fw-medium mb-0 fs-14">Picked</p>
                                            <span class="fs-12">May 15, 21:08</span>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div ngbAccordionCollapse id="basicTwo" class="accordion-collapse show collapse border-top-0" aria-labelledby="headingTwo" data-bs-parent="#basicAccordion1">
                                <div ngbAccordionBody class="accordion-body pt-0 ps-5 mb-0 pb-0">
                                    <div class="">
                                        <p class="mb-0">Your order has been collected by <span class="font-weight-semibold">Suguna Enterprises.</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordion class="accordion" id="basicAccordion2">
                        <div ngbAccordionItem [collapsed]="false" class="accordion-item border-0 bg-transparent mb-3">
                            <div ngbAccordionHeader class="accordion-header" id="headingThree">
                                <button ngbAccordionButton class="px-0 py-0 d-block" href="javascript:void(0)" role="button" data-bs-toggle="collapse" data-bs-target="#basicThree" aria-expanded="true" aria-controls="basicThree">
                                    <div class="d-flex mb-0 lh-1">
                                        <div class="me-2">
                                            <span class="avatar avatar-sm avatar-rounded track-order-icon backdrop-blur border border-info border-opacity-10 bg-info-transparent">
                                                <img src="./assets/images/ecommerce/png/19.png" alt="">
                                            </span>
                                        </div>
                                        <div class="flex-fill d-flex align-items-center justify-content-between">
                                            <p class="fw-medium mb-0 fs-14">Shipping</p>
                                            <span class="fs-12">May 15, 21:08</span>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div id="basicThree" ngbAccordionCollapse class="accordion-collapse show collapse border-top-0" aria-labelledby="headingThree" data-bs-parent="#basicAccordion2">
                                <div ngbAccordionBody class="accordion-body pt-0 ps-5 mb-0 pb-0">
                                    <div class="">
                                        <p class="mb-0">Order<span class="font-weight-semibold"> picked </span> and en route to location.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion" id="basicAccordion3" ngbAccordion>
                        <div ngbAccordionItem [collapsed]="true" class="accordion-item border-0 bg-transparent next-step mb-3">
                            <div ngbAccordionHeader class="accordion-header" id="headingFour">
                                <button ngbAccordionButton class="collapsed px-0 py-0 d-block" href="javascript:void(0)" role="button" data-bs-toggle="collapse" data-bs-target="#basicFour" aria-expanded="false" aria-controls="basicFour">
                                    <div class="d-flex mb-0 lh-1">
                                        <div class="me-2">
                                            <span class="avatar avatar-sm avatar-rounded track-order-icon backdrop-blur border border-secondary border-opacity-10 bg-secondary-transparent">
                                                <img src="./assets/images/ecommerce/png/25.png" alt="">
                                            </span>
                                        </div>
                                        <div class="flex-fill d-flex align-items-center justify-content-between flex-wrap">
                                            <p class="fw-medium mb-0 fs-14">Out For Delivery</p>
                                            <span class="text-muted fs-12">May 15, 21:08 (expected)</span>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div id="basicFour" ngbAccordionCollapse class="accordion-collapse collapse border-top-0" aria-labelledby="headingFour" data-bs-parent="#basicAccordion3">
                                <div ngbAccordionBody class="accordion-body pt-0 ps-5 mb-0 pb-0">
                                    <div class="mb-1">
                                        <p class="mb-0">Your order is out for delivery</p>
                                        <span class="text-muted fs-12">May 15, 2022, 15:36</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion"  id="basicAccordion4">
                        <div  class="accordion-item border-0 bg-transparent next-step">
                            <div  class="accordion-header" id="headingFive">
                               <a  class="collapsed px-0 pt-0" href="javascript:void(0)" role="button" data-bs-toggle="collapse" aria-expanded="false" >
                                    <div class="d-flex mb-0 lh-1">
                                        <div class="me-2">
                                            <span class="avatar avatar-sm avatar-rounded track-order-icon backdrop-blur border border-primary2 border-opacity-10 bg-primary2-transparent">
                                                <img src="./assets/images/ecommerce/png/20.png" alt="">
                                            </span>
                                        </div>
                                        <div class="flex-fill d-flex align-items-center justify-content-between">
                                            <p class="fw-medium mb-0 fs-14">Delivered</p>
                                            <span class="fs-12 text-muted">May 15, 22:12</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card overflow-hidden">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Order Summary
                </div>
                <div>
                    ID : <a href="javascript:void(0);" class="text-primary fw-semibold">#245879</a>
                </div>
            </div>
            <div class="card-body p-0 table-responsive">
                        <app-spk-reusable-tables > 
                        @for(item of cartSummary;track $index){
                            <tr>

                                <td>
                                  <div class="fw-semibold">{{ item.label }} :</div>
                                </td>
                                <td [innerHTML]="item.value"></td>
                            </tr>
                        }
                        </app-spk-reusable-tables>
             
            </div>
        </div>
    </div>
   
</div>
<!--End::row-1 -->
