<app-page-header title="Ecommerce" title1="Dashboards" activeTitle="Ecommerce"></app-page-header>

<!-- Start: row-1 -->
<div class="row">
    <div class="col-xxl-9">
        <div class="row">
            <div class="col-xl-3">
                @for(card of cardData;track $index){
                                <app-spk-reusable-card
                               [card]="card"
                                 ></app-spk-reusable-card>
                                
                        }
                        </div>

            <div class="col-xl-9">
                <div class="card custom-card">
                    <div class="card-header justify-content-between">
                        <div class="card-title">Sales Report</div>
                        <div class="d-flex gap-2">
                            <div class="btn btn-sm btn-outline-light">Today</div>
                            <div class="btn btn-sm btn-outline-light">Weakly</div>
                            <div class="btn btn-sm btn-light">Yearly</div>
                        </div>
                    </div>
                    <div class="card-body pb-2">
                        <div id="sales-report">
                            <app-apex-chart [chartOptions]="chartOptions"></app-apex-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-8 col-xl-7">
                <div class="card custom-card overflow-hidden">
                    <div class="card-header justify-content-between">
                        <div class="card-title">Recent Orders</div>
                        <a href="javascript:void(0);"
                            class="btn btn-outline-light border d-flex align-items-center text-muted btn-sm">
                            View All
                        </a>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <app-spk-reusable-tables [columns]="orderColumns" [tableClass]="' text-nowrap table-hover'"  [showCheckbox]="false">
                                @for(order of orders;track $index){
                                    <tr>
                                        <td><a href="javascript:void(0);" class="text-primary">{{order.id}}</a></td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="me-2 lh-1">
                                                    <span class="avatar avatar-sm">
                                                        <img [src]="order.src" alt="">
                                                    </span>
                                                </div>
                                                <div>
                                                    <a href="javascript:void(0)" class="fs-14 fw-medium">{{order.customer}}</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="d-block text-muted">{{order.date}}</span>
                                        </td>
                                        <td>
                                            <span class="d-block mb-1">{{order.price}}</span>
                                        </td>
                                        <td><span class="badge bg-{{order.bg}}-transparent">{{order.status}}</span></td>
                                    </tr>
                                 }</app-spk-reusable-tables>
                        </div>
                     
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-5">
                <div class="card custom-card">
                    <div class="card-header justify-content-between">
                        <div class="card-title">Total Orders
                        </div>
                        <spk-dropdowns [Customclass]="'dropdown'" [class]="'btn btn-outline-light btn-sm border d-flex align-items-center text-muted '" [title]="'View All'" 
                        [Menuclass]="'dropdown-menu dropdown-menu-end'"  >
                        <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Yearly</a></li>
                        <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Monthly</a></li>
                        <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Weakly</a></li>
                    </spk-dropdowns>
                    <div class="card-body">
                        <div
                            class="d-flex justify-content-between align-items-center text-center bg-light p-3 rounded-1 order-content">
                            <div>
                                <p class="mb-1">Total Orders</p>
                                <h4 class="text-primary mb-0">12,500</h4>
                            </div>
                            <div>
                                <p class="mb-1 text-center">Overall Growth from Last Year</p>
                                <h5 class="text-success mb-0 text-center">+15%</h5>
                            </div>
                        </div>
                        <div id="total-orders">
                            <app-apex-chart [chartOptions]="chartOptions1"></app-apex-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-5 ">
            <div class="card custom-card">
                <div class="card-header justify-content-between flex-wrap pb-0">
                    <div class="card-title">
                        New Visitors
                    </div>
                    <spk-dropdowns [Customclass]="'dropdown'" [class]="'btn btn-outline-light btn-icons btn-sm text-muted no-caret '" [Icon]="true" [IconClass]="'fe fe-more-vertical'" 
                    [Menuclass]="'dropdown-menu'"  >
                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Today</a></li>
                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">This Week</a></li>
                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Last Week</a></li>
                </spk-dropdowns>
                </div>
                <div class="card-body">
                    <div class="row align-items-end mx-0">
                        <div class="col-5">
                            <h3 class="fw-medium mb-0">5,642</h3>
                            <div><i class="ri-checkbox-blank-circle-fill text-primary lh-1 align-middle fs-10"></i>
                                Total New Visitors</div>
                        </div>
                        <div class="col-7">
                            <div class="fw-medium">Percentage of New Visitors</div>
                            <div class="text-muted fs-12">Last 30 Days: Increased By <span
                                    class="text-success fw-medium">42.5%<i
                                        class="ti ti-arrow-narrow-up fs-16"></i></span></div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div id="websitedesign">
                        <app-apex-chart [chartOptions]="chartOptions2"></app-apex-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-md-6">
            <div class="card custom-card overflow-hidden">
                <div class="card-header justify-content-between">
                    <div class="card-title">
                        Payment Methods
                    </div>
                    <spk-dropdowns [Customclass]="'dropdown'" [class]="'btn btn-outline-light btn-icons btn-sm text-muted no-caret '" [Icon]="true" [IconClass]="'fe fe-more-vertical'" 
                    [Menuclass]="'dropdown-menu'"  >
                    <li class="border-bottom"><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Today</a></li>
                    <li class="border-bottom"><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">This Week</a></li>
                    <li class="border-bottom"><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Last Week</a></li>
                </spk-dropdowns>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        @for(method of paymentMethods;track $index){

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              <div>
                                <i [ngClass]="method.iconClass + ' p-1 ' + method.bgClass + ' lh-1 me-2 fs-22 rounded-1'"></i>
                                {{ method.name }}
                              </div>
                              <span class="badge bg-primary rounded-pill">{{ method.percentage }}</span>
                            </li>
                        }
                      </ul>
                </div>
            </div>
        </div>
        <div class="col-xxl-4 col-md-6">
            <div class="card custom-card overflow-hidden">
                <div class="card-header justify-content-between pb-3">
                    <div class="card-title">
                        Traffic Sources
                    </div>
                    <spk-dropdowns [Customclass]="'dropdown'" [class]="'btn btn-light btn-sm text-muted '" [title]="'View All'" 
                    [Menuclass]="'dropdown-menu'"  >
                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Download</a></li>
                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Import</a></li>
                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Export</a></li>
                </spk-dropdowns>
                    
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <app-spk-reusable-tables [columns]="trafficColumn"  [showCheckbox]="false">
                            @for(source of traffic;track $index){
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="avatar  avatar-sm p-2 bg-{{source.bg}}-transparent me-2">
                                                <i class="ri-{{source.icon}}-line fs-18"></i>
                                            </span>
                                            <div class="fw-medium">{{source.browser}}</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{source.bg}}"
                                                role="progressbar" [style.width]="source.progress + '%'" 
                                                [attr.aria-valuenow]="source.progress" 
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span>{{source.price}}<i
                                                class="{{source.arrow}}"></i></span>
                                    </td>
                                </tr>
                            }
                            </app-spk-reusable-tables>
                     
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3">
        <div class="card custom-card offer-card">
            <div class="card-body p-4 pe-0">
                <div class="d-flex align-items-end gap-2">
                    <div class="offer-card-details">
                        <div class="offer-item">
                            <div class="avatar avatar-xl mb-3"> <img src="./assets/images/ecommerce/png/17.png"
                                    alt="Product Image" class="img-fluid"> </div>
                            <div class="product-info">
                                <h4 class="mb-2 fw-medium text-fixed-white">Today's Sale</h4> <span
                                    class="mb-1 text-success fw-semibold fs-12">Up to 20% Off on </span> <span
                                    class="mb-3 text-fixed-white h6"> HeadPhones</span>
                            </div> <span class="text-fixed-white">Price: $9.99 </span> <span
                                class="text-fixed-white ps-2"> Discount: 20%</span>
                        </div> <button class="btn btn-primary1 mt-4 shadow">Add to Cart</button>
                    </div> <img src="./assets/images/media/media-90.png" alt="Product Image"
                        class="img-fluid offer-item-img ms-auto">
                </div>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">Top-Selling Products</div> <a href="javascript:void(0);"
                    class="btn btn-outline-light border d-flex align-items-center text-muted btn-sm"> View All </a>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mb-0" id="product-list">
                    @for(product of productData;track $index){
                        <li class="{{product.liClass}}">
                          <div class="d-flex align-items-center flex-wrap">
                            <div class="me-3 lh-1">
                              <span class="avatar avatar-lg bg-gray-200">
                                <img [src]="product.imgSrc" alt="">
                              </span>
                            </div>
                            <div class="flex-fill">
                              <span class="fs-14 d-block mb-0 fw-medium">{{ product.name }}</span>
                              <span class="text-muted fs-12">{{ product.category }}</span>
                            </div>
                            <div class="text-end">
                              <p class="mb-0 fs-14 fw-medium">{{ product.price }}</p>
                              <p class="mb-0 text-muted fs-14">{{ product.sales }}</p>
                            </div>
                          </div>
                        </li>
                    }
                  </ul>
                  
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-header justify-content-between pb-0">
                <div class="card-title"> Recent Activity </div>
                <spk-dropdowns [Customclass]="'dropdown'" [title]="'View All'" [class]="'fs-12 text-muted bg-light rounded btn btn-sm btn-light no-caret'" [Icon]="true" [IconClass]="'ri-arrow-down-s-line align-middle ms-1 d-inline-block'" 
                [Menuclass]="'dropdown-menu'"  >
                <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Today</a></li>
                <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">This Week</a></li>
                <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Last Week</a></li>
            </spk-dropdowns>
            </div>
            <div class="card-body">
                <!-- recent-activity.component.html -->
<ul class="list-unstyled mb-0 ecommerce-recent-activity">
    @for(activity of activities;track $index){

        <li  class="ecommerce-recent-activity-content {{activity.liClass}}">
          <div class="d-flex align-items-top">
            <div class="me-3">
              <span class="avatar avatar-sm {{ activity.avatarClass }} avatar-rounded">
                <i class="{{ activity.iconClass }} fs-14"></i>
              </span>
            </div>
            <div class="activity-content">
              <span class="d-block fw-medium">{{ activity.title }}</span>
              <span class="d-block fs-12 text-muted {{activity.class}}">{{ activity.description }}</span>
              @for(image of activity.images;track $index){

                  <a href="javascript:void(0);" class="avatar avatar-sm bg-gray-200 m-1"> 
                    <img [src]="image"  alt=""> </a>
              }
             
            </div>
            <div class="flex-fill text-end">
              <span class="d-block text-muted fs-11 op-7">{{ activity.timeAgo }}</span>
            </div>
          </div>
        </li>
    }
  </ul>
  
             
            </div>
        </div>
    </div>

</div>
<!-- End:: row-1 -->

<!-- Start:: row-2 -->
<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Newly Added Products
                </div>
                <div class="d-sm-flex">
                    <div class="me-3 mb-3 mb-sm-0">
                        <input class="form-control form-control-sm" type="text" placeholder="Search"
                            aria-label=".form-control-sm example">
                    </div>
                    <spk-dropdowns [Customclass]="'dropdown'" [title]="'Sort By'" [class]="'btn btn-primary btn-sm no-caret'" [Icon]="true" [IconClass]="'ri-arrow-down-s-line align-middle ms-1 d-inline-block'" 
                    [Menuclass]="'dropdown-menu'"  >
                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">New</a></li>
                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Popular</a></li>
                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Relevant</a></li>
                </spk-dropdowns>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <app-spk-reusable-tables [columns]="productColumns" tableClass="text-nowrap table-bordered"  [showCheckbox]="false">
                        @for(product of products;track $index){

                            <tr>
                                <td>
                                    <span class="fw-medium">{{product.id}}</span>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="me-2 lh-1">
                                            <span class="avatar avatar-md bg-light">
                                                <img [src]="product.src" alt="">
                                            </span>
                                        </div>
                                        <div class="fs-14">{{product.product}}</div>
                                    </div>
                                </td>
                                <td>
                                    <span class="fw-medium">{{product.category}}</span>
                                </td>
                                <td>
                                    <span class="badge bg-primary">{{product.percent}}</span>
                                </td>
                                <td>
                                    {{product.price}}
                                </td>
                                <td>
                                    <span class="badge bg-{{product.bg}}-transparent">{{product.status}}</span>
                                </td>
                                <td>
                                    <span class="fw-medium">{{product.date}}</span>
                                </td>
                                <td>
                                    <div class="btn-list">
                                        <a aria-label="anchor" href="javascript:void(0);" data-bs-toggle="tooltip"
                                            placement="top" ngbTooltip="View"
                                            class="btn  btn-icon btn-secondary-light"><i class="ti ti-eye"></i></a>
                                        <a aria-label="anchor" href="javascript:void(0);" data-bs-toggle="tooltip"
                                            placement="top" ngbTooltip="Edit"
                                            class="btn  btn-icon btn-info-light"><i class="ti ti-pencil"></i></a>
                                        <a aria-label="anchor" href="javascript:void(0);" data-bs-toggle="tooltip"
                                            placement="top" (click)="click(product.id)" ngbTooltip="Delete"
                                            class="btn  btn-icon  btn-primary2-light"><i class="ti ti-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                        </app-spk-reusable-tables>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex align-items-center">
                    <div>
                        Showing 5 Entries <i class="bi bi-arrow-right ms-2 fw-medium"></i>
                    </div>
                    <div class="ms-auto">
                        <nav aria-label="Page navigation" class="pagination-style-4">
                            <ul class="pagination mb-0">
                                <li class="page-item disabled">
                                    <a class="page-link" href="javascript:void(0);">
                                        Prev
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                <li class="page-item">
                                    <a class="page-link text-primary" href="javascript:void(0);">
                                        next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-2 -->