<app-page-header title="Funnel Charts" title1="Apex Charts" activeTitle="Column Charts"></app-page-header>

<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Funnel Chart</div>
            </div>
            <div class="card-body">
                <div id="funnel-chart">
                    <app-apex-chart  [chartOptions]="chartOptions"></app-apex-chart>                  
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Pyramid Chart</div>
            </div>
            <div class="card-body">
                <div id="pyramid-chart">
                    <app-apex-chart  [chartOptions]="chartOptions1"></app-apex-chart>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->