<!-- crm-card.component.html -->
<!-- <div class="col-md-6 col-lg-4 col-xl"> -->
    <div class="card custom-card crm-card">
      <div class="card-body">
        <div class="">
          <div class="d-flex justify-content-between mb-2">
            <div class="p-2 border border-{{iconBgClass}} border-opacity-10 bg-{{iconBgClass}}-transparent rounded-pill">
              <span class="avatar avatar-rounded avatar-md bg-{{ iconBgClass }} svg-white" [innerHTML]="svg">
                <!-- <svg [attr.fill]="'#000000'" [attr.viewBox]="'0 0 256 256'" [innerHTML]="iconSvg"></svg> -->
              </span>
            </div>
          </div>
          <p class="flex-fill text-muted fs-14 mb-0">{{ title }}</p>
        </div>
        <div class="d-flex align-items-center justify-content-between mt-1">
            <h4 class="mb-0 d-flex align-items-center"> {{value}}</h4>
            <span class="text-{{bg}} badge bg-{{bg}}-transparent rounded-pill d-flex align-items-center fs-11 me-0 ms-2 mb-0"><i class="ri-arrow-left-{{arrow}}-line fs-11"></i>{{percentageChange}}</span>
        </div>
      </div>
    </div>
  <!-- </div> -->
  