<!-- <div class="col-xl-4"> -->
    <div class="card custom-card landing-card border shadow-none text-center">
      <div class="card-body">
        <div class="mb-4">
          <span class="avatar avatar-lg  bg-{{bgColorClass}}-transparent svg-{{bgColorClass}} avatar-rounded border-3 border border-opacity-50 {{borderColorClass}}" [innerHTML]="svg">
          
          </span>
        </div>
        <h6 class="fw-semibold">{{ title }}</h6>
        <p class="text-muted">{{ description }}</p>
        <button  class="fw-medium btn btn-sm btn-primary">
          {{ buttonText }} <i class="ti ti-arrow-narrow-right ms-2 fs-16 align-bottom"></i>
        </button>
      </div>
    </div>
  <!-- </div> -->
  