

:root {
	--body-bg-rgb: 249, 250, 252;
	--primary-rgb: 92, 103, 247;
	--primary-tint1-rgb: 227, 84, 212;
	--primary-tint2-rgb: 255, 93, 159;
	--primary-tint3-rgb: 255, 142, 111;
	--secondary-rgb: 158, 92, 247;
	--warning-rgb: 255, 198, 88;
	--info-rgb: 14, 165, 232;
	--success-rgb: 33, 206, 158;
	--danger-rgb: 251, 66, 66;
	--light-rgb: 249, 249, 250;
	--dark-rgb: 10, 10, 10;
	--orange-rgb: 254, 124, 88;
	--pink-rgb: 254, 84, 155;
	--teal-rgb: 0, 216, 216;
	--purple-rgb: 123, 118, 254;
	--green-rgb: 1, 239, 140;
	--default-body-bg-color: rgb(var(--body-bg-rgb));
	--primary-color: rgb(var(--primary-rgb));
	--primary-tint1-color: rgb(var(--primary-tint1-rgb));
	--primary-tint2-color: rgb(var(--primary-tint2-rgb));
	--primary-tint3-color: rgb(var(--primary-tint3-rgb));
	--primary-border: rgb(var(--primary-rgb));
	--primary01: rgba(var(--primary-rgb), 0.1);
	--primary02: rgba(var(--primary-rgb), 0.2);
	--primary03: rgba(var(--primary-rgb), 0.3);
	--primary04: rgba(var(--primary-rgb), 0.4);
	--primary05: rgba(var(--primary-rgb), 0.5);
	--primary06: rgba(var(--primary-rgb), 0.6);
	--primary07: rgba(var(--primary-rgb), 0.7);
	--primary08: rgba(var(--primary-rgb), 0.8);
	--primary09: rgba(var(--primary-rgb), 0.9);
	--primary005: rgba(var(--primary-rgb), 0.05);
	--default-font-family: "Poppins", sans-serif;
	--default-font-weight: 400;
	--default-text-color: #212b37;
	--default-border: #ecf3fb;
	--default-background: #f9fafb;
	--menu-bg: #fff;
	--menu-prime-color: #61748f;
	--menu-border-color: #e2e6f1;
	--header-bg: #fff;
	--header-prime-color: #61748f;
	--header-border-color: #e2e6f1;
	--custom-white: #fff;
	--custom-black: #000;
	--bootstrap-card-border: #ecf3fb;
	--list-hover-focus-bg: #f5f6f7;
	--text-muted: #6e829f;
	--input-border: #dee7f1;
	--form-control-bg: #ffffff;
	--bs-link-color-rgb: #{var(--default-text-color)};

	/* Gray set */
	--gray-1: #f9fafb;
	--gray-2: #f2f4f5;
	--gray-3: #e6eaeb;
	--gray-4: #dbdfe1;
	--gray-5: #949eb7;
	--gray-6: #7987a1;
	--gray-7: #4d5875;
	--gray-8: #383853;
	--gray-9: #323251;

	/* White set */
	--white-1: rgba(255, 255, 255, 0.1);
	--white-2: rgba(255, 255, 255, 0.2);
	--white-3: rgba(255, 255, 255, 0.3);
	--white-4: rgba(255, 255, 255, 0.4);
	--white-5: rgba(255, 255, 255, 0.5);
	--white-6: rgba(255, 255, 255, 0.6);
	--white-7: rgba(255, 255, 255, 0.7);
	--white-8: rgba(255, 255, 255, 0.8);
	--white-9: rgba(255, 255, 255, 0.9);

	/* Black set */
	--black-1: rgba(0, 0, 0, 0.1);
	--black-2: rgba(0, 0, 0, 0.2);
	--black-3: rgba(0, 0, 0, 0.3);
	--black-4: rgba(0, 0, 0, 0.4);
	--black-5: rgba(0, 0, 0, 0.5);
	--black-6: rgba(0, 0, 0, 0.6);
	--black-7: rgba(0, 0, 0, 0.7);
	--black-8: rgba(0, 0, 0, 0.8);
	--black-9: rgba(0, 0, 0, 0.9);
}

/*Font Family*/
$default-font-family: var(--default-font-family);

/*Font Size*/
$default-font-size: 0.8125rem;

/*Font Weight*/
$default-font-weight: var(--default-font-weight);

/*Body & Text colors*/
$default-body-color: var(--default-body-bg-color);
$default-text-color: var(--default-text-color);

/*Default Background Color*/
$default-background: var(--default-background);

/*Border Color*/
$default-border: var(--default-border);

/*Border Radius*/
$default-radius: 0.3rem;

/*Box Shadow*/
$box-shadow: 0px .125rem .25rem rgba(0,0,0,0.05);

/* Header Variables */
$header-bg: var(--header-bg);
$header-prime-color: var(--header-prime-color);
$header-border-color: var(--header-border-color);

/*Menu Variables*/
$menu-prime-color: var(--menu-prime-color);
$menu-bg: var(--menu-bg);
$menu-border-color: var(--menu-border-color);

/*Color Variables*/
$primary: var(--primary-color);
$primary-1: var(--primary-tint1-color);
$primary-2: var(--primary-tint2-color);
$primary-3: var(--primary-tint3-color);
$primary-border: var(--primary-border);
$primary-transparent: var(--primary-transparent-color);
$primary-01: var(--primary01);
$primary-02: var(--primary02);
$primary-03: var(--primary03);
$primary-04: var(--primary04);
$primary-05: var(--primary05);
$primary-06: var(--primary06);
$primary-07: var(--primary07);
$primary-08: var(--primary08);
$primary-09: var(--primary09);
$primary-005: var(--primary005);
$custom-white: var(--custom-white);
$custom-black: var(--custom-black);
$secondary: rgb(var(--secondary-rgb));
$warning: rgb(var(--warning-rgb));
$info: rgb(var(--info-rgb));
$success: rgb(var(--success-rgb));
$danger: rgb(var(--danger-rgb));
$light: rgb(var(--light-rgb));
$dark: rgb(var(--dark-rgb));
$orange: rgb(var(--orange-rgb));
$pink: rgb(var(--pink-rgb));
$purple: rgb(var(--purple-rgb));
$teal: rgb(var(--teal-rgb));
$green: rgb(var(--green-rgb));
$red: #d03d46;
$blue: #0082FF;
$cyan: #00D1D1;
$indigo: #4d5ddb;
$white: #fff;
$gray: #8699A3;
$black: #000;
$yellow: #fff621;
$text-muted: var(--text-muted);
$bootstrap-card-border: var(--bootstrap-card-border);
$list-hover-focus-bg: var(--list-hover-focus-bg);
$input-border: var(--input-border);
$form-control-bg: var(--form-control-bg);

/* social icons colors */
$facebook: #3b5998;
$twitter: #00acee;
$github: #333;
$google: #CF4E43;
$youtube: #FF0000;

/*gradient variables*/
$primary-gradient: linear-gradient(to bottom right, $primary 0%, $secondary 100%);
$primary1-gradient: linear-gradient(to bottom right, $primary-1 0%, #AB54E3 100%);
$primary2-gradient: linear-gradient(to bottom right, $primary-2 0%, #FF6C5D 100%);
$primary3-gradient: linear-gradient(to bottom right, $primary-3 0%, #FF663C 100%);
$secondary-gradient: linear-gradient(to bottom right, $secondary 0%, #7289FF 100%);
$success-gradient: linear-gradient(to bottom right, $success 0%, #009CA4 100%);
$warning-gradient: linear-gradient(to bottom right, $warning 0%, #9EA53C 100%);
$pink-gradient: linear-gradient(to bottom right, $pink 0%, #FF6C81 100%);
$teal-gradient: linear-gradient(to bottom right, $teal 0%, #3AE3C7 100%);
$danger-gradient: linear-gradient(to bottom right, $danger 0%, #DE4980 100%);
$info-gradient: linear-gradient(to bottom right, $info 0%, #4990E1 100%);
$orange-gradient: linear-gradient(to bottom right, $orange 0%, #E5647E 100%);
$purple-gradient: linear-gradient(to bottom right, $purple 0%, #0086FF 100%);
$light-gradient: linear-gradient(to bottom right, $light 0%, #D7FCFF 100%);
$dark-gradient: linear-gradient(to bottom right, $dark 0%, #16657A 100%);

/*gray set*/
$gray-1: var(--gray-1);
$gray-2: var(--gray-2);
$gray-3: var(--gray-3);
$gray-4: var(--gray-4);
$gray-5: var(--gray-5);
$gray-6: var(--gray-6);
$gray-7: var(--gray-7);
$gray-8: var(--gray-8);
$gray-9: var(--gray-9);

/*white set*/
$white-1: var(--white-1);
$white-2: var(--white-2);
$white-3: var(--white-3);
$white-4: var(--white-4);
$white-5: var(--white-5);
$white-6: var(--white-6);
$white-7: var(--white-7);
$white-8: var(--white-8);
$white-9: var(--white-9);

/*black set*/
$black-1: var(--black-1);
$black-2: var(--black-2);
$black-3: var(--black-3);
$black-4: var(--black-4);
$black-5: var(--black-5);
$black-6: var(--black-6);
$black-7: var(--black-7);
$black-8: var(--black-8);
$black-9: var(--black-9);

/* dark mode */
[data-theme-mode="dark"] {
	--body-bg-rgb: 25, 25, 28;
	--body-bg-rgb2: 45, 45, 48;
	--menu-bg: rgb(var(--body-bg-rgb));
	--menu-border-color: rgba(255, 255, 255, 0.1);
	--menu-prime-color: rgba(255,255,255,0.4);
	--header-bg: rgb(var(--body-bg-rgb));
	--header-prime-color: rgba(255,255,255,0.4);
	--header-border-color: rgba(255, 255, 255, 0.1);
	--custom-white: rgb(var(--body-bg-rgb));
	--custom-black: #fff;
	--default-border: rgba(255, 255, 255, 0.1);
	--default-text-color: rgba(255, 255, 255, 0.8);
	--light-rgb: 43, 46, 49;
	--dark-rgb: 240, 245, 248;
	--bootstrap-card-border: rgba(255, 255, 255, 0.1);
	--list-hover-focus-bg: rgba(255, 255, 255, 0.1);
	--default-background: rgb(var(--body-bg-rgb2));
	--default-body-bg-color: rgb(var(--body-bg-rgb2));
	--text-muted: rgba(255, 255, 255, 0.5);
	--input-border: rgba(255, 255, 255, 0.1);
	--form-control-bg: rgb(var(--body-bg-rgb));
	$box-shadow: 0px .125rem .25rem rgba(255,255,25,0.05);
	color-scheme: dark;

	/* Gray Set */
	--gray-1: #110f0f;
	--gray-2: rgba(255, 255, 255, 0.1);
	--gray-3: #393946;
	--gray-4: rgba(255, 255, 255, 0.2);
	--gray-5: #73738c;
	--gray-6: #8f8fa3;
	--gray-7: #ababba;
	--gray-8: #c7c7d1;
	--gray-9: #e3e3e8;

	/* white set */
	--white-1: rgba(0, 0, 0, 0.1);
	--white-2: rgba(0, 0, 0, 0.2);
	--white-3: rgba(0, 0, 0, 0.3);
	--white-4: rgba(0, 0, 0, 0.4);
	--white-5: rgba(0, 0, 0, 0.5);
	--white-6: rgba(0, 0, 0, 0.6);
	--white-7: rgba(0, 0, 0, 0.7);
	--white-8: rgba(0, 0, 0, 0.8);
	--white-9: rgba(0, 0, 0, 0.9);

	/* black set */
	--black-1: rgba(255, 255, 255, 0.1);
	--black-2: rgba(255, 255, 255, 0.2);
	--black-3: rgba(255, 255, 255, 0.3);
	--black-4: rgba(255, 255, 255, 0.4);
	--black-5: rgba(255, 255, 255, 0.5);
	--black-6: rgba(255, 255, 255, 0.6);
	--black-7: rgba(255, 255, 255, 0.7);
	--black-8: rgba(255, 255, 255, 0.8);
	--black-9: rgba(255, 255, 255, 0.9);
}