<app-page-header title="Form Advanced" title1="Forms" activeTitle="Form Advanced"></app-page-header>

                <!-- Start::row-1 -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">
                                    TAGIFY JS
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row gy-3">
                                    <div class="col-xl-6 tagify-tag">
                                        <label class="form-label d-block">Basic Tagify</label>
                                        <app-spk-ng-select 
                                        [options]="Tagify"
                                        [id]="'choices-multiple-groups'"
                                        [selectClass]="''"
                                        [defaultValue]="selected"
                                        [multiple]="true"
                                        [clearable]="true"
                                        [searchable]="true"
                                        [hideSelected]="true"
                                        [additionalProperties]="{}">
                                        </app-spk-ng-select>
                                        
                                    </div>
                                    <div class="col-xl-6 tagify-tag">
                                        <label class="form-label d-block">Tagify With Custom Suggestions</label>
                                        <app-spk-ng-select 
                                        [options]="companiesNames"
                                        [id]="'choices-multiple-groups'"
                                        [selectClass]="''"
                                        [defaultValue]="selectedCompanies"
                                        [multiple]="true"
                                        [clearable]="true"
                                        [searchable]="true"
                                        [hideSelected]="true"
                                        [additionalProperties]="{}">
                                        </app-spk-ng-select>
                                          </div>
                                    <div class="col-xl-6">
                                        <label class="form-label d-block">Diasbled User Input</label>
                                        <input name='tags-disabled-user-input' placeholder='Select tags from the list' class="form-control">
                                    </div>
                                    <div class="col-xl-6 tagify-tag">
                                        <label class="form-label d-block">Drag & Sort</label>
                                        <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
                                            @for (item of items; track item) {
                                              <div class="example-box" cdkDrag>{{item}}</div>
                                            }
                                          </div>
                                       
                                    </div>
                                    <div class="col-xl-6">
                                        <label class="form-label d-block">Tagify With Users List</label>
                                        <input name='users-list-tags' value='abatisse2@nih.gov, Justinian Hattersley' class="form-control">
                                    </div>
                                    <div class="col-xl-6">
                                        <label class="form-label d-block">Tagify Single-Value Select</label>
                                        <app-spk-ng-select 
                                        [options]="tags"
                                        [id]="'choices-multiple-groups'"
                                        [selectClass]="''"
                                        [clearable]="true"
                                        [searchable]="true"
                                        [hideSelected]="true"
                                        [additionalProperties]="{}">
                                        </app-spk-ng-select>
                                      
                                    </div>
                                   
                                    <div class="col-xl-12">
                                        <label class="form-label d-block">Tagify With Mix Text & Tags</label>
                                        <textarea name='mix' class="form-control"> because he's a relic.</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End::row-1 -->

                <!-- Start:: row-2 -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">
                                    TELEPHONE INPUT
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row gy-4">
                                    <div class="col-xl-3">
                                        <label for="phone" class="form-label d-block">Basic Telephone Input</label>
                                        <form [formGroup]="myForm" (ngSubmit)="submitPhone()">
                                            <div class="form-width">
                                              <mat-form-field appearance="outline">
                                                <ngx-mat-intl-tel-input id="phone"
                                                  formControlName="phone"
                                                  [preferredCountries]="['de', 'us']"
                                                  [enablePlaceholder]="true"
                                                  [enableSearch]="true"
                                                  name="phone"
                                                  #phone
                                                >
                                                </ngx-mat-intl-tel-input>
                                              </mat-form-field>
                                            </div>
                                          </form>
                                    </div>
                                    <div class="col-xl-5">
                                        <label for="phone-validation" class="form-label d-block">Telephone Input with valdation</label>
                                        <form [formGroup]="myForm" (ngSubmit)="submitPhone()">
                                            <mat-form-field appearance="outline">
                                              <ngx-mat-intl-tel-input
                                                formControlName="phone"
                                                id="phone-validation"
                                                [preferredCountries]="['de', 'us']"
                                                class=""
                                                [enablePlaceholder]="true"
                                                [enableSearch]="true"
                                                name="phone"
                                                #phone  
                                              >
                                              </ngx-mat-intl-tel-input>
                                            </mat-form-field>
                                            <div class="m-t-10">
                                              <button
                                                mat-raised-button
                                                id="btn"
                                                type="button"
                                                class="btn btn-primary btn-wave telephone-input-btn"
                                              >
                                                Validate
                                              </button>
                                            </div>
                                            @if(phoneNumber){
                                            <div class="m-t-10">Entered Phone number : {{ phoneNumber }}</div>
                                            } @if(phoneValue.touched &&phoneValue.invalid){
                                            <div id="error-msg" class="m-t-10 error">
                                              phone number invalid
                                            </div>
                                            }
                                          </form>
                                    </div>
                                    <div class="col-xl-4">
                                        <label for="phone-only-countries" class="form-label d-block">Telephone Input With Only Countries</label>
                                        <form [formGroup]="myForm">
                                            <div class="form-width">
                                              <mat-form-field appearance="outline">
                                                <ngx-mat-intl-tel-input
                                                  id="phone-existing-number"
                                                  formControlName="phone"
                                                  [enablePlaceholder]="true"
                                                  [enableSearch]="true"
                                                  name="phone"
                                                  #phone
                                                >
                                                </ngx-mat-intl-tel-input>
                                              </mat-form-field>
                                            </div>
                                          </form>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End:: row-2 -->

                <!-- Start:: row-3 -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">AUTO COMPLETE</div>
                            </div>
                            <div class="card-body">
                                <div class="row gy-3">
                                
                                    <div class="col-xl-4">
                                        <label for="autoComplete" class="form-label">Search Results Of Food & Drinks Combo</label>
                                        <input type="search" class="form-control" id="autoComplete" placeholder="Placeholder" spellcheck=false autocomplete="off" autocapitalize="off">
                                    </div>
                                    <div class="col-xl-4">
                                        <label for="autoComplete-color" class="form-label">Advanced Search Results For Colors</label>
                                        <input type="search" class="form-control" id="autoComplete-color" spellcheck=false autocomplete="off" autocapitalize="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End:: row-3 -->

                <!-- Start:: row-4 -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">DUAL LIST BOX</div>
                            </div>
                            <div class="card-body">
                                <div class="row gy-4">

                                    <div class="col-xl-12">
                                        <dual-list
                                        [sort]="keepSorted"
                                        [source]="source"
                                        [key]="key"
                                        [display]="display"
                                        [filter]="filter"
                                        [(destination)]="confirmed"
                                        height="265px"
                                        [format]="format"
                                        [disabled]="disabled"
                                      ></dual-list>
                                      
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End:: row-4 -->
