<app-page-header title="Media Player" title1="Advanced Ui" activeTitle="Media Player"></app-page-header>

          <!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">VIDEO PLAYER</div>
        </div>
        <div class="card-body">
          <video
            id="player"
            playsinline
            controls
            [attr.data-poster]="posterUrl">
            <source [src]="videoUrl576p" type="video/mp4">
            <source [src]="videoUrl720p" type="video/mp4">
            <source [src]="videoUrl1080p" type="video/mp4">
          </video>
          <div class="plyr__poster" [ngStyle]="{ 'background-image': 'url(' + posterUrl + ')' }"></div>
        </div>
      </div>
    </div>
  
    <div class="col-xl-6">
      <div class="card custom-card overflow-hidden">
        <div class="card-header">
          <div class="card-title">YOUTUBE VIDEO</div>
        </div>
        <div class="card-body">
          <div class="plyr__video-embed" id="player1">
            <iframe
              width="560"
              height="315"
              [src]="youtubeVideoUrl"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-xl-12">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">AUDIO PLAYER</div>
        </div>
        <div class="card-body audio-control">
          <audio id="player2" class=" w-100" controls>
            <source [src]="audioUrl" type="audio/mp3">
          </audio>
        </div>
      </div>
    </div>
  </div>
  <!-- End::row-1 -->
  