<div class="card custom-card overflow-hidden">
    <div class="card-body">
      <div class="d-flex gap-3 align-items-center">
        <div class="avatar avatar-lg" [ngClass]="avatarClass" [innerHTML]="svg">
        </div>
        <div>
          <div class="flex-fill fs-13 text-muted">{{ title }}</div>
          <div class="fs-21 fw-medium">
            {{ value }}
            <span class=" badge " [ngClass]="percentageClass">
              <i [ngClass]="percentageIcon"></i>{{ percentage }}
            </span>
          </div>
        </div>
        <div class="ms-auto">
            <app-apex-chart [chartOptions]="chartOptions"></app-apex-chart>
        
        </div>
      </div>
    </div>
  </div>
  