@use "../variables";
/* Start:: landing */
@media (min-width: 992px) {
  [data-nav-style="menu-hover"][data-nav-layout="horizontal"] {
    &[data-theme-mode="dark"] {
      .landing-body
        .app-sidebar
        .slide.has-sub.open
        .slide-menu.child1::before {
        border-block-start-color: rgba(0, 0, 0, 0.1);
        border-inline-start-color: rgba(0, 0, 0, 0.1);
      }
      &[dir="rtl"] {
        .slide.has-sub.open .slide-menu.child1 {
          &::before {
            border-inline-end-color: var(--border);
            border-inline-start-color: transparent !important;
          }
        }
      }
    }
    .landing-body {
      .app-sidebar {
        .side-menu__item .side-menu__angle {
          color: variables.$default-text-color;
        }
        .slide.has-sub.open {
          .slide-menu {
            &.child1,
            &.child2,
            &.child3 {
              .slide .side-menu__item {
                .side-menu__angle {
                  color: variables.$menu-prime-color !important;
                }
                &:hover,
                &.active {
                  color: variables.$primary;
                  .side-menu__angle {
                    color: variables.$primary !important;
                  }
                  &:before {
                    border-color: variables.$primary !important;
                  }
                }
              }
            }
          }
        }

        .side-menu__item {
          border-radius: 0.25rem;
          padding: 1.35rem 1rem;
        }

        .slide-menu.child1 {
          border-radius: 0.25rem;
          padding: 0.55rem 0.3rem;
        }

        .slide-menu.child1 .side-menu__item {
          padding: 0.5rem 1rem;
          font-weight: 500;
        }

        .slide.has-sub.open .slide-menu.child1 {
          overflow: visible !important;

          &::before {
            content: "";
            position: inherit !important;
            inset-block-start: -7px;
            inset-inline-start: 10%;
            width: 13px;
            height: 13px;
            z-index: 99999;
            border: 1px solid transparent;
            border-block-start-color: var(--border);
            border-inline-start-color: var(--border);
            transform: rotate(45deg);
            background-color: variables.$custom-white;
          }
        }
        .side-menu__item {
          padding-inline-end: 1.3rem;
          padding-inline-start: 1.3rem;
        }

        .side-menu__item.active,
        .side-menu__item:hover {
          background-color: transparent !important;
        }

        .slide-menu.child1 .slide .side-menu__item:before {
          inset-block-start: 0.838rem;
          inset-inline-start: 0.65rem;
        }

        .side-menu__item:hover .side-menu__angle {
          color: variables.$primary !important;
        }
      }
      .app-sidebar {
        .side-menu__label {
          color: variables.$default-text-color;
        }
        .side-menu__item {
          &.active,
          &:hover {
            background-color: variables.$primary;
            color: variables.$primary;

            .side-menu__label,
            .side-menu__angle {
              color: variables.$primary;
            }
          }
        }
      }
    }
  }
  .flex-none {
    flex: none;
  }
  [data-nav-layout=horizontal] .landing-body .app-sidebar .main-menu > .slide {
    margin: 0;
  }
}
@media (min-width: 992px) {
  [data-nav-layout=horizontal] .landing-body .landing-page-wrapper .app-sidebar {
    // position: relative;
    &.sticky.sticky-pin {
      position: fixed;
    }
  }
}
.reviews-container {
  .heading-section {
    position: relative;
    &:before {
      position: absolute;
      content: "";
      width: 200px;
      background-position: center;
      height: 200px;
      inset-inline-start: -85px;
      z-index: 0;
      bottom: -38px;
      background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), transparent);
      border-radius: 50%;
    }
  }
}
.reviews-container .card {
  background-color: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  box-shadow: none;
  margin-block-end: 0;
  .card-body {
    color: #fff;
  }
}
.testimonialSwiperService {
 padding: 0 0 3.375rem 0 !important;
}
.landing-body {
  background-color: variables.$custom-white;

  .app-sidebar {
    border-bottom: 0;
    .side-menu__item {
      padding: 0.8rem 1rem;

      &.active,
      &:hover {
        color: variables.$primary !important;
      }
    }
  }

  .app-sidebar.sticky.sticky-pin {
    .side-menu__item.active {
      font-weight: normal;

      .side-menu__label {
        color: variables.$primary !important;
      }
      .side-menu__angle {
        color: variables.$primary !important;
      }
    }
  }

  .accordion.accordion-primary .accordion-button.collapsed:after {
    background-color: variables.$primary-01;
    color: variables.$primary;
  }

  .landing-Features {
    position: relative;
    width: 100%;
    height: 100%;
    inset-block-start: 0;
    background: rgba(var(--primary-rgb), 1);
    z-index: 1;
    
    &:before {
      background-image: url("../images/media/media-80.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      z-index: -1;
      opacity: 0.075;
    }
  }

  @media (min-width: 992px) {
    .app-sidebar {
      inset-block-start: 0;
      padding: 0.5rem 0;
      height: auto !important;
      background-color: variables.$custom-white;
      box-shadow: none;
      border-inline-end: 0;

      .main-sidebar {
        height: auto !important;
        width: 100%;
      }

      &.sticky.sticky-pin {
        background-color: variables.$custom-white;
        box-shadow: 0 0.25rem 1rem variables.$black-1;

        .side-menu__item {
          .side-menu__angle {
            color: variables.$menu-prime-color;
          }
          &:hover {
            .side-menu__angle {
              color: variables.$primary !important;
            }
          }
        }
        &.app-sidebar .side-menu__label {
          color: variables.$custom-black;
        }

        .landing-logo-container .horizontal-logo {
          .desktop-dark, .desktop-white {
            display: none;
          }

          .desktop-logo {
            display: block;
          }
        }
        &.app-sidebar .side-menu__item:hover {
          .side-menu__label {
            color: variables.$primary !important;
          }
        }
      }
      &.app-sidebar .slide.has-sub.open .slide-menu.child1::before {
        border-block-start-color: variables.$default-border !important;
        border-inline-start-color: variables.$default-border !important;
      }
    }

    .app-header {
      display: none;
    }

    .main-sidebar-header {
      display: block !important;
    }

    .main-menu-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .slide-left,
      .slide-right {
        display: none;
      }
    }

    .main-content {
      padding: 0;
      min-height: calc(100vh - 7.9rem);
    }

    .landing-logo-container {
      .horizontal-logo .header-logo {
        .desktop-logo {
          display: block;
        }
        .desktop-dark, .desktop-white {
          display: none;
        }
      }
    }
  }

  @media (max-width: 991.98px) {

    .main-menu-container .landing-logo-container {
        display: none;
    }

    .app-sidebar .side-menu__item.active,
    .app-sidebar .side-menu__item:hover {
      background-color: transparent;
    }
    .main-menu-container .main-menu {
      padding-inline: 0px !important;
      width: 100%;
    }
    .slide.has-sub.open > .side-menu__item .side-menu__angle {
        transform: rotate(90deg);
    }
    .app-sidebar .slide-menu {
      padding-inline-start: 2rem;
    }

    .app-sidebar {
      .slide {
        padding: 0;
      }
    }
  }

  .main-menu-container .main-menu {
    padding-inline-start: 0;
  }

  .app-content {
    margin-block-start: 4rem;
  }
  
  .section {
    padding: 4.375rem 0;
    background-size: cover;
    position: relative;
  }

  .landing-banner {
    position: relative;
    width: 100%;
    inset-block-start: 0;
    background-color: variables.$primary;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url(../images/media/media-88.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.1;
      z-index: -1;
    }

    .landing-banner-heading {
      text-shadow: 1px 1px variables.$black-1;
      font-size: 2.1rem;
      font-weight: 500;
      color: variables.$default-text-color;
    }
  }

  @media (max-width: 767.98px) {
    .landing-main-image {
      display: none;
    }

    .landing-banner {
      .main-banner-container {
        padding: 1rem;
      }
    }
  }

  @media (max-width: 1400px) {
    .landing-main-image {
      &::before,
      &::after {
        display: none;
      }
    }
  }

  @media (max-width: 480px) {
    .landing-banner {
      .section {
        padding: 2.375rem 0;
      }
    }
  }

  .landing-main-image {
    position: relative;
    z-index: 10;
    &:before {
      position: absolute;
      content: "";
      width: 25rem;
      height: 25rem;
      border-radius: 50%;
      background-color: variables.$custom-white;
      opacity: 0.07;
      z-index: -1;
      inset-block-start: -36px;
      inset-inline-start: 100px;
    }

    img {
      z-index: 11;
      position: relative;
      margin-block-start: -10px;
    }
  }

  .landing-page-wrapper {
    position: relative;
    min-height: calc(100vh - 3.4rem);
  }

  .app-sidebar .side-menu__label {
    font-weight: 500;
  }

  .landing-section-heading {
    position: relative;
    font-weight: 600;
    text-decoration-line: overline;
  }

  .landing-footer {
    background-color: rgb(25, 32, 56);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);

    .landing-footer-list {
      li {
        margin-bottom: 0.5rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .landing-footer-logo {
      height: 1.7rem;
      line-height: 1.7rem;
    }
  }

  .landing-main-footer {
    background-color: rgb(25, 32, 56);
  }

  .section-bg {
    background-color: variables.$primary-01;
  }
}
.card.custom-card.landing-card .card-body {
  padding: 2rem;
}
.sub-card-companies img {
  background: rgba(255, 255, 255, 0.1);
  height: 77px;
  border-radius: 50%;
  border-inline-start: 1px solid rgba(255, 255, 255, 0.15);
  padding: 20px;
}
[data-theme-mode="dark"] {
  .landing-body {

    @media (min-width: 992px) {
      .landing-logo-container .horizontal-logo {
        .desktop-logo {
          display: none;
        }

        .desktop-dark, .desktop-white {
          display: block;
        }
      }
    }
    @media (max-width: 991.98px) {
      .app-header {
        .main-header-container {
          .horizontal-logo .header-logo {
            .desktop-logo, .desktop-dark {
              display: none;
            }

            .desktop-white {
              display: block;
            }
          }
        }
      }
    }
    .app-sidebar.sticky.sticky-pin {
      .landing-logo-container .horizontal-logo {
        .desktop-dark, .desktop-logo {
          display: none;
        }
        .desktop-white {
          display: block;
        }
      }
    }
  }

  .section-bg {
    background-color: variables.$primary-01;
  }
}

@media (max-width: 420px) {
  .landing-body .landing-banner {

    .main-banner-container {
      padding: 1rem;
    }

    .landing-banner-heading {
      font-size: 2rem;
    }
  }
}
@media (max-width: 992px) {
  .landing-body {
    .app-sidebar .slide-menu.child1 li,
    .app-sidebar .slide-menu.child2 li,
    .app-sidebar .slide-menu.child3 li {
      padding: 0;
      -webkit-padding-start: 1.5rem;
      padding-inline-start: 0;
      position: relative;
    }
  }
}

/* Jobs Landing  */
.custom-form-group {
  position: relative;
  display: flex;
  align-items: center;
}
.custom-form-group .form-control {
  padding-inline-end: 7rem;
  padding-inline-start: 1.25rem;
}
.custom-form-group .form-control-lg ~ .custom-form-btn {
  inset-inline-end: 0.7rem;
}
.custom-form-group .custom-form-btn {
  position: absolute;
  inset-inline-end: 0.5rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-body
  .landing-main-footer
  .landing-footer-list
  li:not(:first-child)::before {
    position: absolute;
    content: "";
    width: 0.3rem;
    height: 0.6rem;
    border-left: 1px solid rgba(255,255,255,0.2);
    background-color: transparent;
    inset-inline-start: -0.2rem;
    inset-block-start: 0.35rem;
  .review-quote {
    position: absolute;
    inset-inline-end: 0.8rem;
    inset-block-start: 1rem;
    font-size: 1.875rem;
    line-height: 0;
    color: var(--primary07);
    background-color: transparent;
    padding: 0.625rem;
  }
}
.landing-body .landing-main-footer .landing-footer-list li:not(:first-child) {
  position: relative;
}
/* Jobs Landing  */
.landing-body {
  .landing-main-footer .landing-footer-list li {
    display: inline-block;
    padding: 0 12px;
  }
} 
.landing-body {
  @media (max-width: 991.98px) {
    .main-content {
        padding-block-start: 4.25rem;
    }
    .animated-arrow span {
      inset-block-start: 1.15rem;
    }
  }
  .animated-arrow {
    z-index: 8;
  }
}
@media (min-width: 992px) {
  .landing-body {
    .slide.has-sub.open > .side-menu__item .side-menu__angle {
      transform: rotate(270deg);
    }
  }
}
.landing-body {
  .main-content.landing-main {
    background-color: var(--default-body-bg-color);
  }
}
/* End:: landing */