<div class="card custom-card">
  <div class="card-body">
    <div class="float-end">
      <a href="javascript:void(0);" class="avatar avatar-rounded avatar-sm bg-{{candidate.downloadbg}}-transparent me-1"
         data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Download CV">
        <span><i class="ri-download-cloud-line fs-14"></i></span>
      </a>
      <a href="javascript:void(0);" class="avatar avatar-rounded avatar-sm bg-{{candidate.wishlistbg}}-transparent me-1"
         data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Add to Wishlist">
        <span><i class="ri-heart-line fs-14"></i></span>
      </a>
    </div>
    <div class="d-flex mb-3 align-items-center flex-wrap gap-2">
      <div>
        <span class="avatar avatar-lg avatar-rounded">
          <img [src]="candidate.profilePic" alt="Profile Picture">
        </span>
      </div>    
      <div>
        <h6 class="fw-medium mb-1 d-flex align-items-center">
          <a routerLink="/apps/jobs/candidate-details"> {{candidate. name }}
            <i class="ri-verified-badge-fill text-primary fs-14" data-bs-toggle="tooltip" aria-label="Verified candidate"></i>
          </a>
        </h6>
        <div class="d-flex gap-2 flex-wrap">
          <a href="javascript:void(0);">{{candidate. role }}</a>
          <p class="mb-0 fs-12 text-muted"><i class="ri-map-pin-line fs-11"></i> {{candidate. location }}</p>
        </div>
        <div class="d-flex align-items-center fs-12 text-muted flex-wrap">
          <p class="fs-12 mb-0">Ratings :</p>
          <div class="min-w-fit-content ms-2">
              <span class="text-warning"><i class="bi bi-star-fill me-1"></i></span>
              <span class="text-warning"><i class="bi bi-star-fill me-1"></i></span>
              <span class="text-warning"><i class="bi bi-star-fill me-1"></i></span>
              <span class="text-warning"><i class="bi bi-star-fill me-1"></i></span>
              <span class="text-warning"><i class="bi bi-star-half me-1"></i></span>
          </div>
          <a href="javascript:void(0);" class="ms-1 min-w-fit-content text-muted">
            <span>({{candidate. ratingCount }}) </span>
          </a>
        </div>
      </div>
    </div>
    <div class="popular-tags mb-3 d-flex gap-2 flex-wrap">
      <a href="javascript:void(0);" class="badge rounded-pill fs-11 border border-primary border-opacity-10 text-primary"><i class="ri-file-text-line me-1"></i>{{candidate. degree }}</a>
      <a href="javascript:void(0);" class="badge rounded-pill fs-11 border border-primary1 border-opacity-10 text-primary1"><i class="ri-remote-control-line me-1"></i>{{candidate. workType }}</a>
     @if(candidate.experience){

         <a href="javascript:void(0);" class="badge rounded-pill fs-11 border border-info border-opacity-10 text-info"><i class="ri-time-line me-1"></i>{{candidate. experience }}</a>
         <a href="javascript:void(0);" class="badge rounded-pill fs-11 border border-primary1 border-opacity-10 text-primary2"><i class="ri-time-fill me-1"></i>{{candidate. jobType }}</a>
     }
    </div>
    <div class="d-flex align-items-center flex-wrap gap-3">
      <div>
        <p class="mb-1"><span class="text-muted">Annual Pay:</span> {{candidate. payRange }}</p>
        <p class="mb-0"><span class="text-muted">Languages:</span> {{candidate. languages }}</p>
      </div>
      <div class="ms-auto">
        <a href="javascript:void(0);" class="btn btn-primary">View Profile <i class="ri-arrow-right-line"></i></a>
      </div>
    </div>
  </div>
</div>