<div class="row authentication authentication-cover-main mx-0">
    <div class="col-xxl-6 col-xl-7">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-xxl-6 col-xl-9 col-lg-6 col-md-6 col-sm-8 col-12">
                <div class="card custom-card my-auto border">
                    <div class="card-body p-5">
                        <p class="h5 mb-2 text-center">Reset Password</p>
                        <p class="mb-4 text-muted op-7 fw-normal text-center fs-14">Hi Henry!</p>
                        <div class="row gy-3">
                            <div class="col-xl-12">
                                <label for="reset-password" class="form-label text-default">Current Password <sup class="fs-12 text-danger">*</sup></label>
                                <div class="position-relative">
                                    <input type="password" class="form-control create-password-input" id="reset-password" placeholder="current password" [type]="showPassword ? 'text' : 'password'" autocomplete>
                                    <a href="javascript:void(0);" class="show-password-button text-muted"  (click)="createpassword()" id="button-addon2"><i class="ri-eye-{{toggleClass}} align-middle"></i></a>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <label for="reset-newpassword" class="form-label text-default">New Password <sup class="fs-12 text-danger">*</sup></label>
                                <div class="position-relative">
                                    <input type="password" class="form-control create-password-input" id="reset-newpassword" placeholder="new password" [type]="showPassword1 ? 'text' : 'password'" autocomplete>
                                    <a href="javascript:void(0);" class="show-password-button text-muted" (click)="createpassword1()" id="button-addon21"><i class="ri-eye-{{toggleClass1}} align-middle"></i></a>
                                </div>
                            </div>
                            <div class="col-xl-12 mb-2">
                                <label for="reset-confirmpassword" class="form-label text-default">Confirm Password <sup class="fs-12 text-danger">*</sup></label>
                                <div class="position-relative">
                                    <input type="password" class="form-control create-password-input" id="reset-confirmpassword" placeholder="confirm password" [type]="showPassword2 ? 'text' : 'password'" autocomplete>
                                    <a href="javascript:void(0);" class="show-password-button text-muted"  (click)="createpassword2()" id="button-addon22"><i class="ri-eye-{{toggleClass2}} align-middle"></i></a>
                                </div>
                                <div class="mt-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <label class="form-check-label text-muted fw-normal" for="defaultCheck1">
                                            Remember Me ?
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid mt-4">
                            <a routerLink="/authentication/sign-in/basic" class="btn btn-primary">Create</a>
                        </div>
                        <div class="text-center">
                            <p class="text-muted mt-3">Remembered your password? <a routerLink="/authentication/sign-in/basic" class="text-primary">Sign In</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-6 col-xl-5 col-lg-12 d-xl-block d-none px-0">
        <div class="authentication-cover overflow-hidden">
            <div class="authentication-cover-logo"> 
                <a routerLink="/dashboards/sales"> 
                    <img src="./assets/images/brand-logos/desktop-white.png" alt="" class="authentication-brand desktop-white"> 
                </a> 
            </div>
            <div class="aunthentication-cover-content d-flex align-items-center justify-content-center">
                <div>
                    <h3 class="text-fixed-white mb-1 fw-medium">Welcome Henry!</h3>
                    <h6 class="text-fixed-white mb-3 fw-medium">Login to Your Account</h6>
                    <p class="text-fixed-white mb-1 op-6">Welcome to the Admin Dashboard. Please log in to securely manage your administrative tools and oversee platform activities. Your credentials ensure system integrity and functionality.</p>
                </div>
            </div>
        </div>
    </div>
</div>

