<app-page-header title="Blog" title1="Blog" activeTitle="Blog" ></app-page-header>
        <!-- Start:: row-1 -->
        <div class="row">
            <div class="col-xxl-6">
                <div class="card custom-card overflow-hidden">
                    <div class="card-body p-0">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                           
                            <a routerLink="/pages/blog/blogdetails" class="stretched-link"></a>
                            <div class="carousel-inner rounded-0">
                                <owl-carousel-o [options]="customOptions" [dir]="customOptions.rtl ? 'rtl' : 'ltr'" >
                                    @for(slide of slidesStore;track $index){
    
                                        <ng-container >
                                          <ng-template carouselSlide>
                                            <!-- <div class="rtl:dir-rtl"> -->
                                                <div  class="carousel-item active">
                                                    <img  [src]="slide.src"  src="./assets/images/media/blog/1.jpg" class="d-block w-100" alt="...">
                                                </div>
                                            <!-- </div> -->
                                            </ng-template>
                                            </ng-container>
                                    }
                                        </owl-carousel-o>
                           
                            </div>
                        </div>
                        <div class="p-3">
                            <h5 class="fw-semibold"><a routerLink="/pages/blog/blogdetails">Melodic Mastery: A Deep Dive into Music Notes</a></h5>
                            <p class="mb-3">Exploring the intricate symbols and structures that form the foundation of every melody.</p>
                            <p class="mb-3">As musicologist Charles Seeger notes, “Music is a system of communication involving structured sounds produced by members of a community that communicate with other members”</p>
                            <p class="mb-3">“Music” is one of the most difficult terms to define, partially because beliefs about music have changed dramatically over time just in Western culture alone.<a href="javascript:void(0);" class="fw-medium text-primary ms-2 align-middle fs-12 text-Augoration-underline d-inline-block">Read More</a></p>
                            <div class="d-flex flex-wrap align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-md avatar-rounded me-2">
                                        <img src="./assets/images/faces/11.jpg" alt="">
                                    </div>
                                    <div>
                                        <p class="mb-0 fw-medium">Justin Roy</p>
                                        <p class="text-muted fs-12 mb-0">26,Mar 2024 - 15:37</p>
                                    </div>
                                </div>
                                <div class="avatar avatar-sm bg-danger-transparent avatar-rounded">
                                    <i class="ri-heart-line text-danger"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6">
                <div class="row">
                    <div class="col-xxl-7">
                        <div class="card custom-card">
                            <div class="row g-0">
                                <div class="col-xxl-8 col-md-10 col-sm-10">
                                    <div class="card-body">
                                        <h5 class="fw-semibold">
                                            <a href="javascript:void(0);">Listening: Finding Happiness in Music</a>
                                        </h5>
                                        <span class="d-block mb-3">
                                            Different genres and melodies can evoke joy, reduce stress, and create lasting memories. <a href="javascript:void(0);" class="fw-medium text-primary ms-2 align-middle fs-12 text-Augoration-underline d-inline-block">
                                                Read More
                                            </a>
                                        </span>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-start">
                                                <div class="avatar avatar-md avatar-rounded me-2">
                                                    <img src="./assets/images/faces/10.jpg" alt="">
                                                </div>
                                                <div>
                                                    <p class="mb-0 fw-medium">Nicolas Noor</p>
                                                    <div class="text-muted fs-12 mb-0">20,Aug 2024 - 16:32</div>
                                                </div>
                                            </div>
                                            <div class="avatar avatar-sm bg-danger-transparent avatar-rounded">
                                                <i class="ri-heart-line text-danger"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-md-2 col-sm-2">
                                    <img src="./assets/images/media/blog/4.jpg" class="img-fluid rounded-end h-100 w-100" alt="...">
                                </div>
                            </div>
                        </div>
                        <div class="card custom-card">
                            <div class="row g-0 justify-content-center">
                                <div class="col-sm-12">
                                    <div class="card-body">
                                        <h5 class="fw-semibold">
                                            <a href="javascript:void(0);">Music for the Soul: Enhancing Your Life Through Sound</a>
                                        </h5>
                                        <span class="d-block mb-3">
                                            Learn how to create sacred spaces for musical reflection, find solace in times of hardship, and cultivate mindfulness through. <a href="javascript:void(0);" class="fw-medium text-primary ms-2 align-middle fs-12 text-Augoration-underline d-inline-block">
                                                Read More
                                            </a>
                                        </span>
                                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar avatar-md avatar-rounded me-2">
                                                    <img src="./assets/images/faces/8.jpg" alt="">
                                                </div>
                                                <div>
                                                    <p class="mb-0 fw-medium">Sissera William</p>
                                                    <div class="text-muted fs-12 mb-0">25,Aug 2024 - 04:25</div>
                                                </div>
                                            </div>
                                            <div class="avatar avatar-sm bg-danger-transparent avatar-rounded ms-auto">
                                                <i class="ri-heart-fill text-danger"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <div class="card-body pt-1">
                                        <img src="./assets/images/media/blog/9.jpg" class="img-fluid rounded w-100" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-5">
                        <div class="card custom-card overflow-hidden">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                    Categories :
                                </div>
                                <a href="javascript:void(0);" class="btn btn-light btn-wave btn-sm text-muted waves-effect waves-light">All<i class="ti ti-arrow-narrow-right ms-1"></i></a>
                            </div>
                            <div class="card-body p-0">
                                <ul class="list-group list-group-flush list-style">
                                    <li class="list-group-item">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span class="fw-medium"><i class="ri-leaf-fill fs-14 p-1 rounded-2 me-2 d-inline-block align-middle lh-1 bg-primary-transparent text-primary"></i>Nature Life</span>
                                            <span class="badge bg-primary-transparent">12</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span class="fw-medium"><i class="ri-flight-takeoff-fill fs-14 p-1 rounded-2 me-2 d-inline-block align-middle lh-1 bg-primary1-transparent text-primary1"></i>Tourism & Trips </span>
                                            <span class="badge bg-primary-transparent">36</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span class="fw-medium"><i class="ri-global-fill fs-14 p-1 rounded-2 me-2 d-inline-block align-middle lh-1 bg-primary2-transparent text-primary2"></i>Technology</span>
                                            <span class="badge bg-primary-transparent">45</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span class="fw-medium"><i class="ri-cloud-fill p-1 rounded-2 me-2 d-inline-block align-middle lh-1 bg-primary3-transparent text-primary3"></i>Data Networking</span>
                                            <span class="badge bg-primary-transparent">124</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span class="fw-medium"><i class="ri-home-wifi-fill p-1 rounded-2 me-2 d-inline-block align-middle lh-1 bg-info-transparent text-info"></i>Modern Living</span>
                                            <span class="badge bg-primary-transparent">16</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card custom-card overflow-hidden">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <div class="card-title">
                                    Related Blogs:
                                </div>
                                <div>
                                    <span class="badge bg-primary-transparent rounded-pill">15</span>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item border-bottom-0">
                                        <div class="d-flex flew-wrap text-truncate align-items-center gap-2">
                                            <span class="avatar avatar-xl flex-shrink-0 me-1">
                                                <img src="./assets/images/media/blog/5.jpg" class="img-fluid" alt="...">
                                            </span>
                                            <div class="flex-fill text-wrap">
                                                <a href="javascript:void(0);" class="fs-14 fw-medium mb-0">Jack Diamond</a>
                                                <p class="mb-1 popular-blog-content text-truncate text-muted">
                                                    To generate....
                                                </p>
                                                <span class="text-muted fs-10">25,Mar 2024 - 22:30</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item border-bottom-0">
                                        <div class="d-flex flew-wrap text-truncate align-items-center gap-2">
                                            <span class="avatar avatar-xl flex-shrink-0 me-1">
                                                <img src="./assets/images/media/blog/6.jpg" class="img-fluid" alt="...">
                                            </span>
                                            <div class="flex-fill text-wrap">
                                                <a href="javascript:void(0);" class="fs-14 fw-medium mb-0">Jack Diamond</a>
                                                <p class="mb-1 popular-blog-content text-truncate text-muted">
                                                    To generate....
                                                </p>
                                                <span class="text-muted fs-10">25,Mar 2024 - 22:30</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item border-bottom-0">
                                        <div class="d-flex flew-wrap text-truncate align-items-center gap-2">
                                            <span class="avatar avatar-xl flex-shrink-0 me-1">
                                                <img src="./assets/images/media/blog/8.jpg" class="img-fluid" alt="...">
                                            </span>
                                            <div class="flex-fill text-wrap">
                                                <a href="javascript:void(0);" class="fs-14 fw-medium mb-0">Jack Diamond</a>
                                                <p class="mb-1 popular-blog-content text-truncate text-muted">
                                                    To generate....
                                                </p>
                                                <span class="text-muted fs-10">25,Mar 2024 - 22:30</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item border-bottom-0">
                                        <div class="d-flex flew-wrap text-truncate align-items-center gap-2">
                                            <span class="avatar avatar-xl flex-shrink-0 me-1">
                                                <img src="./assets/images/media/blog/9.jpg" class="img-fluid" alt="...">
                                            </span>
                                            <div class="flex-fill text-wrap">
                                                <a href="javascript:void(0);" class="fs-14 fw-medium mb-0">Jack Diamond</a>
                                                <p class="mb-1 popular-blog-content text-truncate text-muted">
                                                    To generate....
                                                </p>
                                                <span class="text-muted fs-10">25,Mar 2024 - 22:30</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="p-3 pt-2 mt-1">
                                    <button class="btn mx-auto btn-primary btn-loader text-center justify-content-center w-100">
                                        <span class="me-2">Load More</span>
                                        <span class="loading"><i class="ri-loader-4-line fs-16"></i></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End:: row-1 -->

         <!-- Start::row-2 -->
        <div class="row">
            <div class="col-xxl-4 col-lg-12 col-md-12">
                <div class="card custom-card overflow-hidden">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <div class="card-title">
                            Featured Blogs
                        </div>
                        <div>
                            <span class="badge bg-primary-transparent">23 Blogs</span>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="d-flex flex-wrap align-items-center gap-3">
                                    <span class="avatar avatar-lg">
                                        <img src="./assets/images/media/blog/14.jpg" class="img-fluid" alt="...">
                                    </span>
                                    <div class="flex-fill">
                                        <a href="javascript:void(0);" class="fs-14 fw-medium mb-1">Jack Diamond</a>
                                        <p class="mb-0 mt-1 popular-blog-content text-truncate">
                                            To generate Lorem Ipsum which looks reasonable
                                        </p>
                                        
                                    </div>
                                    <div>
                                        <button class="btn btn-icon btn-light btn-sm rtl-rotate"><i class="ri-arrow-right-s-line"></i></button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex flex-wrap align-items-center gap-3">
                                    <span class="avatar avatar-lg">
                                        <img src="./assets/images/media/blog/15.jpg" class="img-fluid" alt="...">
                                    </span>
                                    <div class="flex-fill">
                                        <a href="javascript:void(0);" class="fs-14 fw-medium mb-0">Dhruva Gen</a>
                                        <p class="mb-0 mt-1 popular-blog-content text-truncate">
                                            All the Lorem Ipsum generators on the Internet
                                        </p>
                                        
                                    </div>
                                    <div>
                                        <button class="btn btn-icon btn-light btn-sm rtl-rotate"><i class="ri-arrow-right-s-line"></i></button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex flex-wrap align-items-center gap-3">
                                    <span class="avatar avatar-lg">
                                        <img src="./assets/images/media/blog/16.jpg" class="img-fluid" alt="...">
                                    </span>
                                    <div class="flex-fill">
                                        <a href="javascript:void(0);" class="fs-14 fw-medium mb-0">Henry Milo</a>
                                        <p class="mb-0 mt-1 popular-blog-content text-truncate">
                                            Lorem Ipsum is therefore always free from repetition, injected humour
                                        </p>
                                        
                                    </div>
                                    <div>
                                        <button class="btn btn-icon btn-light btn-sm rtl-rotate"><i class="ri-arrow-right-s-line"></i></button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex flex-wrap align-items-center gap-3">
                                    <span class="avatar avatar-lg">
                                        <img src="./assets/images/media/blog/17.jpg" class="img-fluid" alt="...">
                                    </span>
                                    <div class="flex-fill">
                                        <a href="javascript:void(0);" class="fs-14 fw-medium mb-0">Peter Paul</a>
                                        <p class="mb-0 mt-1 popular-blog-content text-truncate">
                                            orem Ipsum is not simply random text. It has roots in a piece of classical
                                        </p>
                                        
                                    </div>
                                    <div>
                                        <button class="btn btn-icon btn-light btn-sm rtl-rotate"><i class="ri-arrow-right-s-line"></i></button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item border-bottom-0">
                                <div class="d-flex flex-wrap align-items-center gap-3">
                                    <span class="avatar avatar-lg">
                                        <img src="./assets/images/media/blog/7.jpg" class="img-fluid" alt="...">
                                    </span>
                                    <div class="flex-fill">
                                        <a href="javascript:void(0);" class="fs-14 fw-medium mb-0">Fahad Rafi</a>
                                        <p class="mb-0 mt-1 popular-blog-content text-truncate">
                                            Electronic typesetting, remaining essentially unchanged.
                                        </p>
                                        
                                    </div>
                                    <div>
                                        <button class="btn btn-icon btn-light btn-sm rtl-rotate"><i class="ri-arrow-right-s-line"></i></button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="p-3 pt-2">
                            <button class="btn mx-auto btn-primary-light btn-loader text-center justify-content-center w-100 btn-sm">
                                <span class="me-2">Load More</span>
                                <span class="loading"><i class="ri-loader-4-line fs-16"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-8 col-lg-12 col-md-12">
                <div class="row">
                    @for(card of blogCards1;track $index){
                        <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6">
                    <spk-blog-image-card [cardData]="card"></spk-blog-image-card>
                    </div>
                    }

                </div>
            </div>
        </div>
        <!--End::row-2 -->
        
        <!--Start::row-3 -->
        <div class="row">
            @for(card of blogCards;track $index){

                <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <spk-blog-image-card [cardData]="card"></spk-blog-image-card>
                  
                </div>
            }
       
        </div>
        <!--End::row-3 -->