<div class="card custom-card">
    <div class="card-header">
      <div class="card-title">
        Recent Activity
      </div>
    </div>
    <div class="card-body">
      <ul class="widgets-task-list mb-0">
        @for(activity of activities;track $index){

            <li class="{{activity.liClass}}">
              <div class="">
                <i class="task-icon bg-primary"></i>
                <h6 class="fs-14 mb-0">{{ activity.title }}</h6>
                <div class="flex-grow-1 d-flex align-items-center justify-content-between">
                  <div>
                    <span class="fs-12 text-muted">{{ activity.descriptionStart }} 
                        @if(activity.actionClass){

                            <a [href]="activity.linkUrl" class="{{activity.actionClass}}">{{ activity.action }}</a>
                        }
                        {{ activity.descriptionEnd }} 
                    </span>
                  </div>
                  <div class="min-w-fit-content ms-2 text-end">
                    <p class="mb-0 text-muted fs-11">{{ activity.date }}</p>
                  </div>
                </div>
              </div>
            </li>
        }
      </ul>
    </div>
  </div>
  