<app-page-header title="HRM" title1="Dashboards" activeTitle="HRM" ></app-page-header>

                <!-- Start:: row-1 -->
                <div class="row">
                    @for(card of hrmData;track $index){
                        <div class="col-xxl-3 col-xl-6">
                            <app-hrm-reusable-card
                                [title]="card.title"
                                [value]="card.value"
                                [percentage]="card.percentage"
                                [subtitle]="card.subtitle"
                                [badgeClass]="card.badgeClass"
                                [iconClass]="card.iconClass"
                                [chartId]="card.chartId"
                                [chartOptions]="card.chartOptions"
                                ></app-hrm-reusable-card>
                        </div>
                    }
              </div>
              <!-- End:: row-1 -->

              <!-- Start:: row-2 -->
              <div class="row">
                  <div class="col-xxl-8">
                      <div class="card custom-card">
                          <div class="card-header justify-content-between">
                              <div class="card-title">Project Analysis</div>
                              <div class="d-flex gap-2">
                                  <div class="btn btn-sm btn-outline-light">Today</div>
                                  <div class="btn btn-sm btn-outline-light">Weakly</div>
                                  <div class="btn btn-sm btn-light">Yearly</div>
                              </div>
                          </div>
                          <div class="card-body pb-1">
                              <ul class="d-flex flex-wrap mb-0 list-unstyled gap-5 justify-content-around p-3 border rounded border-dashed">
                                  <li>
                                      <div class="d-flex align-items-start justify-content-between gap-2">
                                          <div class="lh-1 me-1">
                                              <span class="avatar avatar-lg avatar-rounded bg-primary-transparent">
                                                  <i class="ri-stack-line fs-5"></i>
                                              </span>
                                          </div>
                                          <div>
                                              <span class="d-block mb-1 fw-medium text-muted">New</span>
                                              <h4 class="fw-medium mb-0">64,241</h4>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="">
                                      <div class="d-flex align-items-start justify-content-between gap-2">
                                          <div class="lh-1 me-1">
                                              <span class="avatar avatar-lg avatar-rounded bg-primary1-transparent">
                                                  <i class="ri-rocket-line fs-5"></i>
                                              </span>
                                          </div>
                                          <div>
                                              <span class="d-block mb-1 fw-medium text-muted">Inprogress</span>
                                              <h4 class="fw-medium mb-0">1,543</h4>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="">
                                      <div class="d-flex align-items-start justify-content-between gap-2">
                                          <div class="lh-1 me-1">
                                              <span class="avatar avatar-lg avatar-rounded bg-primary2-transparent">
                                                  <i class="ri-check-line fs-5"></i>
                                              </span>
                                          </div>
                                          <div>
                                              <span class="d-block mb-1 fw-medium text-muted">Completed</span>
                                              <h4 class="fw-medium mb-0">3,848</h4>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="">
                                      <div class="d-flex align-items-start justify-content-between gap-2">
                                          <div class="lh-1 me-1">
                                              <span class="avatar avatar-lg avatar-rounded bg-primary3-transparent">
                                                  <i class="ri-time-line fs-5"></i>
                                              </span>
                                          </div>
                                          <div>
                                              <span class="d-block mb-1 fw-medium text-muted">Onhold</span>
                                              <h4 class="fw-medium mb-0">938</h4>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                              <div id="project-analysis">
                                <app-apex-chart [chartOptions]="chartOptions4"></app-apex-chart>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xxl-4">
                      <div class="card custom-card">
                          <div class="card-header justify-content-between">
                              <div class="card-title">Upcoming Events</div>
                              <a aria-label="anchor" href="javascript:void(0);" class="btn btn-sm btn-primary-light">
                                  View All
                              </a>
                          </div>
                          <div class="card-body">
                            <ul class="list-unstyled timeline-widget1 mb-0">
                                @for(event of events;track $index){

                                    <li class="timeline-widget-list" >
                                      <div class="d-flex align-items-center flex-wrap">
                                        <div class="avatar avatar-xl bg-{{event.avatarClass}}-transparent me-2 flex-shrink-0">
                                          <div class="text-center">
                                            <div class="fw-medium lh-1 mb-1">{{ event.date }}</div>
                                            <div class="fs-12 text-default fw-medium lh-1">{{ event.day }}</div>
                                          </div>
                                        </div>
                                        <div class="d-flex flex-wrap flex-fill align-items-top justify-content-between flex-xl-nowrap">
                                          <div class="events-width">
                                            <p class="mb-1 timeline-widget-content">{{ event.description }}</p>
                                            @if(event.time){
                                                <p class="mb-0 fs-12 lh-1 text-muted">
                                                  {{ event.time }}
                                                  <span class="badge bg-{{event.badgeClass}}-transparent ms-2">{{ event.badge }}</span>
                                                </p>
                                            }
                                            @else {
                                                <p class="mb-0 fs-12 lh-1 text-muted">
                                                    <span class="badge bg-{{event.badgeClass}}-transparent mb-sm-0 mb-2">{{ event.badge }}</span>
                                                  </p>
                                            }
                                          </div>
                                          <spk-dropdowns [Customclass]="'dropdown'" [class]="'btn btn-icon btn-light  no-caret'" [Icon]="true" [IconClass]="'fe fe-more-vertical'" 
                                          [Menuclass]="'dropdown-menu'"  >
                                          <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Action</a></li>
                                          <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Another action</a></li>
                                          <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Something else here</a></li>
                                      </spk-dropdowns>
                                        </div>
                                      </div>
                                    </li>
                                }
                              </ul>
                              
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End:: row-2 -->

              <!-- Start:: row-3 -->
              <div class="row">
                  <div class="col-xxl-5">
                      <div class="card custom-card overflow-hidden">
                          <div class="card-header justify-content-between">
                              <div class="card-title">Employee's Leave</div>
                              <a href="javascript:void(0);" class="btn btn-sm btn-light">View All</a>
                          </div>
                          <div class="card-body p-0">
                              <div class="table-responsive">
                                <app-spk-reusable-tables [columns]="leaveColumns" tableClass="text-nowrap mb-0"  [showCheckbox]="false">
                                    @for(leave of leaves;track $index){
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="avatar avatar-sm">
                                                        <img [src]="leave.src"  class="" alt="">
                                                    </span>
                                                    <div class="flex-1 ms-2">
                                                        <p class="mb-0 fs-12 fw-medium">{{leave.employee}}</p>
                                                        <a href="javascript:void(0);" class="fs-11 text-muted">{{leave.role}}</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <span class="">{{leave.type}}</span>
                                            </td>
                                            <td>
                                                <span class="">{{leave.days}}</span>
                                            </td>
                                            <td>
                                                <span class="badge bg-{{leave.bg}}-transparent">{{leave.status}}</span>
                                            </td>
                                            <td>
                                                <span class="fs-12">{{leave.date}}</span>
                                            </td>
                                            <td>
                                                <div class="btn-list">
                                                    <a aria-label="anchor" href="javascript:void(0);" data-bs-toggle="tooltip" placement="top" ngbTooltip="Edit" class="btn btn-icon btn-sm rounded-pill btn-info-light"><i class="ti ti-pencil"></i></a>
                                                    <a aria-label="anchor" href="javascript:void(0);" data-bs-toggle="tooltip" placement="top" (click)="click(leave.id)" ngbTooltip="Delete" class="btn btn-icon btn-sm rounded-pill  btn-primary2-light"><i class="ti ti-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    </app-spk-reusable-tables>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xxl-4">
                      <div class="card custom-card">
                          <div class="card-header justify-content-between">
                              <div class="card-title">
                                 Today's Interviews 
                              </div>
                              <div>
                                  <a href="javascript:void(0);" class="btn btn-light btn-sm">View All</a>
                              </div>
                          </div>
                          <div class="card-body py-3">
                            <ul class="list-unstyled mb-0 schedule-list">
                                @for(item of schedule;track $index){

                                    <li >
                                      <div class="d-flex align-items-center flex-wrap flex-xl-nowrap gap-1">
                                        <div class="lh-1">
                                          <span class="avatar avatar-md avatar-rounded p-1" [ngClass]="item.bgClass">
                                            <img [src]="item.avatar" alt="">
                                          </span>
                                        </div>
                                        <div class="flex-fill ms-2">
                                          <p class="fw-medium mb-0">{{ item.name }}</p>
                                          <p class="fs-11 text-muted mb-0 text-nowrap text-truncate w-75">
                                            <i class="ri-time-line me-1"></i>{{ item.date }}({{ item.time }})
                                          </p>
                                        </div>
                                        <div class="ms-auto">
                                          <button type="button" class="btn btn-primary btn-sm text-nowrap">Call Now</button>
                                        </div>
                                      </div>
                                    </li>
                                }
                              </ul>
                              
                          </div>
                      </div>
                  </div>
                  <div class="col-xxl-3">
                      <div class="card custom-card">
                          <div class="card-header justify-content-between">
                              <div class="card-title">
                                  Gender Distribution
                              </div>
                              <div>
                                  <a href="javascript:void(0);" class="btn btn-light btn-sm">View All</a>
                              </div>
                          </div>
                          <div class="card-body text-center mx-auto">
                              <div id="gender-chart">
                                <app-apex-chart [chartOptions]="chartOptions5"></app-apex-chart>

                              </div>
                          </div>
                      </div>
                      <div class="card custom-card">
                          <div class="card-body">
                              <ul class="d-flex flex-wrap mb-0 list-unstyled justify-content-around text-center gap-2">
                                  <li>
                                      <div>
                                          <div class="lh-1 me-1 mb-2">
                                              <span class="avatar avatar-md bg-primary-transparent border border-primary border-3 border-opacity-25 avatar-rounded">
                                                  <i class="ri-stack-line fs-17 lh-1"></i>
                                              </span>
                                          </div>
                                          <div>
                                              <span class="d-block mb-0 text-muted fs-12">Attendance</span>
                                              <h5 class="fw-medium mb-0">4,241</h5>
                                          </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div>
                                          <div class="lh-1 me-1 mb-2">
                                              <span class="avatar avatar-md bg-primary1-transparent border border-primary1 border-3 border-opacity-25 avatar-rounded">
                                                  <i class="ri-calendar-todo-line fs-17 lh-1"></i>
                                              </span>
                                          </div>
                                          <div>
                                              <span class="d-block mb-0 text-muted fs-12">Absent</span>
                                              <h5 class="fw-medium mb-0">485</h5>
                                          </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div>
                                          <div class="lh-1 me-1 mb-2">
                                              <span class="avatar avatar-md bg-primary2-transparent border border-primary2 border-3 border-opacity-25 avatar-rounded">
                                                  <i class="ri-time-line fs-17 lh-1"></i>
                                              </span>
                                          </div>
                                          <div>
                                              <span class="d-block mb-0 text-muted fs-12">Late</span>
                                              <h5 class="fw-medium mb-0">08</h5>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End:: row-3 -->

              <!-- Start:: row-4 -->
              <div class="row">
                  <div class="col-xxl-12">
                      <div class="card custom-card">
                          <div class="card-header justify-content-between">
                              <div class="card-title">
                                  Employee Directory
                              </div>
                              <div class="d-flex flex-wrap">
                                  <div class="me-3 my-1">
                                      <input class="form-control form-control-sm" type="text" placeholder="Search Here" aria-label=" example">
                                  </div>
                                  <spk-dropdowns [Customclass]="'dropdown my-1'" [title]="'Sort By'" [class]="'btn btn-sm btn-primary no-caret'" [Icon]="true" [IconClass]="'ri-arrow-down-s-line align-middle ms-1'" 
                                  [Menuclass]="'dropdown-menu'"  >
                                  <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">New</a></li>
                                  <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Popular</a></li>
                                  <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Relevant</a></li>
                              </spk-dropdowns>
                              </div>
                          </div>
                          <div class="card-body">
                              <div class="table-responsive">
                                <app-spk-reusable-tables [columns]="employeeColumns" tableClass="text-nowrap table-hover table-bordered text-center"  [showCheckbox]="false">
                                    @for(employee of employees;track $index){

                                        <tr>
                                            <td class="text-center">
                                                {{employee.number}}
                                            </td>
                                            <td>
                                               <span class="text-primary fs-14">{{employee.id}}</span>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img [src]="employee.src"  class="avatar avatar-sm" alt="">
                                                    <div class="flex-1 flex-between pos-relative ms-2">
                                                        <div class="">
                                                            <a href="javascript:void(0);" class="fs-13 fw-medium">{{employee.name}}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <span class="">{{employee.position}}</span>
                                            </td>
                                            <td>
                                                <span class="">{{employee.dept}}</span>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0);">{{employee.mail}}</a>
                                            </td>
                                            <td>
                                                <span class="badge bg-{{employee.bg}}-transparent">{{employee.status}}</span>
                                            </td>
                                            <td>
                                                <span class="">{{employee.contact}}</span>
                                            </td>
                                            <td>
                                                <span class="fw-medium">{{employee.salary}}</span>
                                            </td>
                                            <td>
                                                <div class="g-2">
                                                    <a aria-label="anchor" class="btn  btn-primary-light btn-sm" data-bs-toggle="tooltip" placement="top" ngbTooltip="Edit">
                                                        <span class="ri-pencil-line fs-14"></span>
                                                    </a>
                                                    <a aria-label="anchor" class="btn btn-danger-light btn-sm ms-2" (click)="remove(employee.id)" data-bs-toggle="tooltip" placement="top" ngbTooltip="Delete">
                                                        <span class="ri-delete-bin-7-line fs-14"></span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    </app-spk-reusable-tables>
                             
                              </div>
                          </div>
                          <div class="card-footer">
                              <div class="d-flex align-items-center">
                                  <div>
                                      Showing 6 Entries <i class="bi bi-arrow-right ms-2 fw-medium"></i>
                                  </div>
                                  <div class="ms-auto">
                                      <nav aria-label="Page navigation" class="pagination-style-4">
                                          <ul class="pagination mb-0">
                                              <li class="page-item disabled">
                                                  <a class="page-link" href="javascript:void(0);">
                                                      Prev
                                                  </a>
                                              </li>
                                              <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                                              <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                              <li class="page-item">
                                                  <a class="page-link text-primary" href="javascript:void(0);">
                                                      next
                                                  </a>
                                              </li>
                                          </ul>
                                      </nav>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End:: row-4 -->