<app-page-header title="Chat" title1="Pages" activeTitle="Chat"></app-page-header>


<div class="main-chart-wrapper gap-lg-2 gap-0 mb-2 d-lg-flex">
    <div class="chat-info border blogdetails-scroll custom-tabs">
        <div class="chat-search p-3 border-bottom">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Chat" aria-describedby="button-addon01">
                <button aria-label="button" class="btn btn-primary-light" type="button" id="button-addon01">
                    <i class="ri-search-line"></i>
                </button>
            </div>
        </div>
        <ul ngbNav #nav="ngbNav" [activeId]="1"
            class="nav nav-tabs tab-style-6 nav-justified mb-0 border-bottom d-flex gap-1 gap-sm-2 flex-wrap "
            id="myTab1" role="tablist">
            <li [ngbNavItem]="1" class="nav-item me-0" role="presentation">
                <a ngbNavLink class="nav-link" id="users-tab" data-bs-toggle="tab" data-bs-target="#users-tab-pane"
                    type="button" role="tab" aria-controls="users-tab-pane" aria-selected="true">Recent
                    <span class="badge bg-primary1 rounded-pill float-end shadow-sm">1</span>

                </a>
                <ng-template ngbNavContent>
                    <overlay-scrollbars>

                        <ul class="list-unstyled mb-0 mt-2 chat-users-tab" id="chat-msg-scroll">
                            <li class="pb-0">
                                <p class="text-muted fs-11 fw-medium mb-2 op-7">ACTIVE CHATS</p>
                            </li>
                            @for (recent of recents; track recent) {
                            <li class="checkforactive" [ngClass]="{'active': activeUser === recent}">
                                <a href="javascript:void(0);" (click)="handleClick(recent)">
                                    <div class="d-flex align-items-top">
                                        <div class="me-1 lh-1">
                                            <span class="avatar avatar-md  me-2"
                                                [ngClass]="recent.status == 'online' ? 'online' : 'offline'">
                                                <img [src]="recent.image" alt="img">
                                            </span>
                                        </div>
                                        <div class="flex-fill">
                                            <p class="mb-0 fw-medium">
                                                {{ recent.name }}<span
                                                    class="float-end text-muted fw-normal fs-11">{{recent.time}}</span>
                                            </p>
                                            <p class="fs-12 mb-0"
                                                [ngClass]="recent.chatMsgTyping ? 'chat-msg-typing' : ''">
                                                <span class="chat-msg text-truncate">{{recent.message}}</span>
                                                @if(recent.unReadMsgStatus){
                                                <span [ngClass]="recent.unReadMsgStatus"
                                                    class="badge bg-primary2 rounded-pill float-end">{{
                                                    recent.unReadMsgCount
                                                    }}</span>
                                                }@else {
                                                <span class="chat-read-icon float-end align-middle"><i
                                                        class="ri-check-double-fill"></i></span>
                                                }

                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            }

                            <li class="pb-0">
                                <p class="text-muted fs-11 fw-medium mb-2 op-7">ALL CHATS</p>
                            </li>
                            @for (allchat of allchats; track allchat) {
                            <li class="checkforactive"
                                [ngClass]="{'chat-msg-unread':allchat.chatMsgUnread , 'chat-inactive':allchat.status == 'offline'}">
                                <a href="javascript:void(0);" (click)="handleClick(allchat)">
                                    <div class="d-flex align-items-top">
                                        <div class="me-1 lh-1">
                                            <span class="avatar avatar-md offline me-2"
                                                [ngClass]="allchat.status == 'online' ? 'online' : 'offline'">
                                                <img [src]="allchat.image" alt="img">
                                            </span>
                                        </div>
                                        <div class="flex-fill">
                                            <p class="mb-0 fw-medium">
                                                {{ allchat.name }}<span
                                                    class="float-end text-muted fw-normal fs-11">{{allchat.time}}</span>
                                            </p>
                                            <p class="fs-12 mb-0">

                                                <span class="chat-msg text-truncate">{{ allchat.message }}</span>
                                                @if(allchat.unReadMsgStatus){
                                                <span [ngClass]="allchat.unReadMsgStatus"
                                                    class="badge rounded-circle float-end">{{ allchat.unReadMsgCount
                                                    }}</span>
                                                }@else {
                                                <span class="chat-read-icon float-end align-middle"><i
                                                        class="ri-check-double-fill"></i></span>
                                                }

                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            }

                        </ul>
                    </overlay-scrollbars>
                </ng-template>
            </li>
            <li [ngbNavItem]="2" class="nav-item me-0" role="presentation">
                <a ngbNavLink class="nav-link" id="groups-tab" data-bs-toggle="tab" data-bs-target="#groups-tab-pane"
                    type="button" role="tab" aria-controls="groups-tab-pane" aria-selected="false">Groups
                    <span class="badge bg-primary3 rounded-pill float-end shadow-sm">2</span>
                </a>
                <ng-template ngbNavContent>
                    <overlay-scrollbars [defer] class="chat-groups-tab" id="groups-tab-pane" role="tabpanel"
                        aria-labelledby="groups-tab" tabindex="0">
                        <ul class="list-unstyled mb-0 mt-2 ">
                            <li class="pb-0">
                                <p class="text-muted fs-11 fw-medium mb-1 op-7">MY CHAT GROUPS</p>
                            </li>
                            @for(data1 of GroupData;track $index){

                            <li>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <p class="mb-0 fw-medium"><i
                                                class="ri-checkbox-blank-circle-fill lh-1 text-{{data1.bg1}} me-1 fs-8 align-middle"></i>{{data1.name}}
                                        </p>
                                        <p class="mb-0"><span class="badge bg-{{data1.bg}}-transparent">{{data1.online}}
                                                Online</span></p>
                                    </div>
                                    <div class="avatar-list-stacked my-auto">
                                        @for(image of data1.images;track $index){

                                        <span class="avatar avatar-sm avatar-rounded">
                                            <img [src]="image" alt="img">
                                        </span>
                                        }

                                        <a class="avatar avatar-sm bg-primary text-fixed-white avatar-rounded"
                                            href="javascript:void(0);">
                                            {{data1.number}}
                                        </a>
                                    </div>
                                </div>
                            </li>
                            }

                        </ul>
                        <ul class="list-unstyled mb-0 mt-2 ">
                            <li class="pb-0">
                                <p class="text-muted fs-11 fw-medium mb-1 op-7">GROUP CHATS</p>
                            </li>
                            @for(data2 of GroupChatData;track $index){

                            <li class="{{data2.class}}">
                                <a href="javascript:void(0);" (click)="handleClick(data2)">
                                    <div class="d-flex align-items-top">
                                        <div class="me-1 lh-1">
                                            <span class="avatar avatar-md {{data2.status}} me-2">
                                                <img [src]="data2.image" alt="img">
                                            </span>
                                        </div>
                                        <div class="flex-fill">
                                            <p class="mb-0 fw-medium">
                                                {{data2.name}} <span
                                                    class="float-end text-muted fw-normal fs-11">{{data2.time}}</span>
                                            </p>
                                            <p class="fs-12 mb-0  {{data2.class1}} ">
                                                <span class="chat-msg text-truncate">
                                                    <span
                                                        class={{data2.class2}}>{{data2.name1}}</span>{{data2.message}}</span>
                                                <span class="chat-read-icon float-end align-middle"><i
                                                        class="ri-check-double-fill"></i></span>
                                                @if(data2.badge){

                                                <span class="badge bg-primary3 rounded-circle float-end">{{ data2.badge
                                                    }}</span>
                                                }

                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            }

                        </ul>
                    </overlay-scrollbars>
                </ng-template>
            </li>
            <li [ngbNavItem]="3" class="nav-item" role="presentation">
                <a ngbNavLink class="nav-link" id="contacts-tab" data-bs-toggle="tab"
                    data-bs-target="#contacts-tab-pane" type="button" role="tab" aria-controls="contacts-tab-pane"
                    aria-selected="false">Contacts
                </a>
                <ng-template ngbNavContent>

                    <overlay-scrollbars class="chat-contacts-tab" id="contacts-tab-pane" role="tabpanel"
                        aria-labelledby="contacts-tab" tabindex="0">
                        <ul class="list-unstyled mb-0 chat-contacts-tab">
                            <li>
                                <span class="text-default fw-semibold">A</span>
                            </li>
                            <li>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="lh-1">
                                        <span class="avatar avatar-sm">
                                            <img src="./assets/images/faces/5.jpg" alt="">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <span class="d-block fw-semibold">
                                            Ava Taylor
                                        </span>
                                    </div>
                                    <spk-dropdowns [Customclass]="'dropdown'" [Icon]="true"
                                        [IconClass]="'ri-more-2-fill'"
                                        [class]="'btn btn-light  btn-sm text-muted no-caret'"
                                        [Menuclass]="'dropdown-menu'">
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-message-2-line me-2"></i>Chat</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-phone-line me-2"></i>Audio Call</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-live-line me-2"></i>Video Call</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-edit-line me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-spam-2-line me-2"></i>Block</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-delete-bin-line me-2"></i>Delete</a></li>
                            </spk-dropdowns>
    </div>
    </li>
    <li>
        <div class="d-flex align-items-center gap-3">
            <div class="lh-1">
                <span class="avatar avatar-sm">
                    <img src="./assets/images/faces/12.jpg" alt="">
                </span>
            </div>
            <div class="flex-fill">
                <span class="d-block fw-semibold">
                    Alice Angel
                </span>
            </div>
               <spk-dropdowns [Customclass]="'dropdown'" [Icon]="true"
                                        [IconClass]="'ri-more-2-fill'"
                                        [class]="'btn btn-light  btn-sm text-muted no-caret'"
                                        [Menuclass]="'dropdown-menu'">
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-message-2-line me-2"></i>Chat</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-phone-line me-2"></i>Audio Call</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-live-line me-2"></i>Video Call</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-edit-line me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-spam-2-line me-2"></i>Block</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-delete-bin-line me-2"></i>Delete</a></li>
                            </spk-dropdowns>
        </div>
    </li>
    <li>
        <span class="text-default fw-semibold">B</span>
    </li>
    <li>
        <div class="d-flex align-items-center gap-3">
            <div class="lh-1">
                <span class="avatar avatar-sm">
                    <img src="./assets/images/faces/14.jpg" alt="">
                </span>
            </div>
            <div class="flex-fill">
                <span class="d-block fw-semibold">
                    Blessy diamond
                </span>
            </div>
               <spk-dropdowns [Customclass]="'dropdown'" [Icon]="true"
                                        [IconClass]="'ri-more-2-fill'"
                                        [class]="'btn btn-light  btn-sm text-muted no-caret'"
                                        [Menuclass]="'dropdown-menu'">
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-message-2-line me-2"></i>Chat</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-phone-line me-2"></i>Audio Call</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-live-line me-2"></i>Video Call</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-edit-line me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-spam-2-line me-2"></i>Block</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-delete-bin-line me-2"></i>Delete</a></li>
                            </spk-dropdowns>
        </div>
    </li>
    <li>
        <span class="text-default fw-semibold">D</span>
    </li>
    <li>
        <div class="d-flex align-items-center gap-3">
            <div class="lh-1">
                <span class="avatar avatar-sm bg-primary">
                    C
                </span>
            </div>
            <div class="flex-fill">
                <span class="d-block fw-semibold">
                    Catalina Keira
                </span>
            </div>
               <spk-dropdowns [Customclass]="'dropdown'" [Icon]="true"
                                        [IconClass]="'ri-more-2-fill'"
                                        [class]="'btn btn-light  btn-sm text-muted no-caret'"
                                        [Menuclass]="'dropdown-menu'">
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-message-2-line me-2"></i>Chat</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-phone-line me-2"></i>Audio Call</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-live-line me-2"></i>Video Call</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-edit-line me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-spam-2-line me-2"></i>Block</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-delete-bin-line me-2"></i>Delete</a></li>
                            </spk-dropdowns>
        </div>
    </li>
    <li>
        <span class="text-default fw-semibold">D</span>
    </li>
    <li>
        <div class="d-flex align-items-center gap-3">
            <div class="lh-1">
                <span class="avatar avatar-sm">
                    <img src="./assets/images/faces/7.jpg" alt="">
                </span>
            </div>
            <div class="flex-fill">
                <span class="d-block fw-semibold">
                    Danny Raj
                </span>
            </div>
               <spk-dropdowns [Customclass]="'dropdown'" [Icon]="true"
                                        [IconClass]="'ri-more-2-fill'"
                                        [class]="'btn btn-light  btn-sm text-muted no-caret'"
                                        [Menuclass]="'dropdown-menu'">
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-message-2-line me-2"></i>Chat</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-phone-line me-2"></i>Audio Call</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-live-line me-2"></i>Video Call</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-edit-line me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-spam-2-line me-2"></i>Block</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-delete-bin-line me-2"></i>Delete</a></li>
                            </spk-dropdowns>
        </div>
    </li>
    <li>
        <span class="text-default fw-semibold">G</span>
    </li>
    <li>
        <div class="d-flex align-items-center gap-3">
            <div class="lh-1">
                <span class="avatar avatar-sm">
                    <img src="./assets/images/faces/15.jpg" alt="">
                </span>
            </div>
            <div class="flex-fill">
                <span class="d-block fw-semibold">
                    Gatin Leo
                </span>
            </div>
               <spk-dropdowns [Customclass]="'dropdown'" [Icon]="true"
                                        [IconClass]="'ri-more-2-fill'"
                                        [class]="'btn btn-light  btn-sm text-muted no-caret'"
                                        [Menuclass]="'dropdown-menu'">
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-message-2-line me-2"></i>Chat</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-phone-line me-2"></i>Audio Call</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-live-line me-2"></i>Video Call</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-edit-line me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-spam-2-line me-2"></i>Block</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-delete-bin-line me-2"></i>Delete</a></li>
                            </spk-dropdowns>
        </div>
    </li>
    <li>
        <span class="text-default fw-semibold">L</span>
    </li>
    <li>
        <div class="d-flex align-items-center gap-3">
            <div class="lh-1">
                <span class="avatar avatar-sm bg-primary">
                    M
                </span>
            </div>
            <div class="flex-fill">
                <span class="d-block fw-semibold">
                    Monte Christ
                </span>
            </div>
               <spk-dropdowns [Customclass]="'dropdown'" [Icon]="true"
                                        [IconClass]="'ri-more-2-fill'"
                                        [class]="'btn btn-light  btn-sm text-muted no-caret'"
                                        [Menuclass]="'dropdown-menu'">
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-message-2-line me-2"></i>Chat</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-phone-line me-2"></i>Audio Call</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-live-line me-2"></i>Video Call</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-edit-line me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-spam-2-line me-2"></i>Block</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-delete-bin-line me-2"></i>Delete</a></li>
                            </spk-dropdowns>
        </div>
    </li>
    <li>
        <div class="d-flex align-items-center gap-3">
            <div class="lh-1">
                <span class="avatar avatar-sm">
                    <img src="./assets/images/faces/2.jpg" alt="">
                </span>
            </div>
            <div class="flex-fill">
                <span class="d-block fw-semibold">
                    Thomas Lie
                </span>
            </div>
               <spk-dropdowns [Customclass]="'dropdown'" [Icon]="true"
                                        [IconClass]="'ri-more-2-fill'"
                                        [class]="'btn btn-light  btn-sm text-muted no-caret'"
                                        [Menuclass]="'dropdown-menu'">
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-message-2-line me-2"></i>Chat</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-phone-line me-2"></i>Audio Call</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-live-line me-2"></i>Video Call</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-edit-line me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-spam-2-line me-2"></i>Block</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-delete-bin-line me-2"></i>Delete</a></li>
                            </spk-dropdowns>
        </div>
    </li>
    <li>
        <span class="text-default fw-semibold">N</span>
    </li>
    <li>
        <div class="d-flex align-items-center gap-3">
            <div class="lh-1">
                <span class="avatar avatar-sm">
                    <img src="./assets/images/faces/10.jpg" alt="">
                </span>
            </div>
            <div class="flex-fill">
                <span class="d-block fw-semibold">
                    Nelson Gold
                </span>
            </div>
               <spk-dropdowns [Customclass]="'dropdown'" [Icon]="true"
                                        [IconClass]="'ri-more-2-fill'"
                                        [class]="'btn btn-light  btn-sm text-muted no-caret'"
                                        [Menuclass]="'dropdown-menu'">
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-message-2-line me-2"></i>Chat</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-phone-line me-2"></i>Audio Call</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-live-line me-2"></i>Video Call</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-edit-line me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-spam-2-line me-2"></i>Block</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-delete-bin-line me-2"></i>Delete</a></li>
                            </spk-dropdowns>
        </div>
    </li>
    <li>
        <span class="text-default fw-semibold">V</span>
    </li>
    <li>
        <div class="d-flex align-items-center gap-3">
            <div class="lh-1">
                <span class="avatar avatar-sm">
                    <img src="./assets/images/faces/16.jpg" alt="">
                </span>
            </div>
            <div class="flex-fill">
                <span class="d-block fw-semibold">
                    Victoria Gracie
                </span>
            </div>
               <spk-dropdowns [Customclass]="'dropdown'" [Icon]="true"
                                        [IconClass]="'ri-more-2-fill'"
                                        [class]="'btn btn-light  btn-sm text-muted no-caret'"
                                        [Menuclass]="'dropdown-menu'">
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-message-2-line me-2"></i>Chat</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-phone-line me-2"></i>Audio Call</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-live-line me-2"></i>Video Call</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-edit-line me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-spam-2-line me-2"></i>Block</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                        class="ri-delete-bin-line me-2"></i>Delete</a></li>
                            </spk-dropdowns>
        </div>
    </li>
    </ul>
    </overlay-scrollbars>
    </ng-template>
    </li>
    </ul>
    <div class="tab-content" id="myTabContent" [ngbNavOutlet]="nav">

    </div>
</div>
<div class="main-chat-area border">
    <div class="d-flex align-items-center border-bottom main-chat-head flex-wrap">
        <span class="avatar avatar-md {{activeUser.status}} chatstatusperson me-2 lh-1">
            <img class="chatimageperson" [src]="activeUser.image" alt="img">
        </span>
        <div class="flex-fill">
            <p class="mb-0 fw-medium fs-14 lh-1">
                <a href="javascript:void(0);"  (click)="detailsclick1(content)"  data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
                    class="chatnameperson responsive-userinfo-open">{{activeUser.name}}</a>
            </p>
            <p class="text-muted mb-0 chatpersonstatus">{{activeUser.status}}</p>
        </div>
        <div class="d-flex flex-wrap rightIcons gap-2" id="chat-user-details">
            <button aria-label="button" type="button" class="btn btn-icon btn-primary1-light my-0  btn-sm">
                <i class="ti ti-phone"></i>
            </button>
            <button aria-label="button" type="button"
                class="btn btn-icon btn-primary2-light my-0 btn-sm d-none d-sm-block">
                <i class="ti ti-video"></i>
            </button>
            <button aria-label="button" type="button"
                class="btn btn-icon btn-outline-light  responsive-userinfo-open btn-sm">
                <i class="ti ti-user-circle" id="responsive-chat-close"></i>
            </button>
            <div class="dropdown" ngbDropdown>
                <button aria-label="button" ngbDropdownToggle
                    class="btn btn-icon btn-primary3-light  btn-wave waves-light btn-sm waves-effect waves-light no-caret"
                    type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ti ti-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                class="ri-user-3-line me-1"></i>Profile</a></li>
                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                class="ri-format-clear me-1"></i>Clear Chat</a></li>
                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                class="ri-user-unfollow-line me-1"></i>Delete User</a></li>
                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                class="ri-user-forbid-line me-1"></i>Block User</a></li>
                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i
                                class="ri-error-warning-line me-1"></i>Report</a></li>
                </ul>
            </div>
            <button aria-label="button" type="button" (click)="removedetails()"
                class="btn btn-icon btn-primary-light my-0 responsive-chat-close btn-sm">
                <i class="ri-close-line"></i>
            </button>
        </div>
    </div>
    <overlay-scrollbars [defer] class="chat-content" id="main-chat-content">
        <ul class="list-unstyled">
            <li class="chat-day-label">
                <span>Today</span>
            </li>
            <li class="chat-item-start">
                <div class="chat-list-inner">
                    <div class="chat-user-profile">
                        <span class="avatar avatar-md {{activeUser.status}} chatstatusperson">
                            <img class="chatimageperson" [src]="activeUser.image" alt="img">
                        </span>
                    </div>
                    <div class="ms-3">
                        <div class="main-chat-msg">
                            <div>
                                <p class="mb-0">Hey!😊 How are you? What have you been up to lately?</p>
                            </div>
                        </div>
                        <span class="chatting-user-info">
                            <span class="chatnameperson" (click)="detailsclick()">{{activeUser.name}}</span> <span
                                class="msg-sent-time">10:20PM</span>
                        </span>
                    </div>
                </div>
            </li>
            <li class="chat-item-end">
                <div class="chat-list-inner">
                    <div class="me-3">
                        <div class="main-chat-msg">
                            <div>
                                <p class="mb-0">Oh, hey! 😄 I'm doing pretty well, thanks! Just been catching up on some
                                    reading and enjoying the nice weather. How about you?</p>
                            </div>
                        </div>
                        <span class="chatting-user-info">
                            <span class="msg-sent-time"><span class="chat-read-mark align-middle d-inline-flex"><i
                                        class="ri-check-double-line"></i></span>11:50PM</span> You
                        </span>
                    </div>
                    <div class="chat-user-profile">
                        <span class="avatar avatar-md online">
                            <img src="./assets/images/faces/15.jpg" alt="img">
                        </span>
                    </div>
                </div>
            </li>
            <li class="chat-item-start">
                <div class="chat-list-inner">
                    <div class="chat-user-profile">
                        <span class="avatar avatar-md {{activeUser.status}} chatstatusperson">
                            <img class="chatimageperson" [src]="activeUser.image" alt="img">
                        </span>
                    </div>
                    <div class="ms-3">
                        <div class="main-chat-msg">
                            <div>
                                <p class="mb-0">That sounds lovely! I've been keeping busy with work, but I'm looking
                                    forward to the weekend. Thinking of heading out for a hike if the weather holds up.
                                </p>
                            </div>
                        </div>
                        <span class="chatting-user-info">
                            <span class="chatnameperson">{{activeUser.name}}</span> <span
                                class="msg-sent-time">11:51PM</span>
                        </span>
                    </div>
                </div>
            </li>
            <li class="chat-item-end">
                <div class="chat-list-inner">
                    <div class="me-3">
                        <div class="main-chat-msg">
                            <div>
                                <p class="mb-0">Nice! Hiking sounds like a great way to unwind. Which trail are you
                                    thinking of exploring?</p>
                            </div>
                        </div>
                        <span class="chatting-user-info">
                            <span class="msg-sent-time"><span class="chat-read-mark align-middle d-inline-flex"><i
                                        class="ri-check-double-line"></i></span>11:52PM</span> You
                        </span>
                    </div>
                    <div class="chat-user-profile">
                        <span class="avatar avatar-md online">
                            <img src="./assets/images/faces/15.jpg" alt="img">
                        </span>
                    </div>
                </div>
            </li>
            <li class="chat-item-start">
                <div class="chat-list-inner">
                    <div class="chat-user-profile">
                        <span class="avatar avatar-md {{activeUser.status}} chatstatusperson">
                            <img class="chatimageperson" [src]="activeUser.image" alt="img">
                        </span>
                    </div>
                    <div class="ms-3">
                        <div class="main-chat-msg">
                            <div>
                                <p class="mb-0">I'm thinking of checking out the one up at Pine Ridge. It's got some
                                    amazing views of the valley. Would you be interested in joining?</p>
                            </div>
                        </div>
                        <span class="chatting-user-info">
                            <span class="chatnameperson">{{activeUser.name}}</span> <span
                                class="msg-sent-time">11:55PM</span>
                        </span>
                    </div>
                </div>
            </li>
            <li class="chat-item-end">
                <div class="chat-list-inner">
                    <div class="me-3">
                        <div class="main-chat-msg">
                            <div class="">
                                <p class="mb-0">That sounds fantastic! I'd like to come along. Let me know what time
                                    you're planning to head out, and I'll make sure to pack some snacks for the trail.
                                </p>
                            </div>
                        </div>
                        <span class="chatting-user-info">
                            <span class="msg-sent-time"><span class="chat-read-mark align-middle d-inline-flex"><i
                                        class="ri-check-double-line"></i></span>11:52PM</span> You
                        </span>
                    </div>
                    <div class="chat-user-profile">
                        <span class="avatar avatar-md online">
                            <img src="./assets/images/faces/15.jpg" alt="img">
                        </span>
                    </div>
                </div>
            </li>
            <li class="chat-item-start">
                <div class="chat-list-inner">
                    <div class="chat-user-profile">
                        <span class="avatar avatar-md {{activeUser.status}}">
                            <img class="chatimageperson" [src]="activeUser.image" alt="img">
                        </span>
                    </div>
                    <div class="ms-3">
                        <div class="main-chat-msg">
                            <div>
                                <p class="mb-0">okay. 😄</p>
                            </div>
                        </div>
                        <span class="chatting-user-info chatnameperson">
                            {{activeUser.name}} <span class="msg-sent-time">11:45PM</span>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </overlay-scrollbars>
    <div class="chat-footer">
        <a aria-label="anchor" class="btn btn-primary1-light me-2 btn-icon btn-send" href="javascript:void(0)">
            <i class="ri-attachment-2"></i>
        </a>
        <a aria-label="anchor" class="btn btn-icon me-2 btn-primary2 emoji-picker" href="javascript:void(0)">
            <i class="ri-emotion-line"></i>
        </a>
        <input class="form-control chat-message-space" placeholder="Type your message here..." type="text">
        <a aria-label="anchor" class="btn btn-primary ms-2 btn-icon btn-send" href="javascript:void(0)">
            <i class="ri-send-plane-2-line"></i>
        </a>
    </div>
</div>

</div>
   <!-- Start::chat user details offcanvas -->
   <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight">
    <ng-template #content let-offcanvas>

        <div class="offcanvas-body">
            <button type="button" class="btn btn-sm btn-icon btn-outline-light border" data-bs-dismiss="offcanvas"
                aria-label="Close"><i class="ri-close-line lh-1 align-center"></i></button>
            <div class="chat-user-details" id="chat-user-details">
                <div class="text-center mb-4">
                    <span class="avatar avatar-rounded online avatar-xxl me-2 mb-3 chatstatusperson">
                        <img class="chatimageperson" src="./assets/images/faces/2.jpg" alt="img">
                    </span>
                    <p class="mb-1 fs-15 fw-medium text-dark lh-1 chatnameperson">Jamison Jen</p>
                    <p class="fs-12 text-muted"><span class="chatnameperson">jamisonjen0114</span>&#64;gmail.com</p>
                    <p class="text-center mb-0 d-flex gap-2 flex-wrap">
                        <button type="button" aria-label="button" class="btn btn-primary-light btn-wave flex-fill"><i
                                class="ri-phone-line me-2 align-middle"></i>Call</button>
                        <button type="button" aria-label="button" class="btn btn-primary1-light btn-wave flex-fill"><i
                                class="ri-video-add-line me-2 align-middle"></i>Video Call</button>
                        <button type="button" aria-label="button" class="btn btn-info-light btn-wave flex-fill"><i
                                class="ri-chat-1-line me-2 align-middle"></i>Message</button>
                    </p>
                </div>
                <div class="mb-4 pt-2">
                    <div class="fw-medium mb-4">Shared Files
                        <span class="badge bg-primary2 ms-1 rounded-pill">17</span>
                        <span class="float-end fs-11"><a href="javascript:void(0);" class="fs-12 text-muted"> View All<i class="ti ti-arrow-narrow-right ms-1"></i> </a></span>
                    </div>
                    <ul class="shared-files list-unstyled">
                        <li>
                            <div class="d-flex align-items-center">
                                <div class="me-2 bg-primary-transparent rounded-circle">
                                    <span class="shared-file-icon">
                                        <i class="ti ti-file-text text-primary"></i>
                                    </span>
                                </div>
                                <div class="flex-fill">
                                    <p class="fs-12 fw-medium mb-0">notification.pdf</p>
                                    <p class="mb-0 text-muted fs-11">15,Dec 2024 - 12:45PM</p>
                                </div>
                                <div class="fs-18">
                                    <a aria-label="anchor" href="javascript:void(0)"><i class="ri-download-2-line text-muted"></i></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <div class="me-2 bg-secondary-transparent rounded-circle">
                                    <span class="shared-file-icon">
                                        <i class="ri-image-line text-secondary"></i>
                                    </span>
                                </div>
                                <div class="flex-fill">
                                    <p class="fs-12 fw-medium mb-0">Image_file1.Jpg</p>
                                    <p class="mb-0 text-muted fs-11">03,Oct 2024 - 03:20AM</p>
                                </div>
                                <div class="fs-18">
                                    <a aria-label="anchor" href="javascript:void(0)"><i class="ri-download-2-line text-muted"></i></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <div class="me-2 bg-success-transparent rounded-circle">
                                    <span class="shared-file-icon">
                                        <i class="ri-image-line text-success"></i>
                                    </span>
                                </div>
                                <div class="flex-fill">
                                    <p class="fs-12 fw-medium mb-0">Imagefile_12.Jpg</p>
                                    <p class="mb-0 text-muted fs-11">19,Oct 2024 - 01:23PM</p>
                                </div>
                                <div class="fs-18">
                                    <a aria-label="anchor" href="javascript:void(0)"><i class="ri-download-2-line text-muted"></i></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <div class="me-2 bg-orange-transparent rounded-circle">
                                    <span class="shared-file-icon">
                                        <i class="ri-video-line text-orange"></i>
                                    </span>
                                </div>
                                <div class="flex-fill">
                                    <p class="fs-12 fw-medium mb-0">Video-rec-20-10-2021.MP4</p>
                                    <p class="mb-0 text-muted fs-11">13,May 2024 - 16:25AM</p>
                                </div>
                                <div class="fs-18">
                                    <a href="javascript:void(0)"><i class="ri-download-2-line text-muted"></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="mb-0 pt-2">
                    <div class="fw-medium mb-4">Photos & Media
                        <span class="badge bg-primary3 ms-1 rounded-pill">15</span>
                        <span class="float-end fs-11"><a href="javascript:void(0);" class="fs-12 text-muted"> View All<i class="ti ti-arrow-narrow-right ms-1"></i> </a></span>
                    </div>
                    <spk-gallery  [mainClass]="'row gy-3'" [lightboxClass]="'mb-0'" [colClass]="'col-lg-4 col-md-4 col-sm-6 col-12'" [imageData]="imageData"></spk-gallery>
              
                </div>
            </div>
        </div>
    </ng-template>
</div>
<!-- End::chat user details offcanvas -->