
<app-page-header title="Analytics" title1="Dashboards" activeTitle="Analytics" ></app-page-header>

 <!-- Start::row-1 -->
  <div class="row">
    <div class="col-xxl-4">
        <div class="card custom-card main-dashboard-banner main-dashboard-banner2 overflow-hidden">
            <div class="card-body p-4">
                <div class="row justify-content-between">
                    <div class="col-xxl-8 col-xl-4 col-lg-5 col-md-5 col-sm-5">
                        <h4 class="mb-3 fw-medium text-fixed-white">Upgrade to get more</h4>
                        <p class="mb-3 text-fixed-white fs-11">Upgrade Now for Premium Access and Unlock Exclusive Features!</p>
                        <a href="javascript:void(0);" class="fw-medium text-fixed-white text-decoration-underline">Upgrade Now<i class="ti ti-arrow-narrow-right"></i></a>
                    </div>
                    <div class="col-xxl-4 col-xl-7 col-lg-7 col-md-7 col-sm-7 d-sm-block d-none text-end my-auto">
                        <img src="./assets/images/media/media-91.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-8">
        <div class="row">
            @for(card of cardData;track $index){
                <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-12">
                    <app-spk-analytics-card 
                      [title]="card.title" 
                      [value]="card.value" 
                      [percentageChange]="card.percentageChange" 
                      [chartOptions]="card.chartOptions" 
                      [iconClass]="card.iconClass" 
                      [percentageClass]="card.percentageClass" 
                      [bgClass]="card.bgClass"  [trend]="card.trend" >
                    </app-spk-analytics-card>
                    </div>
            }
           
        </div>

    </div>
</div>
<!--End::row-1 -->

<!-- Start::row-2 -->
<div class="row">
    <div class="col-xxl-3">
        <div class="card custom-card custom-dropdown">
            <div class="card-header justify-content-between flex-wrap pb-1">
                <div class="card-title">
                    Activity
                </div>
                <spk-dropdowns [Customclass]="'dropdown'" [class]="'btn btn-light btn-icons btn-sm text-muted no-caret'"  [Icon]="true" [IconClass]="'fe fe-more-vertical'"
                [Menuclass]="'dropdown-menu'"  >
                <li class="border-bottom"><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Today</a></li>
                <li class="border-bottom"><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">This Week</a></li>
                <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Last Week</a></li>
            </spk-dropdowns>
            </div>
            <div class="card-body">
                <div class="analytics-timeline">
                    <ul class="list-unstyled analytics-activity mb-0">
                        @for(activity of activities;track $index){

                            <li class="{{activity.class}}">
                                <div class="d-flex align-items-center gap-2">
                                    <div>
                                        <span class="avatar avatar-md avatar-rounded bg-{{activity.bg}}-transparent">
                                            <i class="ri-{{activity.icon}}"></i>
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <span class="d-block fw-medium">{{activity.title}}</span>
                                        <span class="fs-13 text-muted">{{activity.status}} <span class="text-{{activity.bg1}} fw-medium ms-1"> {{activity.percent}}<i class="ti ti-arrow-narrow-{{activity.arrow}}"></i></span></span>
                                    </div>
                                    <div>
                                        <span class="d-block fs-15 mb-0 fw-medium">{{activity.duration}}</span>
                                    </div>
                                </div>
                            </li>
                        }
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-6">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Visitor Analytics
                </div>
                <div>
                    <button type="button" class="btn btn-primary-light btn-sm"><i class="ri-share-forward-line me-1 align-middle d-inline-block"></i>Export</button>
                </div>
            </div>
            <div class="card-body pb-0">
                <div id="audienceMetric">
                    <app-apex-chart [chartOptions]="chartOptions4"></app-apex-chart>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Users By Countries
                </div>
                <div class="">
                    <a href="javascript:void(0);" class="btn btn-light btn-sm text-muted">
                        View All
                    </a>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mb-0 analytics-visitors-countries">
                    @for(country of countries;track $index){

                        <li class="{{country.liClass}}">
                          <div class="d-flex align-items-center gap-2">
                            <div class="lh-1">
                              <span class="avatar avatar-xs avatar-rounded text-default">
                                <img [src]="country.flag" alt="{{ country.name }} flag">
                              </span>
                            </div>
                            <div class="ms-1 flex-fill lh-1">
                              <span class="fs-14">{{ country.name }}</span>
                            </div>
                            <div [ngClass]="country.percentageClass">
                              {{ country.percentage }}<i class="ti ti-arrow-narrow-{{country.changeDirection}}"></i>
                            </div>
                            <div class="ms-1">
                              <span class="text-default badge bg-light fw-medium">{{ country.visitors }}</span>
                            </div>
                          </div>
                        </li>
                    }
                  </ul>
                
            </div>
         </div>
    </div>
</div>
<!--End::row-2 -->

<!-- Start::row-3 -->
<div class="row">
    <div class="col-xxl-5">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Site Referrals
                </div>
                <a href="javascript:void(0);" class="btn btn-light btn-wave btn-sm text-muted waves-effect waves-light">View All</a>
            </div>
            <div class="card-body d-sm-flex align-items-center">
                <div id="referrals-chart" class="p-3 flex-shrink-0 px-0">
                    <app-apex-chart [chartOptions]="chartOptions5"></app-apex-chart>

                </div>
                <div class="table-responsive flex-fill">
                    <app-spk-reusable-tables [columns]="referrals" tableClass="text-nowrap table-bordered"  [showCheckbox]="false">
                        @for(referal of referalsdata;track $index){
                            <tr>
                                <td>{{referal.source}}</td>
                                <td class="text-center fw-medium">{{referal.total}}</td>
                                <td class="text-{{referal.bg}}">{{referal.growth}}</td>
                            </tr>
                        }
                        </app-spk-reusable-tables>       
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-4">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
            <h5 class="card-title">Top Landing Pages</h5>
            <a href="javascript:void(0);" class="btn btn-light btn-wave btn-sm text-muted waves-effect waves-light">View All</a>
            </div>
            <div class="card-body">
                @for(item of progressItems;track $index){

                    <div class="{{item.liClass}}">
                      <div class="d-flex mb-1">
                        <span>{{ item.path }}</span>
                        <span class="ms-auto fs-14 fw-semibold">{{ item.visits }}</span>
                      </div>
                      <div class="progress progress-md p-1">
                        <div class="progress-bar progress-bar-striped progress-bar-animated {{ item.progressBarClass }}" 
                             role="progressbar" 
                             [style.width.%]="item.progress" 
                             [attr.aria-valuenow]="item.progress" 
                             aria-valuemin="0" 
                             aria-valuemax="100"></div>
                      </div>
                    </div>
                }
              </div>
              
        </div>
    </div>
    <div class="col-xxl-3">
        <div class="card custom-card custom-dropdown">
            <div class="card-header justify-content-between">
               <div class="card-title">
                Sales Growth Rate
               </div>
               <spk-dropdowns [Customclass]="'dropdown'" [class]="'btn btn-light btn-icons btn-sm text-muted no-caret'"  [Icon]="true" [IconClass]="'fe fe-more-vertical'"
               [Menuclass]="'dropdown-menu'"  >
               <li class="border-bottom"><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Today</a></li>
               <li class="border-bottom"><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">This Week</a></li>
               <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Last Week</a></li>
           </spk-dropdowns>
           </div>
           <div class="card-body pb-1">
                <div class="d-flex align-items-center p-3 bg-light rounded">
                    <div>
                        <p class="mb-1 fs-13">Comparison: 2024 vs. 2023</p>
                        <div class="text-muted fs-12 mb-2">Increased By <span class="text-success"> 2.62%<i class="ti ti-arrow-narrow-up fs-16"></i></span></div>
                        <h5 class="mb-0">20%</h5>
                    </div>
                    <div class="ms-auto">
                        <div class="p-2 bg-primary-transparent rounded-circle">
                            <div class="avatar-md avatar bg-primary svg-white avatar-rounded shadow-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M232,208a8,8,0,0,1-8,8H32a8,8,0,0,1-8-8V48a8,8,0,0,1,16,0V156.69l50.34-50.35a8,8,0,0,1,11.32,0L128,132.69,180.69,80H160a8,8,0,0,1,0-16h40a8,8,0,0,1,8,8v40a8,8,0,0,1-16,0V91.31l-58.34,58.35a8,8,0,0,1-11.32,0L96,123.31l-56,56V200H224A8,8,0,0,1,232,208Z"></path></svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sales-growth" class="mt-1">
                    <app-apex-chart [chartOptions]="chartOptions6"></app-apex-chart>

                </div>
            </div>
        </div>
    </div>
</div>
 <!--End::row-3 -->

<!-- Start::row-4 -->
<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Visitors Statistics
                </div>
                <div class="d-flex flex-wrap">
                    
                        <spk-dropdowns [Customclass]="'dropdown my-1'" [title]="'Sort By'" [class]="'btn btn-light btn-sm no-caret'"  [Icon]="true" [IconClass]="'ri-arrow-down-s-line align-middle ms-1 d-inline-block'"
                        [Menuclass]="'dropdown-menu'"  >
                        <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">New</a></li>
                        <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Popular</a></li>
                        <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Relevant</a></li>
                    </spk-dropdowns>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <app-spk-reusable-tables [columns]="statistics" tableClass="text-nowrap table-hover  table-bordered"  [showCheckbox]="false">
                        @for(visitor of visitors;track $index){
                            <tr>
                                <td class="{{visitor.bg1}}" >{{visitor.total}}</td>
                                <td class="{{visitor.bg2}}">{{visitor.duration}}</td>
                                <td >{{visitor.visitors}}</td>
                                <td class="{{visitor.bg4}}">{{visitor.rate}}</td>
                                <td class="{{visitor.bg5}}">{{visitor.bouncerate}}</td>
                                <td class="{{visitor.bg6}}">{{visitor.conversionrate}}</td>
                                <td class="{{visitor.bg7}}">{{visitor.avgduration}}</td>
                                <td class="{{visitor.bg8}}">{{visitor.sources}}</td>
                            </tr>
                        }
                        </app-spk-reusable-tables>
                 
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex align-items-center">
                    <div>
                        Showing 6 Entries <i class="bi bi-arrow-right ms-2 fw-medium"></i>
                    </div>
                    <div class="ms-auto">
                        <nav aria-label="Page navigation" class="pagination-style-4">
                            <ul class="pagination mb-0">
                                <li class="page-item disabled">
                                    <a class="page-link" href="javascript:void(0);">
                                        Prev
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                <li class="page-item">
                                    <a class="page-link text-primary" href="javascript:void(0);">
                                        next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-4 -->
