/* You can add global styles to this file, and also import other style files */
@import url("../public/assets/css/styles.css");
// -- Icons Css --
@import url("../public/assets/css/icons.css");
@import "../node_modules/@angular/cdk/overlay-prebuilt.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/flatpickr/dist/flatpickr.css';
@import '../node_modules/leaflet/dist/leaflet.css';
@import "swiper/scss";


@import '../node_modules/ngx-easy-table/style.css';
@import "../node_modules/@swimlane/ngx-datatable/index.css";
@import "../node_modules/@swimlane/ngx-datatable/themes/material.scss";
@import "../node_modules/@swimlane/ngx-datatable/assets/icons.css";
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";
@import '../node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.css';
@import '../node_modules/overlayscrollbars/styles/overlayscrollbars.css';
@import'../node_modules/filepond/dist/filepond.min.css';
@import '../node_modules/flatpickr/dist/flatpickr.css';
//ng2-nouislider
@import "nouislider/dist/nouislider.css";
//angular calendar
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "../node_modules/@wfpena/angular-wysiwyg/index";
@import'../node_modules/font-awesome/css/font-awesome.css';
@import "../node_modules/ngx-toastr/toastr.css";
app-spk-flatpickr {
    padding: 0 !important;
}

.custom-flatpickr {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.btn-group {
    spk-buttons:not(:last-child) {

        .btn:not(.dropdown-toggle),
        .btn {

            margin-left: calc(var(--bs-border-width)* -1) !important;
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
    }

    spk-buttons:not(:first-child) {
        .btn {
            margin-left: calc(var(--bs-border-width)* -1);
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

.mat-elevation-z8,
.mat-mdc-elevation-specific.mat-elevation-z8 {
    box-shadow: none !important;
}

.product-details-page {
    .dots-container {
        display: none !important;
    }
}

app-spk-alerts:last-child .alert {
    margin-bottom: 0;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color: var(--custom-white) !important;
    color: var(--default-text-color) !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

.creative-nft-select.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: #999 !important;
}

.project-select.ng-select {
    width: 150px !important;
}
.input-group{
app-spk-flatpickr {
    .form-control {
        border: 0 !important
    }
}
}

#bnb-marketcap,
#xrp-marketcap,
#eth-marketcap,
#sol-marketcap,
#btc-marketcap,
#ada-marketcap,
#usdt-marketcap {
    apx-chart {
        position: static;
        width: 6rem !important;
        display: block;
    }
}

@media (min-width:992px) {
    [data-nav-layout="horizontal"][data-menu-position="fixed"][data-header-position="scrollable"] {
        app-sidebar {
            position: sticky;
            top: 0;
            z-index: 103;
        }
    }
}

//styles//

@media (max-width: 991.98px) {
    .main-sidebar {
        box-shadow: none !important;
    }
}

.mat-mdc-select-placeholder {
    color: var(--default-text-color) !important;
}

.angular-editor {
    .angular-editor-textarea {
        border-top: 0px !important;
    }
}

.custom-alert1 {
    padding-inline: 0.65rem !important;
    padding-block: 2rem !important;
}

#player,
.plyr__video-embed iframe {
    width: 100%;
}

[data-nav-layout="horizontal"][data-theme-mode="dark"] {

    &[data-bg-img="bgimg1"],
    &[data-bg-img="bgimg2"],
    &[data-bg-img="bgimg3"],
    &[data-bg-img="bgimg4"],
    &[data-bg-img="bgimg5"] {
        .app-sidebar {
            border-block-end: 0px !important;
        }
    }
}

[data-theme-mode="light"][data-menu-styles="light"][data-nav-style="icon-click"][data-nav-layout="vertical"] {
    .app-sidebar .side-menu__item {
        &:hover {
            .iconclick {
                z-index: 0 !important;
            }
        }
    }
}

#product-features {
    .NgxEditor {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .NgxEditor__MenuBar {
        border-top-left-radius: 0.35rem;
        border-top-right-radius: 0.35rem;
    }
}

a {
    cursor: pointer;
}

.mdc-data-table__table {
    .ng-star-inserted {
        th {
            z-index: 99 !important;
        }
    }
}

[data-width="boxed"] {
    .page {
        overflow: inherit;
    }
}

.mat-mdc-paginator-container {
    margin-block-start: 0.5rem;
}

.color-transparent {
    background-color: #fff !important;
}

.color-gradient {
    background-color: #8061f7 !important;
}

[data-page-style="classic"][data-theme-mode="dark"][data-nav-layout="horizontal"][data-header-styles="light"] {
    --header-border-color: #f3f3f3;
}

[dir="rtl"] {
    .theme-colors {
        .color-picker.open {
            inset-inline-end: 0px !important;
            inset-inline-start: auto !important;
        }
    }
}

.mat-step-icon-state-edit{
     &.mat-step-icon-selected{
      background-color: var(--primary-color) !important;
     }
}

.NgxEditor__Dropdown .NgxEditor__Dropdown--Active {
    background-color: rgba(var(--primary-rgb),0.1) !important;
    color: var(--primary-color) !important;
}

.NgxEditor__Dropdown .NgxEditor__Dropdown--Selected, .NgxEditor__Dropdown .NgxEditor__Dropdown--Open {
    color: var(--primary-color) !important;
}

.ng-select .ng-clear-wrapper {
    margin-inline-start: 0.5rem;
    margin-block-start: 0.25rem;
}
.filepond--list{
.filepond--item{
    padding: 0px !important;
    div{
     color:#fff !important;
    }
}
}
[data-theme-mode="dark"] .landing-body {
.app-sidebar .slide-menu{
    &.child1,&.child2,&.child3{
        .side-menu__item{
            &.active{
                &:before {
                    color: var(--primary-color) !important;
                }
           }
        }
    }
}
}
[dir="rtl"]{
.ngx-pagination-range {
    float: left !important;
}
.search_drop{
    i{
        rotate: 180deg;
    }
}
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
    background-color: rgba(var(--primary-rgb),0.1) !important;
    .mdc-list-item__primary-text{
    color: var(--primary-color) !important; 
    }
}

.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
    background-color: rgba(var(--primary-rgb),0.1) !important;
    .mdc-list-item__primary-text{
    color: var(--primary-color) !important; 
    }
}

@media (max-width: 470px) {
#switcher-canvas {
.canvas-footer {
    padding: 0.75rem 1rem;
}
}
}
.authentication-basic {
    .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
        border-color: rgba(255, 255, 255, 0.05);
    }
}
[data-menu-styles="dark"][data-nav-style="icon-click"] {
    .app-sidebar .side-menu__item.active,.app-sidebar .side-menu__item:hover {
        background-color: rgba(255, 255, 255, 0.08);
    }
}