<app-page-header title="Products" title1="Ecommerce" activeTitle="Products"></app-page-header>
<!-- Start:: Row-1 -->
<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-body p-3">
                <div class="row align-items-center gy-2">
                    <div class="col-sm-8">
                        <div class="d-flex">
                            <h6 class="mb-0">
                                Total <span class="fw-semibold text-primary1">6678 Items</span>
                                Available</h6>
                        </div>
                    </div>
                    <div class="col-sm-4 text-sm-end text-start">
                        <div class="btn-group" ngbDropdown> <button ngbDropdownToggle class="btn btn-outline-light border dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false"> <i class="ti ti-sort-descending-2 me-1"></i> Sort
                            By </button>
                        <ul class="dropdown-menu" ngbDropdownMenu>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0)">Created Date</a></li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0)">Date Published</a>  </li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0)">Most Relevant</a>  </li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0)">Price Low to High</a> </li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0)">Price High to Low</a></li>
                        </ul>
                    </div>
                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-9">
        <div class="row">
            @for(product of products;track $index){
            <div class="col-xxl-3 col-lg-6 col-xl-4 col-sm-6">
                <app-spk-products-reusable-card [product]="product">
                </app-spk-products-reusable-card>
            </div>
            }
            <div class="col-md-12">
                <!-- Start::pagination -->
                <nav aria-label="Page navigation" class="pagination-style-4 mt-3">
                    <ul class="pagination text-center justify-content-center gap-1">
                        <li class="page-item disabled">
                            <a class="page-link" href="javascript:void(0)">
                                Prev
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">
                                <i class="bi bi-three-dots"></i>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">16</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">17</a></li>
                        <li class="page-item">
                            <a class="page-link text-primary" href="javascript:void(0)">
                                next
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End::pagination -->
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="card custom-card products-navigation-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Filter
                </div>
                <div class="ms-auto">
                    <a href="javascript:void(0);" class="text-decoration-underline fw-medium text-primary2">Clear
                        All</a>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="p-3 border-bottom">
                    <h6 class="fw-semibold mb-0">Categories</h6>
                    <div class="py-3 pb-0">
                        <div class="form-check mb-2 p-0">
                            <input class="form-check-input float-end" type="checkbox" value="" id="c-1" checked>
                            <label class="form-check-label text-wrap pe-3" for="c-1">
                                Electronics <span class="fs-11 fw-normal text-muted">(2,712)</span>
                            </label>
                        </div>
                        <div class="form-check mb-2 p-0">
                            <input class="form-check-input float-end" type="checkbox" value="" id="c-2">
                            <label class="form-check-label text-wrap pe-3" for="c-2">
                                Clothing & Apparel <span class="fs-11 fw-normal text-muted">(536)</span>
                            </label>
                        </div>
                        <div class="form-check mb-2 p-0">
                            <input class="form-check-input float-end" type="checkbox" value="" id="c-3" checked>
                            <label class="form-check-label text-wrap pe-3" for="c-3">
                                Kitchen <span class="fs-11 fw-normal text-muted">(18,289)</span>
                            </label>
                        </div>
                        <div class="form-check mb-2 p-0">
                            <input class="form-check-input float-end" type="checkbox" value="" id="c-4" checked>
                            <label class="form-check-label text-wrap pe-3" for="c-4">
                                Health & Beauty <span class="fs-11 fw-normal text-muted">(3,453)</span>
                            </label>
                        </div>
                        <div class="form-check mb-2 p-0">
                            <input class="form-check-input float-end" type="checkbox" value="" id="c-5">
                            <label class="form-check-label text-wrap pe-3" for="c-5">
                                Sports <span class="fs-11 fw-normal text-muted">(7,165)</span>
                            </label>
                        </div>
                        <div #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed1" class="collapse"
                            id="category-more">
                            <div class="form-check mb-2 p-0">
                                <input class="form-check-input float-end" type="checkbox" value="" id="c-6">
                                <label class="form-check-label text-wrap pe-3" for="c-6">
                                    Games <span class="fs-11 fw-normal text-muted">(5,964)</span>
                                </label>
                            </div>
                            <div class="form-check mb-2 p-0">
                                <input class="form-check-input float-end" type="checkbox" value="" id="c-7">
                                <label class="form-check-label text-wrap pe-3" for="c-7">
                                    Food & Grocery <span class="fs-11 fw-normal text-muted">(2,123)</span>
                                </label>
                            </div>
                        </div>
                        <a class="ecommerce-more-link mt-3" data-bs-toggle="collapse" role="button"
                            (click)="collapse1.toggle()" [attr.aria-expanded]="!isCollapsed1" aria-expanded="false"
                            aria-controls="category-more">MORE</a>
                    </div>
                </div>
                <div class="p-3 border-bottom">
                    <h6 class="fw-semibold mb-0">Price Range</h6>
                    <div class="py-3 pb-0">
                        <div id="nonlinear">
                            <div class="d-flex mt-4">
                                <div class="fw-semibold h6">$<span id="lower-value"></span></div>
                                <mat-slider min="200" max="500">
                                    <input value="300" matSliderStartThumb>
                                    <input value="400" matSliderEndThumb>
                                </mat-slider>
                                <div class="fw-semibold h6">$<span id="upper-value"></span></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="p-3 border-bottom">
                    <h6 class="fw-semibold mb-0">Discount</h6>
                    <div class="py-3 pb-0">
                        <div class="form-check mb-2 p-0">
                            <input class="form-check-input float-end" type="checkbox" value="" id="q-1">
                            <label class="form-check-label text-wrap pe-3" for="q-1">
                                0% - 20% <span class="fs-11 fw-normal text-muted">(245)</span>
                            </label>
                        </div>
                        <div class="form-check mb-2 p-0">
                            <input class="form-check-input float-end" type="checkbox" value="" id="q-2" checked>
                            <label class="form-check-label text-wrap pe-3" for="q-2">
                                20% - 40% <span class="fs-11 fw-normal text-muted">(987)</span>
                            </label>
                        </div>
                        <div class="form-check mb-2 p-0">
                            <input class="form-check-input float-end" type="checkbox" value="" id="q-3">
                            <label class="form-check-label text-wrap pe-3" for="q-3">
                                40% - 60% <span class="fs-11 fw-normal text-muted">(123)</span>
                            </label>
                        </div>
                        <div class="form-check mb-2 p-0">
                            <input class="form-check-input float-end" type="checkbox" value="" id="q-4" checked>
                            <label class="form-check-label text-wrap pe-3" for="q-4">
                                60% - 80% <span class="fs-11 fw-normal text-muted">(987)</span>
                            </label>
                        </div>
                        <div class="form-check p-0">
                            <input class="form-check-input float-end" type="checkbox" value="" id="q-5">
                            <label class="form-check-label text-wrap pe-3" for="q-5">
                                80% - 90% <span class="fs-11 fw-normal text-muted">(5,222)</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="p-3 border-bottom">
                    <h6 class="fw-semibold mb-0">Brand</h6>
                    <div class="py-3 pb-0">
                        <div class="form-check mb-2 p-0">
                            <input class="form-check-input float-end" type="checkbox" value="" id="j-1" checked>
                            <label class="form-check-label text-wrap pe-3" for="j-1">
                                Ruby <span class="fs-11 fw-normal text-muted">(663)</span>
                            </label>
                        </div>
                        <div class="form-check mb-2 p-0">
                            <input class="form-check-input float-end" type="checkbox" value="" id="j-2" checked>
                            <label class="form-check-label text-wrap pe-3" for="j-2">
                                Hadlirams <span class="fs-11 fw-normal text-muted">(2,514)</span>
                            </label>
                        </div>
                        <div class="form-check mb-2 p-0">
                            <input class="form-check-input float-end" type="checkbox" value="" id="j-3" checked>
                            <label class="form-check-label text-wrap pe-3" for="j-3">
                                Xioami <span class="fs-11 fw-normal text-muted">(781)</span>
                            </label>
                        </div>
                        <div class="form-check mb-2 p-0">
                            <input class="form-check-input float-end" type="checkbox" value="" id="j-4">
                            <label class="form-check-label text-wrap pe-3" for="j-4">
                                Samsnug <span class="fs-11 fw-normal text-muted">(20)</span>
                            </label>
                        </div>
                        <div class="form-check mb-0 p-0">
                            <input class="form-check-input float-end" type="checkbox" value="" id="j-5">
                            <label class="form-check-label text-wrap pe-3" for="j-5">
                                Tommy & Hilfigure <span class="fs-11 fw-normal text-muted">(1,112)</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="p-3">
                    <h6 class="fw-semibold mb-0">Sizes</h6>
                    <div class="py-3 pb-0">
                        <div class="form-check mb-2 p-0">
                            <input class="form-check-input float-end" type="checkbox" value="" id="e-1" checked>
                            <label class="form-check-label text-wrap pe-3" for="e-1">
                                Extra Small (XS) <span class="fs-11 fw-normal text-muted">(574)</span>
                            </label>
                        </div>
                        <div class="form-check mb-2 p-0">
                            <input class="form-check-input float-end" type="checkbox" value="" id="e-2">
                            <label class="form-check-label text-wrap pe-3" for="e-2">
                                Small (SM) <span class="fs-11 fw-normal text-muted">(1,474)</span>
                            </label>
                        </div>
                        <div class="form-check mb-2 p-0">
                            <input class="form-check-input float-end" type="checkbox" value="" id="e-3" checked>
                            <label class="form-check-label text-wrap pe-3" for="e-3">
                                Medium (MD) <span class="fs-11 fw-normal text-muted">(12,245)</span>
                            </label>
                        </div>
                        <div class="form-check mb-2 p-0">
                            <input class="form-check-input float-end" type="checkbox" value="" id="e-4" checked>
                            <label class="form-check-label text-wrap pe-3" for="e-4">
                                Large (L) <span class="fs-11 fw-normal text-muted">(877)</span>
                            </label>
                        </div>
                        <div class="collapse" id="sizes-more" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                            <div class="form-check mb-2 p-0">
                                <input class="form-check-input float-end" type="checkbox" value="" id="s-5">
                                <label class="form-check-label text-wrap pe-3" for="s-5">
                                    Extra Large (XL) <span class="fs-11 fw-normal text-muted">(954)</span>
                                </label>
                            </div>
                            <div class="form-check mb-2 p-0">
                                <input class="form-check-input float-end" type="checkbox" value="" id="s-6">
                                <label class="form-check-label text-wrap pe-3" for="s-6">
                                    XXL <span class="fs-11 fw-normal text-muted">(147)</span>
                                </label>
                            </div>
                            <div class="form-check mb-0 p-0">
                                <input class="form-check-input float-end" type="checkbox" value="" id="s-7">
                                <label class="form-check-label text-wrap pe-3" for="s-7">
                                    XXXL <span class="fs-11 fw-normal text-muted">(324)</span>
                                </label>
                            </div>
                        </div>
                        <a class="ecommerce-more-link mt-3" data-bs-toggle="collapse" (click)="collapse.toggle()"
                            [attr.aria-expanded]="!isCollapsed" role="button" aria-expanded="false"
                            aria-controls="sizes-more">MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: Row-1 -->