.btn-close.crm-contact-close-btn {
    --bs-btn-close-color: #000 !important;
    opacity: var(--bs-btn-close-opacity) !important;
}
.btn-close:hover{
    opacity: var(--bs-btn-close-hover-opacity) !important;
}