<app-page-header title="Contacts" title1="CRM" activeTitle="Contacts"></app-page-header>
<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header d-flex align-items-center justify-content-between flex-wrap gap-3">
                <div class="card-title">
                    Contacts<span class="badge bg-primary rounded ms-2 fs-12 align-middle">28</span>
                </div>
                <div class="d-flex flex-wrap gap-2">
                    <a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#create-contact"
                        (click)="openModal(content1)"><i class="ri-add-line me-1 fw-medium align-middle"></i>Create
                        Contact</a>
                    <button class="btn btn-success-light btn-sm">Export As CSV</button>
                    <spk-dropdowns [Customclass]="'dropdown'" [title]="'Sort By'" [class]="'btn btn-light btn-sm btn-wave'" 
                    [Menuclass]="'dropdown-menu'"  >
                    <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">Newest</a></li>
                    <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">Date Added</a></li>
                    <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">A - Z</a></li>
                </spk-dropdowns>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <app-spk-reusable-tables  (toggleSelectAll)="handleToggleSelectAll($event)" [columns]="contactColumn" tableClass=" text-nowrap table-hover"
                    [showCheckbox]="true" checkboxClass="text-center"> 
                    @for (Contact of Contacts; track Contact) {
                        <tr class="crm-contact contacts-list">
                            <td class="contacts-checkbox">
                                <input class="form-check-input" type="checkbox" [checked]="allTasksChecked" [(ngModel)]="Contact.checked" id="checkboxNoLabel1" value="" aria-label="...">
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="lh-1">
                                        <span class="avatar avatar-rounded avatar-sm">
                                            <img [src]="Contact.img"  alt="">
                                        </span>
                                    </div>
                                    <div>
                                        <a data-bs-toggle="offcanvas" (click)="open(content)"  role="button" aria-controls="offcanvasExample"><span class="d-block fw-medium">{{Contact.name}}</span></a>
                                        <span class="d-block text-muted fs-11" data-bs-toggle="tooltip" tooltipClass="tooltip-primary" ngbTooltip="Last Contacted"><i class="ri-account-circle-line me-1 fs-13 align-middle"></i>{{Contact.Date}}</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="d-block mb-1"><i class="ri-mail-line me-2 align-middle fs-14 text-muted"></i>{{Contact.Email}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="lh-1">
                                        <span class="avatar avatar-sm p-1 bg-light avatar-rounded">
                                            <img [src]="Contact.logo" alt="">
                                        </span>
                                    </div>
                                    <div>{{Contact.company}}</div>
                                </div>
                            </td>
                            <td>
                                {{Contact.Score}}
                            </td>
                            <td>
                                <span class="badge bg-{{Contact.bg}}-transparent">{{Contact.priority}}</span>
                            </td>
                            <td>
                                <div>
                                    <span class="d-block"><i class="ri-phone-line me-2 align-middle fs-14 text-muted"></i>{{Contact.phnNo}}</span>
                                </div>
                            </td>
                            <td>
                                <span class="badge bg-primary-transparent">{{Contact.Tags}}</span>
                            </td>
                            <td>
                                {{Contact.leadSource}}
                            </td>
                            <td>
                                <div class="btn-list">
                                    <a data-bs-toggle="offcanvas" (click)="open(content)" role="button" aria-controls="offcanvasExample" class="btn btn-sm btn-primary-light btn-icon"><i class="ri-eye-line"></i></a>
                                    <button class="btn btn-sm btn-info-light btn-icon"><i class="ri-pencil-line"></i></button>
                                    <button (click)="click(Contact.id)" class="btn btn-sm btn-primary2-light btn-icon contact-delete"><i class="ri-delete-bin-line"></i></button>
                                </div>
                            </td>
                        </tr>
                        }
                    </app-spk-reusable-tables>
                   
                </div>
            </div>
            <div class="card-footer border-top-0">
                <div class="d-flex align-items-center">
                    <div>
                        Showing 10 Entries <i class="bi bi-arrow-right ms-2 fw-medium"></i>
                    </div>
                    <div class="ms-auto">
                        <nav aria-label="Page navigation" class="pagination-style-4">
                            <ul class="pagination mb-0">
                                <li class="page-item disabled">
                                    <a class="page-link" href="javascript:void(0);">
                                        Prev
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                <li class="page-item">
                                    <a class="page-link text-primary" href="javascript:void(0);">
                                        next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->
<!-- Start:: Contact Details Offcanvas -->
<ng-template #content let-offcanvas>
    <div class="offcanvas-body p-0">
        <div class="d-flex align-items-top p-3 border-bottom border-block-end-dashed main-profile-cover">
            <span class="avatar avatar-xxl avatar-rounded me-3 flex-shrink-0">
                <img src="./assets/images/faces/11.jpg" alt="">
            </span>
            <div class="flex-fill main-profile-info">
                <div class="d-flex align-items-start justify-content-between">
                    <h6 class="fw-medium mb-1">Ethan Thompson
                        <span class="badge bg-success-transparent fs-10"><i class="ri-circle-fill fs-8 text-success me-1 "></i> New Lead</span>
                    </h6>
                    <button type="button" class="btn-close crm-contact-close-btn" (click)="offcanvas.close('cross click')" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <p class="mb-2 text-muted fs-12">Chief Financial Officer (CFO)</p>
                <div class="d-flex gap-2 fs-15 mt-1">
                    <a href="javascript:void(0);" class="btn btn-icon btn-sm rounded-pill btn-primary1-light"><i class="ri-phone-line"></i></a>
                    <a href="javascript:void(0);" class="btn btn-icon btn-sm rounded-pill btn-primary2-light"><i class="ri-mail-line"></i></a>
                    <a href="javascript:void(0);" class="btn btn-icon btn-sm rounded-pill btn-primary3-light"><i class="ri-message-line"></i></a>
                    <spk-dropdowns [Customclass]="'dropdown'" 
                    [class]="'btn btn-icon btn-sm rounded-pill btn-secondary-light no-caret'" [Icon]="true"
                    [IconClass]="'ri-more-fill'" [Menuclass]="'dropdown-menu  dropdown-menu-end'">
                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Size </a></li>
                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Deals</a></li>
                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Status</a></li>
                </spk-dropdowns>
                </div>
            </div>
        </div>
        <div class="d-flex mt-3 gap-3 p-1 py-0 border-bottom border-block-end-dashed">
            <div class="p-2 text-center flex-fill">
                <i class="ri-shake-hands-line p-2 fs-5 rounded-circle lh-1 text-fixed-white shadow-sm bg-primary"></i>
                <p class="fw-semibold fs-20 text-shadow mb-0 mt-2">253</p>
                <p class="mb-0 text-muted">Deals</p>
            </div>
            <div class="p-2 text-center flex-fill">
                <i class="ri-money-dollar-circle-line p-2 fs-5 rounded-circle lh-1 text-fixed-white shadow-sm bg-primary"></i>
                <p class="fw-semibold fs-20 text-shadow mb-0 mt-2">$12k</p>
                <p class="mb-0 text-muted">Contributions</p>
            </div>
            <div class="p-2 text-center flex-fill">
                <i class="ri-thumb-up-line p-2 fs-5 rounded-circle lh-1 text-fixed-white shadow-sm bg-primary"></i>
                <p class="fw-semibold fs-20 text-shadow mb-0 mt-2">$17k</p>
                <p class="mb-0 text-muted">Comitted</p>
            </div>
        </div>  
        <div class="p-3 border-bottom border-block-end-dashed">
            <div class="mb-0">
                <p class="fs-15 mb-2 fw-medium">Professional Bio :</p>
                <p class="text-muted mb-0">
                    I am <b class="text-default">Ethan Thompson,</b> hereby declaring that I am the founder and managing director of the prestigious company named Thompson Enterprises, and I serve as the Chief Financial Officer (CFO) of the company.
                </p>                                
            </div>   
        </div>  
        <div class="p-3 border-bottom border-block-end-dashed">
            <p class="fs-14 mb-2 fw-medium">Contact Information :</p>
            <div class="">
                <div class="d-flex align-items-center mb-2">
                    <div class="me-2">
                        <span class="avatar avatar-sm avatar-rounded bg-primary1-transparent">
                            <i class="ri-mail-line align-middle fs-14"></i>
                        </span>
                    </div>
                    <div>
                        ethanthompson&#64;example.com <span class="text-muted lh-1 rounded-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="top" ngbTooltip="Copy"><i class="ri-file-copy-fill"></i></span>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <div class="me-2">
                        <span class="avatar avatar-sm avatar-rounded bg-primary2-transparent">
                            <i class="ri-phone-line align-middle fs-14"></i>
                        </span>
                    </div>
                    <div>
                        +(333) 555-1234
                    </div>
                </div>
                <div class="d-flex align-items-center mb-0">
                    <div class="me-2">
                        <span class="avatar avatar-sm avatar-rounded bg-primary3-transparent">
                            <i class="ri-map-pin-line align-middle fs-14"></i>
                        </span>
                    </div>
                    <div>
                        1234 Elm Street, Apt 101, Springfield, IL, 62701, USA
                    </div>
                </div>                                
            </div>
        </div>
        <div class="p-3 border-bottom border-block-end-dashed d-flex align-items-center flex-wrap gap-4">
            <p class="fs-14 mb-0 fw-medium">Priority:</p>
            <div class="badge bg-success-transparent"><i class="ri-circle-fill lh-1 align-middle fs-9 me-1"></i> Low Priority</div>
        </div>
        <div class="p-3 border-bottom border-block-end-dashed d-flex align-items-center flex-wrap gap-4">
            <p class="fs-14 mb-0 fw-medium">Created Date:</p>
            <div>25-May-2024</div>
        </div>
        <div class="p-3 border-bottom border-block-end-dashed d-flex align-items-center flex-wrap gap-4">
            <p class="fs-14 mb-0 fw-medium">Lead Source:</p>
            <div><i class="ri-instagram-line bg-danger-transparent p-1 lh-1 align-middle fs-15 me-1 rounded"></i> Instagram</div>
        </div>
        <div class="p-3 border-bottom border-block-end-dashed d-flex align-items-center flex-wrap gap-4">
            <p class="fs-14 mb-0 fw-medium">Social Networks :</p>
            <div class="btn-list mb-0">
                <button class="btn btn-sm btn-icon btn-primary-light btn-wave waves-effect waves-light mb-0">
                    <i class="ri-facebook-line fw-medium"></i>
                </button>
                <button class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light mb-0">
                    <i class="ri-twitter-x-line fw-medium"></i>
                </button>
                <button class="btn btn-sm btn-icon btn-primary2-light btn-wave waves-effect waves-light mb-0">
                    <i class="ri-instagram-line fw-medium"></i>
                </button>
                <button class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light mb-0">
                    <i class="ri-github-line fw-medium"></i>
                </button>
                <button class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light mb-0">
                    <i class="ri-youtube-line fw-medium"></i>
                </button>
            </div>
        </div>
        <div class="p-3 border-bottom border-block-end-dashed d-flex align-items-center flex-wrap gap-4">
            <p class="fs-14 mb-0 me-4 fw-medium">Tags :</p>
            <div>
                <span class="badge bg-primary-transparent m-1">New Lead</span>
                <span class="badge bg-primary-transparent m-1">Others</span>
            </div>
        </div>
        <div class="p-3">
            <p class="fs-14 mb-2 fw-medium">Relationship Manager :
                <a class="bg-primary1-transparent fs-12 p-1 pe-2 rounded mb-0 float-end" href="javascript:void(0);"><i class="ri-add-line me-1 align-middle"></i>Add Manager</a>
            </p>
            <div class="avatar-list-stacked">
                <span class="avatar avatar-sm avatar-rounded">
                    <img src="./assets/images/faces/2.jpg" alt="img">
                </span>
                <span class="avatar avatar-sm avatar-rounded">
                    <img src="./assets/images/faces/8.jpg" alt="img">
                </span>
                <span class="avatar avatar-sm avatar-rounded">
                    <img src="./assets/images/faces/2.jpg" alt="img">
                </span>
                <span class="avatar avatar-sm avatar-rounded">
                    <img src="./assets/images/faces/10.jpg" alt="img">
                </span>
            </div>
        </div>
    </div>


</ng-template>
<!-- End:: Contact Details Offcanvas -->

<ng-template #content1 let-modal>
        <div class="modal-header">
            <h6 class="modal-title">Create Contact</h6>
            <button type="button" class="btn-close" (click)="modal.close('cross click')" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row gy-3">
                <div class="col-xl-12">
                    <div class="mb-0 text-center">
                        <span class="avatar avatar-xxl avatar-rounded">
                            <img [src]="url2 ? url2 :'./assets/images/faces/9.jpg'"  alt="" id="profile-img">
                            <span class="badge rounded-pill bg-primary avatar-badge">
                                <input  (click)="onSelectFile2($event)" type="file" name="photo" class="position-absolute w-100 h-100 op-0" id="profile-change">
                                <i class="fe fe-camera"></i>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-xl-6">
                    <label for="deal-title" class="form-label">Deal Title</label>
                    <input type="text" class="form-control" id="deal-title" placeholder="Deal Title">
                </div>
                <div class="col-xl-6">
                    <label for="contact-lead-score" class="form-label">Lead Score</label>
                    <input type="number" class="form-control" id="contact-lead-score" placeholder="Lead Score">
                </div>
                <div class="col-xl-12">
                    <label for="contact-mail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="contact-mail" placeholder="Enter Email">
                </div>
                <div class="col-xl-12">
                    <label for="contact-phone" class="form-label">Phone No</label>
                    <input type="tel" class="form-control" id="contact-phone" placeholder="Enter Phone Number">
                </div>
                <div class="col-xl-12">
                    <label for="company-name" class="form-label">Company Name</label>
                    <input type="text" class="form-control" id="company-name" placeholder="Company Name">
                </div>
                <div class="col-xl-12">
                    <label class="form-label">Lead Source</label>
                    <app-spk-ng-select 
                                        [options]="leads"
                                        [mainClass]="'form-control'"
                                        [clearable]="true"
                                        [multi]="true"
                                        [searchable]="true"
                                        [placeholder]="'Social Media'"
                                        [additionalProperties]="{}"
                                        (change)="handleSelectChange($event)">
                                        </app-spk-ng-select>

                </div>
                <div class="col-xl-6">
                    <label class="form-label">Last Contacted</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                            <app-spk-flatpickr [placeholder]="'Choose date and time'" class="form-control"
                            [mode]="'single'" [altInput]="false" [convertModelValue]="true" [enableTime]="true"
                            [dateFormat]="'Y-m-d H:i'"></app-spk-flatpickr>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <label class="form-label">Tags</label>
                    <app-spk-ng-select 
                    [options]="Tags"
                    [mainClass]="'form-control'"
                    [clearable]="true"
                    [multi]="true"
                    [searchable]="true"
                    [placeholder]="'Select Tag'"
                    [additionalProperties]="{}"
                    (change)="handleSelectChange($event)">
                    </app-spk-ng-select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn m-0 btn-primary1-light me-2" (click)="modal.close('cross click')"
                data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn m-0 btn-primary">Create Contact</button>
        </div>
</ng-template>