<apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" 
[yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis" [markers]="chartOptions.markers"
[dataLabels]="chartOptions.dataLabels" [stroke]="chartOptions.stroke"  [responsive]="chartOptions.responsive"
[grid]="chartOptions.grid" [colors]="chartOptions.colors" [labels]="chartOptions.labels" 
[title]="chartOptions.title" [fill]="chartOptions.fill" [legend]="chartOptions.legend" [theme]="chartOptions.theme"
[plotOptions]="chartOptions.plotOptions" [tooltip]="chartOptions.tooltip">
</apx-chart>

