<app-page-header title="Projects-List" title1="Projects" activeTitle="Projects-List"></app-page-header>

   <!-- Start::row-1 -->
   <div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-body p-3">
                <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
                    <div class="d-flex flex-wrap gap-1 project-list-main align-items-center">
                        <a routerLink="/apps/projects/create-project" class="btn btn-primary me-2"><i
                                class="ri-add-line me-1 fw-medium align-middle"></i>New Project</a>
                                <app-spk-ng-select 
                                [options]="Project"
                                [id]="'choices-single-default '"
                                [selectClass]="'creative-nft-select project-select'"
                                [clearable]="true"
                                [searchable]="true"
                                [hideSelected]="true"
                                [placeholder]="'Sort By'"
                                [additionalProperties]="{}">
                                </app-spk-ng-select>
                               
                    </div>
                    <div class="avatar-list-stacked">
                        <span class="avatar avatar-sm avatar-rounded">
                            <img src="./assets/images/faces/1.jpg" alt="img">
                        </span>
                        <span class="avatar avatar-sm avatar-rounded">
                            <img src="./assets/images/faces/2.jpg" alt="img">
                        </span>
                        <span class="avatar avatar-sm avatar-rounded">
                            <img src="./assets/images/faces/8.jpg" alt="img">
                        </span>
                        <span class="avatar avatar-sm avatar-rounded">
                            <img src="./assets/images/faces/12.jpg" alt="img">
                        </span>
                        <span class="avatar avatar-sm avatar-rounded">
                            <img src="./assets/images/faces/10.jpg" alt="img">
                        </span>
                        <span class="avatar avatar-sm avatar-rounded">
                            <img src="./assets/images/faces/4.jpg" alt="img">
                        </span>
                        <span class="avatar avatar-sm avatar-rounded">
                            <img src="./assets/images/faces/5.jpg" alt="img">
                        </span>
                        <span class="avatar avatar-sm avatar-rounded">
                            <img src="./assets/images/faces/13.jpg" alt="img">
                        </span>
                        <a class="avatar avatar-sm bg-primary avatar-rounded text-fixed-white" href="javascript:void(0);">
                            +8
                        </a>
                    </div>
                    <div class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search Project" aria-label="Search">
                        <button class="btn btn-light" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End::row-1 -->

<!-- Start::row-2 -->

<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body p-0">
                <div class="table-responsive">
                    <app-spk-reusable-tables  [columns]="projectColumn" tableClass=" text-nowrap"
                    [showCheckbox]="false"  >
                    @for(project of projectList;track $index){
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="me-2">
                                        <span class="avatar avatar-rounded p-1 bg-info-transparent">
                                            <img [src]="project.src"  alt="">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <a href="javascript:void(0);" class="fw-medium fs-14 d-block text-truncate project-list-title">{{project.title}}</a>
                                        <span class="text-muted d-block fs-12">{{project.subtext}} <span class="fw-medium text-default">{{project.percent}}</span>{{project.subtext1}}</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="text-muted mb-0 project-list-description">{{project.description}}</p>
                            </td>
                            <td>
                                <div class="avatar-list-stacked">
                                    @for(image of project.images;track $index){

                                        <span class="avatar avatar-sm avatar-rounded">
                                            <img [src]="image"  alt="img">
                                        </span>
                                    }
                                   
                                    <a class="avatar avatar-sm bg-primary avatar-rounded text-fixed-white" href="javascript:void(0);">
                                        +{{project.count}}
                                    </a>
                                </div>
                            </td>
                            <td>
                                {{project.assigneddate}}
                            </td>
                            <td>
                                {{project.duedate}} 
                            </td>
                            <td>
                                <div>
                                    <div class="progress progress-xs progress-animate" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-primary" [style.width]="project.progress +'%'" style="width: 65%"></div>
                                    </div>
                                    <div class="mt-1"><span class="text-primary fw-medium">{{project.progress}}%</span> Completed</div>
                                </div>
                            </td>
                            <td>
                                <span class="badge bg-{{project.bg}}-transparent">{{project.status}}</span>
                            </td>
                            <td>
                                <spk-dropdowns [Customclass]="'dropdown'" [class]="'btn btn-icon btn-sm btn-light no-caret'"  [Icon]="true" [IconClass]="'fe fe-more-vertical'"
                                [Menuclass]="'dropdown-menu'"  >
                                        <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="ri-eye-line align-middle me-1 d-inline-block"></i>View</a></li>
                                        <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="ri-edit-line align-middle me-1 d-inline-block"></i>Edit</a></li>
                                        <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="ri-delete-bin-line me-1 align-middle d-inline-block"></i>Delete</a></li>
                            </spk-dropdowns>
                            </td>
                        </tr>
                    }
                    </app-spk-reusable-tables>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End::row-2 -->
<ul class="pagination justify-content-end">
    <li class="page-item disabled">
        <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
    <li class="page-item">
        <a class="page-link" href="javascript:void(0);">Next</a>
    </li>
</ul>

